In [ ]:
#varibales built different things can do different things
txt = str:"hello"
numaric = int:90,float:90.0,complex:lj
sequence = list:[],tuple:(),range(100)
mapping types = dict{}
boolean = bool:True,False
sets = set{},frozenset
byte = bytes,bytearray,memoryview
none = None

In [6]:
x = "hello world" #str
print(type(x))

y = 90 #int
print(type(y))

z = 0.9 #floating point
print(type(z))

a = 80j # Complex numbers are written with a "j" as the imaginary part:
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

                                                          python string

In [45]:
#Strings in python are surrounded by either single quotation marks, or double quotation marks.
print('hello world')
print("hello world")
print("""hello world""")

#Quotes Inside Quotes
print("This is right's bro")
print("He is called 'Johnny'")
print('He is called "jhonny"')

#looping through a string
for x in "mango":
    print(x)
    
#string lenth
x = "hello world"
print(len(x))

#check string
txt = "are you free for join me!"
if "free" in txt:
    print("yes in txt")
else:
    print("No in txt")

hello world
hello world
hello world
This is right's bro
He is called 'Johnny'
He is called "jhonny"
m
a
n
g
o
11
yes in txt

                                                        Slicing String

In [46]:
a = "hello world"
print(a[2:5])

#slice form the start
b = "hello world"
print(b[3:])

#slice form the end
c = "hello world"
print(c[:10])

#negative indexing
x = "hello bro, how are you"
print(x[-10:-1])

#start,stop,step
x = "welcome bro and how  your work"
print(x[2:30:3])

llo
lo world
hello worl
ow are yo
lmb do uwk

                                                             Modify string

In [52]:
#Upper Case
a = "Hello World"
print(a.upper())

#lower case
b = "Hello world"
print(b.lower())

#remove whitespace
c = "   hello"
print(c.strip())

#replace string
d = "while loop"
print(d.replace("while","for"))

#split string
a  = "hello, world"
b = a.split(",")
print(b)

HELLO WORLD
hello world
hello
for loop
['hello', ' world']

                                                          String Concatenation

In [54]:
x = "hello"
y = "world"
z = x + y
print(z)

x = "hello"
y = "world"
z = x+ " "+ y
print(z)

helloworld
hello world

                                                             f.string

In [70]:
age = 18
x = f"my name is masir and ,I am {age} age"
print(x)

price = 9 # :.2f two zero added
y = f"my name is masir and my salary is {price:.2f} dollars"
print(y)

#escape character
#Single Quote	
txt = "we are so-called \'vallings\' form the north"
print(txt)

txt = 'we are so-called \"vallings\" form the north'
print(txt)

txt = 'we are \t so-called vallings\n form the north'
print(txt)

my name is masir and ,I am 18 age
my name is masir and my salary is 9.00 dollars
we are so-called 'vallings' form the north
we are so-called "vallings" form the north
we are 	 so-called vallings
 form the north

                                                     string methods

In [48]:
#capatilize convert first element in uppercase
a = "hello world"
print(a.capitalize())

#casefold convert string into lower case
b = "Hello, And Welcome To My World!"
print(b.casefold())

#endswith Returns true if the string ends with the specified value
c ="hello world"
print(c.endswith("world"))

#Returns the number of times a specified value occurs in a string
a = "hello bro how are you bro"
print(a.count("bro"))

#expantabs Set the tab size to 2 whitespaces:
x = "h\te\tl\tl\to"
print(x.expandtabs())

#Returns a centered string
x = "banana"
print(x.center(20))

#find: Searches the string for a specified value and returns the position of where it was found
x = "welcome to Hello world"
print(x.find("to"))

#format : A specified value in a string
x = ("for the {price:.2f} dollars")
print(x.format(price = 98))

#isalpha : is return treu if string all value in alphanumeric
txt = "helloworld"
print(txt.isalpha())

Hello world
hello, and welcome to my world!
True
2
h       e       l       l       o
       banana
8
for the 98.00 dollars
True

                                                        python boolean

In [127]:
print(10 > 9)
print(10 == 9)
print(10 < 9)


#check if else condition is true and false
a = 900
b = 20

if b > a:
    print("b is greater than a")
else:
    print("b is not greater then a")

#Evaluate Values and Variables
print(bool("hello"))
print(bool())

#Most Values are True
print(bool("happy"))
print(bool(234))
print(bool(["apple","cherry","pineapple"]))

#empty value must be false
print(bool(False))
print(bool(None))
print(bool(""))
print(bool([]))
print(bool({}))

True
False
False
b is not greater then a
True
False
True
True
True
False
False
False
False
False

                                                            Operators

In [ ]:
Arthematic operators(+,-,*,/,%,Exponentions**,floor division//)
Assignment operators(=,+=,-=,*=,/=,**=,//=,&=,!=,^=,<=,>=:=,|=)
comprision operators(=,!=,>,<,>=,<=)
identity operators(is,is not)
logical operators(and,or,not)
membership operators(in,in not)
bitwise operators(&,|,^,~,<<,>>)

In [171]:
#Arthemetic operators
x = 9 
y = 90
print(x + y)

#assignment operators
x = 9
x +=9
print(x)

#comparision operators
x = 9
y = 8
print(y > x)

#logical operators 
#and : Returns True if both statements are true
x = 9
print(x > 8 and x > 2)

#OR : Returns True if one of the statements is true
x = 5
print(x > 3 or x > 14)

#not : Reverse the result, returns False if the result is true	
x = 5
print(not(x > 3 and x < 10))

#identity operators(is,is not)
x = ["apple","mango"]
y = ["apple","mango"]
z = x

print(x is not y)
print(z is x)
print(y is z) # returns False because x is not the same object as y, even if they have the same content

#membership operators (in , not in)
x = "orange is my favorite"
print( "orange" in x)

y = "orange is not my favroite"
print("orange " not in x)

99
18
False
True
True
False
True
True
False
True
False

                                                              Python List

In [183]:
#List is a collection which is ordered and changeable. Allows duplicate members
#list are mutuable 

list = ["apple","mango","pineapple","apple"]
print(list)

#list len
list = ["apple","mango","pineapple","apple"]
print(len(list))

#list items are data types
list1 = ["apple","mango"]
list2 = [23,43,23]
list3 = [True,False]
print(list1)
print(list2)
print(list3)

['apple', 'mango', 'pineapple', 'apple']
4
['apple', 'mango']
[23, 43, 23]
[True, False]

                                                        Access list items

In [15]:
thislist = ["apple", "banana","pineapple"]
print(thislist[1])

thelist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thelist[2:6])


#negative indexing
thislist = ["apple", "banana","pineapple"]
print(thislist[-1])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-6:-2])


#will start with the firts items
x = ["apple","apple","cherry","pineaple","cherry"]
print(x[:3])

#the range will go on to the end of the list
y = ["apple","cherry","pineaple","cherry"]
print(x[1:])

#Check if items exist
x = ["banana","apple","pineapple"]
if "pineapple" in x:
    print("yes,'pineapple'is in the fruits list")

banana
['cherry', 'orange', 'kiwi', 'melon']
pineapple
['banana', 'cherry', 'orange', 'kiwi']
(['apple', 'apple', 'cherry', 'pineaple', 'cherry'],)
()
yes,'pineapple'is in the fruits list

                                                      change list items

In [49]:
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrent"
print(thislist)

list1 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list1[1:3] = ["blackcurrent","pineapple"]
print(list1)

['apple', 'blackcurrent', 'cherry']
['apple', 'blackcurrent', 'pineapple', 'orange', 'kiwi', 'mango']

In [253]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = "kiwi"
print(mylist)

mylist = ['apple', 'banana', 'cherry','orange']
mylist[1:3] = ["kiwi","mango"]
print(mylist)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:2] = ["pineapple"]
print(thislist)

#insert items
list1 = ["apple","mango","pineapple","watermelon"]
list1.insert(3,"melon")
print(list1)

['kiwi', 'banana', 'cherry']
['apple', 'kiwi', 'mango', 'orange']
['apple', 'pineapple', 'cherry', 'orange', 'kiwi', 'mango']
['apple', 'mango', 'pineapple', 'melon', 'watermelon']

                                                     Add list items

In [261]:
#append use at the end of this items:
thislist = ["apple","mango","pineapple"]
thislist.append("orange")
print(thislist)

#The inser method inserts an item at the specified index:
thislist = ["apple","pineapple","watermelon"]
thislist.insert(2,"kiwi")
print(thislist)

#from another list to the current list, use the extend() method.
thislist = ["apple","mango","pineapple"]
l1 = [1,2,3,4,5]
thislist.extend(l1)
print(thislist)

['apple', 'mango', 'pineapple', 'orange']
['apple', 'pineapple', 'kiwi', 'watermelon']
['apple', 'mango', 'pineapple', 1, 2, 3, 4, 5]

                                                     Remove list items

In [269]:
#romve the specified items
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

#pop remove the specified index
list = ["apple","mango","pineapple"]
list.pop(0)
print(list)

#remove the last index
list = ["apple","mango","pineapple"]
list.pop()
print(list)

#del also using indexing
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

#clear all the elements
list = ["apple","mango","pineapple"]
list.clear()
print(list)

['apple', 'cherry']
['mango', 'pineapple']
['apple', 'mango']
['banana', 'cherry']
[]

                                                             loops list

In [295]:
#for loop using list
thislist = ["apple","mango","pineapple"]
for i in thislist:
    print(i)

apple
mango
pineapple

In [296]:
#indexing using for loop in list
thelist = ["kiwi","melon"]
for i in range(len(thelist)):
    print(thelist[i])

kiwi
melon

In [21]:
#while loop using list
list1 = [1,2,3,4,5]
i = 0
while i < len(list1):
    print(list1[i])
    i += 1

1
2
3
4
5

In [51]:
#comprihension loop using list
list2 = ["apple","kiwi","orange"]
[print(x) for x in list2]

apple
kiwi
orange

[None, None, None]

                                                     List comprehension

In [328]:
#conditions
list =["apple","kiwi","mango"]
nl = [x for x in list if x !="kiwi"]
print(nl)

['apple', 'mango']

In [335]:
#range functions
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

                                                             Sort List

In [22]:
#sort list number wise
x = ["pineapple","orange","mango","apple","cherry"]
x.sort()
print(x)

['apple', 'cherry', 'mango', 'orange', 'pineapple']

In [2]:
#Sort List in decending 
x = ["pineapple","orange","mango","apple","cherry"]
x.sort(reverse = True)
print(x)

['pineapple', 'orange', 'mango', 'cherry', 'apple']

In [3]:
thislist = ["apple","mango","cherry"]
thislist.reverse()
print(thislist)

['cherry', 'mango', 'apple']

                                                       Jions List

In [4]:
#There are several ways to join, or concatenate, two or more lists in Python. 
list1 = ["apple","mango","orange"]
list2 = [1,2,3]
list3 = list1 + list2
print(list3)

['apple', 'mango', 'orange', 1, 2, 3]

In [54]:
#for loop to join list
list1= ["a","b","c"]
list2 = [1,2,3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [4]:
#Use the extend() method to add list2 at the end of list1:
fruits = ["mango","apple","cherry"]
vegetables = ["potato","tomato","carrot"]

fruits.extend(vegetables)
print(fruits)

['mango', 'apple', 'cherry', 'potato', 'tomato', 'carrot']

                                                              Tuple

In [8]:
#Tuple items are ordered, unchangeable, and allow duplicate value
#tuple is immutable
#immutable = unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
tuple = ("apple","mango","pineapple")
print(tuple)

('apple', 'mango', 'pineapple')

In [7]:
#tuple len
thistuple = ("mango","orange","pineapple")
print(len(thistuple))

3

In [12]:
#One item tuple, remember the comma:
tuple = ("apple",)
print(type(tuple))

#not a tuple if you no add the comma
tuple = ("apple")
print(type(tuple))

<class 'tuple'>
<class 'str'>

                                                      Acsess Tuple

In [22]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [26]:
#negative indexing
fruits = ("apple","grapes","cherry","mango","pineapple","watermelon","melon")
print(fruits[-4:-1])

('mango', 'pineapple', 'watermelon')

In [29]:
#range of indexing
fruits = ("apple","grapes","cherry","mango","pineapple","watermelon","melon")
print(fruits[2:6])

('cherry', 'mango', 'pineapple', 'watermelon')

In [35]:
# if Item Exists
tuple = ("apple is my favorite fruit")
if "apple" in tuple1:
    print("'apple' is in the fruits tuple1")

'apple' is in the fruits tuple1

                                                       Update tuples

In [56]:
#there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.
#tuple convert to list
t1 = ("apple","mango","pineapple")
l1 = list(t1)
l1[1] = "orange"
t1 = tuple(l1)
print(t1)

('apple', 'orange', 'pineapple')

In [7]:
#append  list to convert they tuple
t1 = ("apple","orange")
l1 = list(t1)
l1.append("cherry")
t1 = tuple(l1)
print(t1)

('apple', 'orange', 'cherry')

In [58]:
#sort list to convert they tuple
t1 = (23,45,12,9,1,23,12,100,34)
l1 = list(t1)
l1.sort()
t1 = tuple(l1)
print(t1)

(1, 9, 12, 12, 23, 23, 34, 45, 100)

In [64]:
#romve list to tuple
t1= ("apple","mango","kiwi")
l1 = list(t1)
l1.remove("kiwi")
t1 = tuple(l1)
print(t1)

('apple', 'mango')

                                                         unpack tuple

In [14]:
#In Python, we are also allowed to extract the values back into variables. This is called "unpacking":
fruits = ("apple","mango","grapes")
(red , yellow ,green) = fruits

print(red)
print(yellow)
print(green)

apple
mango
grapes

In [22]:
#Using Asterisk*
fruits = ("grapes","mango","cherry", "strawberry", "raspberry")
(green,yellow,*red) = fruits
print(green)
print(yellow)
print(red)

fruits = ("grapes","mango","cherry", "strawberry", "raspberry")
(green,*yellow,red) = fruits
print(green)
print(yellow)
print(red)

grapes
mango
['cherry', 'strawberry', 'raspberry']
grapes
['mango', 'cherry', 'strawberry']
raspberry

                                                          loop for tuple

In [26]:
#Loop Through a Tuple
tuple1 =  ("apple","mango","cherry")
for i in tuple1:
    print(i)

apple
mango
cherry

In [29]:
#Loop Through the Index Numbers
fruits = ("apple","mango","kiwi","grapes")
for i in range(len(fruits)):
    print(fruits[i])

apple
mango
kiwi
grapes

In [31]:
#Using a While Loop
t2 = (23,4,2,13,12)
i = 0
while i < len(t2):
    print(t2[i])
    i += 1

23
4
2
13
12

                                                       joins tuples

In [39]:
#To join two or more tuples you can use the + operator: 
tuple1 = ("apple","cherry","pineapple")
tuple2 = ("kiwi","pineapple")
tuple3 = tuple1 + tuple2
print(tuple3)

('apple', 'cherry', 'pineapple', 'kiwi', 'pineapple')

In [40]:
#multiply tuple by 2:
fruits = ("apple","mango","cherry")
mytuple = fruits*2
print(mytuple)

('apple', 'mango', 'cherry', 'apple', 'mango', 'cherry')

In [23]:
#Return the number of times the value 5 appears in the tuple:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

#Search for the first occurrence of the value 8, and return its position:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

2
3

In [ ]:
                                                        tuple methods

In [69]:
#count there numbers and print
t1 = (90,2,12,1,312,2,1,90)
t = t1.count(1)
print(t)

2

In [ ]:
                                                       tuple index

In [70]:
#indexing the spcified number
tuple = (23,24,25,26,18,90)
t1 = tuple.index(18)
print(t1)

4

                                                       python sets

In [55]:
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#imp
x = set()
print(x)

#sets are written in curly brarces
thisset = {"apple", "banana", "cherry"}
print(thisset)

set()
{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'banana', 'pineapple', 'orange'}

In [24]:
#duplicate not allow in sets
mysets = {"apple", "banana", "cherry","orange","pineapple"}
print(mysets)

{'cherry', 'orange', 'pineapple', 'banana', 'apple'}

In [25]:
#sets are unordered
mysets = {1,2,3,4,5,6,7,8,9,18292,82,32,13,24,13,13,165,144,13}
print(mysets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 144, 82, 24, 32, 165, 18292}

                                                        Access set items

In [62]:
#loop for sets
thisset = {"apple","banana","cherry"}
for i in thisset:
    print(i)

apple
cherry
banana

In [71]:
#Check if "mango" is present in the set:
sets = {"apple","mango","cherry"}
print("mango" in sets)

#Check if "banana" is NOT present in the set:
myset = {"apple","mango","banana"}
print("banana" not in myset)

True
False

In [ ]:
                                                            add sets

In [26]:
#To add one item to a set use the add() method.
t1 = {"apple","mango","cherry"}
t1.add("pineapple")
print(t1)

{'cherry', 'mango', 'apple', 'pineapple'}

In [79]:
#add sets like with update() methods
sets = {"apple","mango","banana"}
myset = {"kiwi","pineapple"}
sets.update(myset)
print(sets)

{'kiwi', 'pineapple', 'apple', 'banana', 'mango'}

In [80]:
#add any iterables 
sets = {"apple","grapes","mango"}
tuple = ("cherry","grapes","kiwi") #can also change in list also
sets.update(tuple)
print(sets)

{'cherry', 'mango', 'grapes', 'kiwi', 'apple'}

In [ ]:
                                                       Python - Remove Set Items

In [27]:
#they can also using to remove with discard
thisset = {"apple","mango","cherry"}
thisset.discard("mango")
print(thisset)

{'cherry', 'apple'}

In [30]:
#in sets pop() can romve random items

thisset = {"banana","cherry","mango"}
x = thisset.pop()
print(x)
print(thisset)

#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

cherry
{'mango', 'banana'}
set()

In [ ]:
                                                          Loop sets

In [94]:
mysets = {"apple","mango","cherry","pineapple","kiwi"}

for x in mysets:
    print(x)

kiwi
pineapple
apple
cherry
mango

In [ ]:
                                                      Join  sets

In [3]:
#The union() method returns a new set with all items from both sets.
set1 = {"apple","mango","cherry"}
set2 = {"potatao","tomato"}

set3 = set1.union(set2)
print(set3)

#You can use the | operator instead of the union() method, and you will get the same result.

set1 = {"apple","mango","pineapple"}
set2 = {"kiwi","cherry"}
set3 = set1 | set2
print(set3)

#jions multiple sets
set1 = {"apple","mango","cherry"}
set2 = {"kiwi","pineapple"}
set3 = {"tomato","potato"}
set4 = {23,29,35,15}

set5 = set1 | set2 | set3 | set4 #jioning the sets
print(set5)

{'mango', 'cherry', 'apple', 'potatao', 'tomato'}
{'mango', 'kiwi', 'cherry', 'apple', 'pineapple'}
{'mango', 'kiwi', 35, 'tomato', 'pineapple', 15, 23, 'cherry', 'apple', 29, 'potato'}

In [21]:
#The update() changes the original set, and does not return a new set.
set1 = {"apple","mango","kiwi"}
set2 = {"banana","watermelon","orange"}
set2.update(set1)
print(set2)

{'mango', 'kiwi', 'banana', 'orange', 'watermelon', 'apple'}

In [7]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
set1 = {"apple","mango","cherry","watermelon","melon"}
set2 = {"pineapple","apple","melon","grapes","banana"}
set3 = set1.intersection(set2)
print(set3)

#You can use the & operator instead of the intersection()
set1 = {"apple","mango","grapes"}
set2 = {"google","microsoft","apple"}
set3 = set1 & set2
print(set3)

{'melon', 'apple'}
{'apple'}

In [23]:
#difference() Keep all items from set1 that are not in set2:
set1 = {"apple","mango","pineapple"}
set2 = {"potato","tomato","apple"}

set3 = set1.difference(set2)
print(set3)

#You can use the - operator instead of the difference() method, and you will get the same result.
set1 = {89,34,1,23}
set2 = {90,91,1,23}

set3 = set1 - set2
print(set3)

{'pineapple', 'mango'}
{89, 34}

In [24]:
#symmetric_difference() method will keep only the elements that are NOT present in both sets.

set1 = {"apple","mango","cherry","banana"} #'apple' intersection is not print in symmetric_difference
set2 = {"microsoft","google","apple","firefox"} #'apple'

set3 = set1.symmetric_difference(set2)
print(set3)

set1 = {"apple","mango","orange"}
set2 = {"microsoft","google","apple"}
set3 = set1 ^ set2
print(set3)

{'mango', 'google', 'microsoft', 'firefox', 'banana', 'cherry'}
{'mango', 'orange', 'google', 'microsoft'}

In [ ]:
                                                              Dictionary

In [36]:
#Dictionary is a collection which is ordered** and changeable. No duplicate members.
mydict = {
    #key   #value
    "fruits" : "apple",
    "vegetable" : "potato",
    "year" : "3422"
}
print(mydict)

{'fruits': 'apple', 'vegetable': 'potato', 'year': '3422'}

In [39]:
#Duplicates Not Allowed
mydict = {
    "fruits" : "apple",
    "vegetable" : "potato",
    "year" : "3422",
    "year" : "1920"
}
print(mydict["year"])

1920

In [41]:
#Dictionary Length
mydict = {
    "fruits" : "apple",
    "vegetable" : "tomato",
    "year" : "1920",
    "car" : "Volvo"
}
print(len(mydict))

4

In [42]:
#mydict : String, int, boolean, and list data types:
mydict = {
    "fruits" : "apple",
    "vegetable" : "tomato",
    "year" : "1920",
    "car" : ["apple","mango","banana"]
}
print(mydict)

{'fruits': 'apple', 'vegetable': 'tomato', 'year': '1920', 'car': ['apple', 'mango', 'banana']}

                                                     Access Dictionary Items

In [22]:
#There is also a method called get() that will give you the same result:
mydict= {
    "fruits" : "apple",
    "vegetable" : "tomato",
    "year" : "9090",
}
x = mydict.get("year")
print(x)

9090

In [31]:
#keys() method will return a list of all the keys in the dictionary.
mydict = {
    "fruits" : "grapes",
    "year" : "2341",
    "car" : "BMW"
}

x = mydict.keys()
print(x)

dict_keys(['fruits', 'year', 'car'])
dict_keys(['fruits', 'year', 'car', 'color'])

In [24]:
#keys will add in new keys 
mydict = {
    "fruits" : "apple",
    "vegetable" : "carrot",
    "year" : "2023"
}
x = mydict.keys()
print(x)#before  the change
mydict["car"] = "Audi"
print(x)#after the change

dict_keys(['fruits', 'vegetable', 'year'])
dict_keys(['fruits', 'vegetable', 'year', 'car'])

In [25]:
#The values() method will return a list of all the values in the dictionary.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [27]:
#Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [26]:
#The items() method will return each item in a dictionary, as tuples in a list.

mydict ={
    "fruits" : "pineapple",
    "vegetables" : "tomato",
    "car" : "Audi"
}
mydict.items()

dict_items([('fruits', 'pineapple'), ('vegetables', 'tomato'), ('car', 'Audi')])

In [28]:
#Make a change in the original dictionary, and see that the items list gets updated as well:
mdict = {
    "fruits" : "mango",
    "vegetable" : "tomato",
    "year" : "2020"
}
x = mdict.items()
print(x)
mdict["vegetable"] = "carrot"
mdict["year"] = "2025"
print(x)

dict_items([('fruits', 'mango'), ('vegetable', 'tomato'), ('year', '2020')])
dict_items([('fruits', 'mango'), ('vegetable', 'carrot'), ('year', '2025')])

                                                   change dictionary items

In [29]:
#You can change the value of a specific item by referring to its key name:
mydict = {
    "fruits" : "mango",
    "car" : "Volvo",
    "year" : "2022"
}
mydict["year"] = "2025"
print(mydict)

{'fruits': 'mango', 'car': 'Volvo', 'year': '2025'}

In [32]:
#update dictionary:the "year" of the car by using the update() method:
fordict ={
    "fruits" : "apple",
    "vegetable" : "carrot",
    "year" : 2022
}
fordict.update({"year" : 2023})
print(fordict)

{'fruits': 'apple', 'vegetable': 'carrot', 'year': 2023}

In [ ]:
                                                       Add dictionary items

In [3]:
mdict = {
    "fruits" : "apple",
    "vegetables" : "potato",
    "car" : "BMW"
}
mdict["color"] = "white"
print(mdict)

{'fruits': 'apple', 'vegetables': 'potato', 'car': 'BMW', 'color': 'white'}

In [4]:
#Add a color item to the dictionary by using the update() method:
mydict = {
    "fruits" : "pineapple",
    "car" : "Audi",
    "year" : "2023"
}
mydict.update({"color": "white"})
print(mydict)

{'fruits': 'pineapple', 'car': 'Audi', 'year': '2023', 'color': 'white'}

                                                   Remove Dictionary Items

In [12]:
#The pop() method removes the item with the specified key name:
mydict = {
    "fruits" : "apple",
    "car" : "Audi",
    "year" : 1920
}
mydict.pop("year")
print(mydict)

{'fruits': 'apple', 'car': 'Audi'}

In [24]:
#the popitems has been remove the random items
mdict = {
    "fruits" : "mango",
    "year" : "2023",
    "car" : "Ford"
}
mdict.popitem()
print(mdict)

{'fruits': 'mango', 'year': '2023'}

In [35]:
#The del keyword removes the item with the specified key name:
mydict = {
    "vegetables" : "carrot",
    "car" : "BMW",
    "year" : 2003
}
del mydict["year"]
print(mydict)

{'vegetables': 'carrot', 'car': 'BMW'}

In [17]:
#The clear() method empties the dictionary:
dict = {
    "fruits" : "mango",
    "car" : "audi"
}
dict.clear()
print(dict)

{}

In [ ]:
                                                          Loop dictonary

In [18]:
#Print all key names in the dictionary, one by one:
mydict = {
    "fruits" : "apple",
    "car" : "volvo",
    "year" : "2024"
}
for x in mydict:
    print(x)

fruits
car
year

In [22]:
#Print all values in the dictionary, one by one:
mydict = {
    "fruits" : "apple",
    "vegetables" : "potato",
    "code language" : "python"
}
for x in mydict.values():
    print(x)

apple
potato
python

In [25]:
#print keys in the dictionary ,one by one:
mydict = {
    "fruits" : "cherry",
    "car name" : "Defender",
    "year" : "2025"
}
for x in mydict.keys():
    print(x)

fruits
car name
year

In [36]:
#print items in the dictionary ,one by one:
mdict= {
    "fruits" :"apple",
    "vegetabl" : "carrot",
    "rose" : "mogra"
}
for x,y in mdict.items():
    print(x,y)

fruits apple
vegetabl carrot
rose mogra

                                                         Nested dictionary

In [40]:
#nested dictionary
myfamily = {
    "chlid1":{
        "name" : "amaan",
        "age" : 90
    },
    "child2":{
        "name" : "nabil",
        "age" :  73
    },
    "chlid3":{
        "name" : "rehan",
        "age" : 89
    }
}
print(myfamily)

{'chlid1': {'name': 'amaan', 'age': 90}, 'child2': {'name': 'nabil', 'age': 73}, 'chlid3': {'name': 'rehan', 'age': 89}}

In [44]:
#Access Items in Nested Dictionaries
myfamily =  {
    "child1":{
        "name": "rehan",
        "year" : 2023
    },
    "child2" :{
        "name" : "nabil",
        "year" : 2007     
    },
    "child3":{
        "name" : "adnan",
        "year" : 2003
    }
}
print(myfamily["child1"]["name"])

rehan

In [71]:
#dict fromkeys
x = ('key1','key2','key3','key4')
y = 0 
mydict = dict.fromkeys(x,y)
print(mydict)

{'key1': 0, 'key2': 0, 'key3': 0, 'key4': 0}

In [73]:
def test1():  # defining 1st function
    price = 900  # local variable
    print("Value of price in test1 function :", price)

def test2():  # defining 2nd function
    # NameError: name 'price' is not defined
    print("Value price in test2 function:", price)

# call functions
test1()
test2()

Value of price in test1 function : 900

NameError: name 'price' is not defined

In [74]:
def test1():  # defining 1st function
    global price
    price = 900  # local variable
    print("Value of price in test1 function :", price)

def test2():  # defining 2nd function
    # NameError: name 'price' is not defined
    print("Value price in test2 function:", price)

# call functions
test1()
test2()
print('price is',price)

Value of price in test1 function : 900
Value price in test2 function: 900
price is 900

In [76]:
def func(a,b):
    return a,b
f=func(5,8)
print(f)

(5, 8)

In [84]:
lst=[1,2,3]
print('id before insertion',id(lst))
lst.append(4)
print(lst)
print('id after insertion',id(lst))

id before insertion 2110183829056
[1, 2, 3, 4]
id after insertion 2110183829056

In [86]:
tup=(1,2,3)
print('id before insertion',id(tup))
new_tup=tup+(4,)
print(new_tup)
print('id after insertion',id(new_tup))

id before insertion 2110183852992
(1, 2, 3, 4)
id after insertion 2110182414416

In [88]:
x=6
y=2
l=lambda x,y:x+y
print(list(l))

TypeError: 'function' object is not iterable