# Get todays date

In [1]:
from datetime import date
today=date.today()
print("Today's date is",today)

Today's date is 2023-04-11

# Current date in different format

In [6]:
from datetime import date
today=date.today()

#d/m/y
d1=today.strftime("%d/%m/%Y")
print("d1",d1)

#textual month
d2=today.strftime("%B %d %Y")
print("d2",d2)

#month abbrevation day and year
d3=today.strftime("%b-%d-%Y")
print("d3",d3)

d1 11/04/2023
d2 April 11 2023
d3 Apr-11-2023

# Get current date and time in python

In [10]:
from datetime import datetime

now=datetime.now()
print(now)

#d/m/y h/m/s
dt=now.strftime("%d/%m%Y %H:%M:%S")
print(dt)

2023-04-11 14:53:16.341547
11/042023 14:53:16

# get todays year month and day

In [14]:
from datetime import date

date=date.today()
print(date)
print("Current year",date.year)
print("Current month",date.month)
print("Current day",date.day)

2023-04-11
Current year 2023
Current month 4
Current day 11

# datetime.timedelta Class

In [22]:
#A timedelta object represents the difference between two dates or times. For example,
from datetime import datetime,date
t1=date(year=2018,month=7,day=12)
t2=date(year=2017,month=5,day=12)
t3=t1-t2
print(t3)

426 days, 0:00:00

In [23]:
#Difference between two timedelta objects

from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)

t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

# strftime() method

In [27]:
from datetime import datetime

time=datetime.now()

t=time.strftime("%H:%M:%S")
print('time',t)

t1=time.strftime("%m/%d/%Y, %H:%M:%S")
print("m/d/y hr/min/sec",t1)

time 15:06:36
m/d/y hr/min/sec 04/11/2023, 15:06:36

# strptime() method

In [30]:
#The strptime() method takes two arguments:1.a string representing date and time 2.format code equivalent to the first argument

from datetime import datetime

date_str="28 December 2001"

obj=datetime.strptime(date_str,"%d %B %Y")
print('obj',obj)

obj 2001-12-28 00:00:00

# Create a digit clock in python

In [ ]:
import time
while True:
    localtime=time.localtime()
    res=time.strftime("%I:%M:%S %p",localtime)
    print(res)
    time.sleep(1)

11:45:07 AM
11:45:08 AM
11:45:09 AM
11:45:10 AM
11:45:11 AM
11:45:12 AM
11:45:13 AM
11:45:14 AM
11:45:15 AM
11:45:16 AM
11:45:17 AM
11:45:18 AM
11:45:19 AM
11:45:20 AM
11:45:21 AM
11:45:22 AM

In [2]:
import calendar

yy=2023
mm=1
print(calendar.month(yy,mm))

    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [3]:
print("the calender of the year 2023 is")
print(calendar.calendar(2023,2,1,6))

the calender of the year 2023 is
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [4]:
import calendar
MM,DD,YYYY=map(int,input().split())
print(calendar.day_name[calendar.weekday(YYYY,MM,DD)].upper())

02 02 2023
THURSDAY

In [5]:
from datetime import date
# get today's date
d = date.today()
# d="2024-07-01"
# d = 2023-02-12
print('Date is:', type(d))
d=str(d)
print(type(d))

Date is: <class 'datetime.date'>
<class 'str'>

In [6]:
import calendar
from datetime import date
from datetime import date
# get today's date
d = date.today()
# d="2024-07-01"
# d = 2023-02-12
print('Date is:', d)
print()

# get day name in english
x = calendar.day_name[d.weekday()]
print('Weekday name is:', x)
if x=="Sunday":
    print("weekend")
else:
    print("week day")

Date is: 2023-07-02

Weekday name is: Sunday
weekend

In [7]:
from datetime import datetime
import calendar
from datetime import date


# get current datetime
# dt = datetime.now()
dt=date.today()
# dt=2023-2-9
print('Datetime is:', dt, type(dt))

# weekday (Monday =0 Sunday=6)
print('Weekday Number:', dt.weekday())

# isoweekday(Monday =1 Sunday=6)
print('ISO Weekday Number:', dt.isoweekday())

# get weekday name
print('Weekday Name:', dt.strftime('%A'))

# get day name
x = calendar.day_name[dt.weekday()]
print('Weekday name is:', x)

Datetime is: 2023-07-02 <class 'datetime.date'>
Weekday Number: 6
ISO Weekday Number: 7
Weekday Name: Sunday
Weekday name is: Sunday