# Find Max Score

In [1]:
dict1={"Ali":{"Score":91},"Akbar":{"Score":45},"Bilal":{"Score":30}}
def maximum():
    maxm=0
    stu=" "
    for i in dict1:
        Score=dict1.get(i)['Score']
        if Score > maxm:
            maxm=Score
            stu=i
    return {stu:maxm}
maximum()

{'Ali': 91}

# Find even and odd using Lambda

In [3]:
lst=[7,2,4,9,3]
flst=[(lambda x:"even" if x%2==0 else "odd")(x)for x in lst]
print(flst)

['odd', 'even', 'even', 'odd', 'odd']

# List of name having age greater than 19

In [1]:
dict1=[{'name':'Minhaj','age':22},{'name':'suraiya','age':23},{'name':'sadiq','age':21},{'name':'masir','age':19},
       {'name':'maroof','age':18}]
names=[]
for i in dict1:
    var=i.get('age')
    if var>19:
        names.append(i.get('name'))
print(names)

['Minhaj', 'suraiya', 'sadiq']

# Swap the adjacent element of itarable using function take indexing as a arguments

In [12]:
def adj_swap(lst,a1,b1):
    
    lst[a1],lst[b1]=lst[b1],lst[a1]
    return lst

lst=[21,45,32,89]
a=adj_swap(lst,1,2)

print(a)

[21, 32, 45, 89]

# Swap adjacent element

In [40]:
swap_list=[2,1,3,4,5]
for i in (0,len(swap_list),2):
    if i<len(swap_list):
        swap_list[i],swap_list[i+1] = swap_list[i+1],swap_list[i]
print(swap_list)

[1, 2, 4, 3, 5]

In [13]:
a=[['--' ,'EM L AW', '--' ,'--', 'EM L AW'],
   ['BDLT L VB' ,'--', '--','--' ,'BDLT L VB'],
   ['CCS L ZM', 'BDA L AS', 'BDA L AS' ,'BC g VB / CC g ZM' ,'CCS L ZM'],
   ['--' ,'--' ,'--' ,'EM L AW' ,'BC g VB / CC g ZM'],
   ['--', '--' ,'CCS L ZM' ,'BDA L AS' ,'--'],
   ['EM L AW' ,'CCS L ZM' ,'BC g VB / CC g ZM' ,'BDLT L VB' ,'--']]
b=[{"Monday":i[0],"Tuesday":i[1],"Wednesday":i[2],"Thursday":i[3],"Friday":i[4]} for i in a]
#b=[i[0] for i in a]
#print(b)
d=[]
for i in a:
    d.append({"Monday":i[0],"Tuesday":i[1],"Wednesday":i[2],"Thursday":i[3],"Friday":i[4]})
print(d)

[{'Monday': '--', 'Tuesday': 'EM L AW', 'Wednesday': '--', 'Thursday': '--', 'Friday': 'EM L AW'}, {'Monday': 'BDLT L VB', 'Tuesday': '--', 'Wednesday': '--', 'Thursday': '--', 'Friday': 'BDLT L VB'}, {'Monday': 'CCS L ZM', 'Tuesday': 'BDA L AS', 'Wednesday': 'BDA L AS', 'Thursday': 'BC g VB / CC g ZM', 'Friday': 'CCS L ZM'}, {'Monday': '--', 'Tuesday': '--', 'Wednesday': '--', 'Thursday': 'EM L AW', 'Friday': 'BC g VB / CC g ZM'}, {'Monday': '--', 'Tuesday': '--', 'Wednesday': 'CCS L ZM', 'Thursday': 'BDA L AS', 'Friday': '--'}, {'Monday': 'EM L AW', 'Tuesday': 'CCS L ZM', 'Wednesday': 'BC g VB / CC g ZM', 'Thursday': 'BDLT L VB', 'Friday': '--'}]

# Find common characters of two strings

In [15]:
s1='Ramesh'
s2='Suresh'
s1,s2=set(s1),set(s2)
s3=s1&s2
print(s3)

{'s', 'h', 'e'}

# ip=[1,2,3,4]    op=[2,8,18,32]

In [1]:
lst1=[1,2,3,4]
lst2=map(lambda x:x**2+x**2,lst1)
print(list(lst2))

[2, 8, 18, 32]

# ip=[5,8,15,19]   op=[5,3,7,4]

In [3]:
lst=[5,8,15,19]
lst2=[lst[0]]
for i in range(1,len(lst)):
    x=lst[i]-lst[i-1]
    lst2.append(x)
print(lst2)

[5, 3, 7, 4]

# Sort the list

In [18]:
lt=[81,32,15,5,26]
lt.sort()
print(lt)

[5, 15, 26, 32, 81]

In [5]:
lt=[81,32,15,5,26]
for i in range(1,len(lt)):
    while lt[i-1]>lt[i] and i>0:
        lt[i-1],lt[i]=lt[i],lt[i-1]
        i-=1
print(lt)

[5, 15, 26, 32, 81]

# Find the largest number in list

In [22]:
lt=[81,32,15,5,26]
print(max(lt))

81

In [1]:
lt=[32,15,81,5,26]
num=0
for i in lt:
    if i>num:
        num=i
print(num)

81

In [7]:
for i in lt:
    if i>num:
        num=i
print(num)

81

# Find the Second largest number in list

In [25]:
lt=[81,32,15,5,26]
lt.sort()
print(lt[-2])

32

In [1]:
lt=[81,32,15,5,26]
for i in range(1,len(lt)):
    while lt[i-1]>lt[i] and i>0:
        lt[i-1],lt[i]=lt[i],lt[i-1]
        i-=1
print(lt[-2])

32

# Find lowest number in list

In [27]:
lt=[81,32,15,5,26]
print(min(lt))

5

In [28]:
lt=[81,32,15,5,26]
min=lt[0]
for i in lt:
    if i<min:
        min=i
print(min)

5

# Remove Duplicate

In [29]:
# st="HappyNewYear"
def duplicate(st):
    st2=""
    for i in st:
        if i not in st2:
            st2+=i
    return st2
print(duplicate(input()))

HappyNewYear
HapyNewYr

# Increment in last element of list

In [32]:
lt=[1,2,8]
if lt[-1]<9:
    lt[-1]+=1
print(lt)

[1, 2, 9]

In [12]:
# If it is 9 then increment in second last and last element become zero
a=[2,8,9]
# a=[2,7,7]
if a[-1]<9:
    a[-1]+=1
else:
    a[-1]=0
    a[-2]+=1
print(a)

[2, 9, 0]

# Add two list

In [34]:
L1=["A","N","8","M"]
L2=["I","R","A","M"]
d={}
for i in range(len(L1)):
    d[L1[i]]=L2[i]
print(d)

{'A': 'I', 'N': 'R', '8': 'A', 'M': 'M'}

In [36]:
L1=[1,2,3]
L2=[4,5,6]
L3=[]
for i in range(len(L1)):
    L3.append(L1[i]+L2[i])
print(L3)

[5, 7, 9]

# Find the unique number

In [1]:
arr = [2,1,4,3,1,4,2,5]
def odd_occurring_num(arr):
    return [i for i in arr if arr.count(i) < 2]
# print(arr)
print(odd_occurring_num(arr))

[3, 5]

In [39]:
a=[2,1,4,3,5,2,1,4,3]
r=0
for i in a:
    r^=i
print(r)

5

# I/P = "hello world how are you"       O/P = HELLO world HOW are YOU

In [5]:
str1="hello world how are you"
str1=str1.split()
lst=[]
for i in range(0,len(str1)):
    if i%2==0:
        lst.append(str1[i].upper())
    else:
        lst.append(str1[i])
print(" ".join(lst))

HELLO world HOW are YOU

# ip=18438  op=84

In [46]:
num=18438
num=str(num)
e_lst=[]
a=0
for i in range(0,len(num)-1):
    e_lst.append(int(num[i]+num[i+1]))
for i in e_lst:
    if i>a:
        a=i
        
print(a)

84

# Text Wrap

In [3]:
import textwrap

def wrap(string, max_width):
     return textwrap.fill(string,max_width)

string, max_width = input(), int(input())
result = wrap(string, max_width)
print(result)
wrap(string,max_width)

 cnwhiqplencvsqteiepplcna
 4

cnwh
iqpl
encv
sqte
iepp
lcna

'cnwh\niqpl\nencv\nsqte\niepp\nlcna'

# Finding the percentage

In [48]:
n = int(input())
student_marks = {}
for _ in range(n):
      name, *line = input().split()
      scores = list(map(float, line))
      student_marks[name] = scores
query_name = input()
print("%.02f"%(sum(student_marks[query_name])/3))

2
Harsh 25 28 34
Anurag 21 22 29
Anurag
24.00

# Word order

In [49]:
n = int(input().strip())
counter = {}
words = []
for i in range(n):
  word = input().strip()
  if word in counter:
    counter[word] += 1
  else:
    counter[word] = 1
    words.append(word)

print(len(words))
print(' '.join([str(counter[word]) for word in words]))

4
bcdef
abcdefgh
bcde
bcdef
3
2 1 1

# Count Frequency

In [50]:
from collections import Counter
m = "aaaaabbbccccdd"
s = sorted(m)
total=Counter(list(s))
print('total',total)
for k,v in total.most_common(3):
    print(k,v)

total Counter({'a': 5, 'c': 4, 'b': 3, 'd': 2})
a 5
c 4
b 3

In [12]:
from collections import Counter
m="mmmmmmmmnnnnnnqqqqqrrsszzzzzzz"
s=sorted(m)
total=Counter(list(s))
print(total)
for k,v in total.most_common(3):
    print(k,v)

Counter({'m': 8, 'z': 7, 'n': 6, 'q': 5, 'r': 2, 's': 2})
m 8
z 7
n 6

# Anagram

In [51]:
str1 = "Elbow"
str2 = "Below"

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

elbow and below are anagram.

In [13]:
str1 = "Listen"
str2 = "Silent"
str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()
if(str1 == str2):
    print("Strings are anagram")
else:
    print("Strings are not anagram")

Strings are anagram

In [14]:
s1="Elbow"
s2="Below"
s1=list(s1.upper())
s2=list(s2.upper())
s1.sort(),s2.sort()
if s1==s2:
    print('anagram')
else:
    print('not anagram')

anagram

# Pangram

In [17]:
st="The quick brown fox jumps over the lazy dog"
s1=st[0].lower()+st[1:]
#s1=s+st[1:]
l=[]
print(s1)
for i in s1.split():
    #print(i)
    for j in i:
       # print(j)
        if j not in l:
            l.append(j)
    
    
print(l)        
print(len(l))        
if len(l)==26:
    print(True)
print(False)

The quick brown fox jumps over the lazy dog
['t']
1
False

In [25]:
st="The quick brown fox jumps over the lazy dog"
s=st[0].lower()
print(s+st[1:])

the quick brown fox jumps over the lazy dog

# Pallindrom

In [34]:
a=input()
print(str(a)==str(a)[::-1])

MALAYALAM
True

In [ ]:
Input=[1,2,3,4]    Output=[2,8,18,32]

In [36]:
lst=[1,2,3,4]
flst=map(lambda x:x**2+x**2,lst)
print(list(flst))

[2, 8, 18, 32]

In [ ]:
Input=[5,8,15,19]  Output=[5,3,7,4]

In [50]:
Lst1=[5,8,15,19]
Lst2=[Lst1[0]]
for i in range(1,len(Lst1)):
    x=Lst1[i]-Lst1[i-1]
    Lst2.append(x)
   
print(Lst2)

[5, 3, 7, 4]

In [53]:
mylst=[5,8,15,19]
diff=[mylst[0]]+[y-x for x,y in zip(mylst,mylst[1:])]
print(diff)

[5, 3, 7, 4]

# How many smaller number than the current member

In [1]:
nums=[8,1,2,2,3]
l=len(nums)
ans=[]
count=0
for i in nums:
    for j in nums:
        if j-i<0:
            count+=1
    ans.append(count)
    count=0
print(ans)

[4, 0, 1, 1, 3]

In [8]:
nums=[8,1,2,2,3]
l=len(nums)
ans=[]
count=0
for i in nums:
    print('i',i)
    for j in range(l):
        print('j',j)
        if (nums[j]-i)<0:
           print("nums[j]",nums[j])
#             print("i",i)
           count+=1
#             print(count)
    ans.append(count)
    count=0
print(ans)

i 8
j 0
j 1
nums[j] 1
j 2
nums[j] 2
j 3
nums[j] 2
j 4
nums[j] 3
i 1
j 0
j 1
j 2
j 3
j 4
i 2
j 0
j 1
nums[j] 1
j 2
j 3
j 4
i 2
j 0
j 1
nums[j] 1
j 2
j 3
j 4
i 3
j 0
j 1
nums[j] 1
j 2
nums[j] 2
j 3
nums[j] 2
j 4
[4, 0, 1, 1, 3]

# Kids with greatest

In [12]:
kids=[2,3,5,1,3]
candy=3
a=[]
for i in kids:
    if i+candy>=max(kids):
        a.append(True)
    else:
        a.append(False)
print(a)

[True, True, True, False, True]

# Sort colors

In [14]:
colors=[2,0,2,1,1,0]
for i in range(1,len(colors)):
    while colors[i-1]>colors[i] and i>0:
            colors[i-1],colors[i]= colors[i],colors[i-1]
            i-=1
print(colors)

[0, 0, 1, 1, 2, 2]

# Fizz Buzz

In [11]:
#["1","2","Fizz","4","Buzz","Fizz","7","8","Fizz","Buzz","11","Fizz","13","14","FizzBuzz"]
n = 15
nums=[]
for i in range(1,n):
    if i%3==0:
        nums.append("Fizz")
    elif i%5==0:
        nums.append("Buzz")
    elif i%5==0 and i%3==0:
        nums.append("FizzBuzz")
    else:
        nums.append(str(i))
print(nums)

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14']

# Rotate Array

In [16]:
#Explanation:
#rotate 1 steps to the right: [7,1,2,3,4,5,6]
#rotate 2 steps to the right: [6,7,1,2,3,4,5]
#rotate 3 steps to the right: [5,6,7,1,2,3,4]
rotate=[1,2,3,4,5,6,7]
k=3
for i in range(k):
    n=rotate.pop()
    rotate.insert(0,n)
print(rotate)

[5, 6, 7, 1, 2, 3, 4]

# Reverse Word String

In [17]:
s = "the sky is blue"
st=" ".join(s.split()[::-1])
print(st)

blue is sky the

# Find the Index of the First Occurrence in a String

In [21]:
haystack = "sadbutsad"
needle = "sad"
index=haystack.find(needle)
print(index)

0

In [22]:
haystack = "leetcode"
needle = "leeto"
index=haystack.find(needle)
print(index)

-1

# Target Sum

In [25]:
nums = [2,7,11,15]
target = 9
for i in range(len(nums)):
    for j in range(len(nums)):
        if nums[j]+nums[i]==target:
            a=[j,i]
print(a)

[0, 1]

# Length of last word

In [33]:
s = "Hello World"
print(len(s.split()[-1]))

5

In [32]:
s = "   fly me   to   the moon  "
print(len(s.split()[-1]))

4

# Find the numbers of even digits

In [41]:
nums = [12,345,21,6,7896]
c=0
for i in nums:
    s=str(i)
    if len(s)%2==0:
        c+=1
print(c)

3

# Running sum of 1D array

In [43]:
array=[1,2,3,4]
for i in range(1,len(array)):
    array[i]=array[i]+array[i-1]
print(array)

[1, 3, 6, 10]

# Number of good pairs

In [44]:
nums=[1,2,3,1,1,3]
#nums=[1,1,1]
count=0
n=len(nums)
for i in range(n):
    for j in range(i+1,n):
        if nums[i]==nums[j]:
            count+=1
print(count)

4

# Sum of diagonal matrix

In [18]:
#  sum=1 + 5 + 9 + 3 + 7 = 25
mat=[[1,2,3],[4,5,6],[7,8,9]]
total = 0
for i,j in enumerate(mat):
    print(i,j)
    if i == len(mat)-i-1:
        total += j[i]
    else:
        total += j[i] + j[len(mat)-i-1]
    print(total)

0 [1, 2, 3]
4
1 [4, 5, 6]
9
2 [7, 8, 9]
25

# Check isalnum,isalpha,islower,isdigit,,isupper

In [48]:
input='qA2'
print(any(i.isalnum() for i in input))
print(any(i.isalpha() for i in input))
print(any(i.islower() for i in input))
print(any(i.isdigit() for i in input))
print(any(i.isupper() for i in input))

True
True
True
True
True

# Merged string alternately

In [19]:
word1="abc"
word2="pqrs"
w3=[]
i=0
while i<len(word1) and i<len(word2):
    print(i)
    if i<len(word1):
        w3.append(word1[i])
    if i<len(word2):
        w3.append(word2[i])   
    i+=1
print("".join(w3))

0
1
2
apbqcr

In [53]:
word = "Minhaj"
x = ""
for i in word:
    x=x+i+" "
    print(x)

M
M i
M i n
M i n h
M i n h a
M i n h a j

# transactions=["notepad","notepad","mouse","car","mouse"] 
output={1:["car"],2:["notepad","mouse"]}

In [2]:
transactions=["notepad","notepad","mouse","car","mouse"]
d={}
e={}
for i in transactions:
    d[i]=transactions.count(i)
print(d)    
for k,v in d.items():
    if v not in e:
        e[v]=[k]
    else:
        e[v].append(k)
print(e)

{'notepad': 2, 'mouse': 2, 'car': 1}
{2: ['notepad', 'mouse'], 1: ['car']}

In [1]:
transactions=["notepad","notepad","mouse","car","mouse"]
dict1={}
for i in transactions:
    if transactions.count(i) not in dict1.keys():
        dict1[transactions.count(i)]=[]
    dict1[transactions.count(i)].append(i)
    dict1[transactions.count(i)] = list(set(dict1[transactions.count(i)]))
print(dict1)

{2: ['mouse', 'notepad'], 1: ['car']}

# Reverse element of list without inbuilt and slicing

In [1]:
lst=[4,7,2,8,3]
reverse_lst=[]
for i in range(len(lst)-1,-1,-1):
    reverse_lst.append(lst[i])
print(reverse_lst)

[3, 8, 2, 7, 4]

In [1]:
import pandas as pd
import requests
url = 'https://www.jsonkeeper.com/b/VSKX'
dic1 = requests.get(url).json()

dic2 = []
for i in dic1.values():
    a=i[0]['nodes_status']
    for j in a:
        dic2.append({'NodeName':j})

idx = 0
step = 1
for j in dic1['fetch']:
    a = j['nodes_status']
    for k in a.values():
        dic2[idx].update({'step'+str(step):k})
        idx += 1
    step += 1
    idx = 0

df = pd.DataFrame(dic2)
dic3 = {}
for i in df:
    if i == 'NodeName':
        dic3.update({i:'NodeName'})
    else:
        dic3.update({i:'StepName'})
print('d3',dic3)

df1 = df.rename(dic3, axis=1)
df1

d3 {'NodeName': 'NodeName', 'step1': 'StepName', 'step2': 'StepName', 'step3': 'StepName', 'step4': 'StepName', 'step5': 'StepName', 'step6': 'StepName', 'step7': 'StepName'}

,NodeName,StepName,StepName,StepName,StepName,StepName,StepName,StepName
0,INVIKL08ERN2SPCP01CO,Pass,Pass,Pass,Pass,Pass,Pass,Fail
1,INVIKL08ERN2SPCP02CO,Pass,Pass,Pass,Pass,Pass,Pass,Fail
2,INVIKL08ERN2V1UP01CO,Pass,Fail,Pass,,,,
3,INVIKL08ERN2V1UP02CO,Pass,Fail,Pass,,,,
4,INVIKL08ERN2V1UP03CO,Pass,Fail,Pass,,,,
5,INVIKL08ERN2V1UP04CO,Pass,Fail,Pass,,,,
6,INVIKL08ERN2V1UP05CO,Pass,Fail,Pass,,,,
7,INVIKL08ERN2V1UP06CO,Pass,Fail,Pass,,,,
8,INVIKL08ERN2V1UP07CO,Pass,Fail,Pass,,,,
9,INVIKL08ERN2V1UP08CO,Pass,Fail,Pass,,,,
10,INVIKL08ERN2V1UP09CO,Pass,Fail,Pass,,,,
11,INVIKL08ERN2V1UP10CO,Pass,Fail,Pass,,,,
12,INVIKL08ERN2V1UP11CO,Pass,Fail,Pass,,,,
13,INVIKL08ERN2V1UP12CO,Pass,Fail,Pass,,,,
14,INVIKL08ERN2V1UP13CO,Pass,Fail,Pass,,,,
15,INVIKL08ERN2V1UP14CO,Pass,Fail,Pass,,,,
16,INVIKL08ERN2V1UP15CO,Pass,Fail,Pass,,,,
17,INVIKL08ERN2V1UP16CO,Pass,Fail,Pass,,,,
18,INVIKL08ERN2V1UP17CO,Pass,Fail,Pass,,,,
19,INVIKL08ERN2V1UP18CO,Pass,Fail,Pass,,,,
20,INVIKL08ERN2V1UP19CO,Pass,Fail,Pass,,,,
21,INVIKL08ERN2V1UP20CO,Pass,Fail,Pass,,,,
22,INVIKL08ERN2D1UP01CO,Pass,Fail,Pass,,,,
23,INVIKL08ERN2D1UP02CO,Pass,Fail,Pass,,,,
24,INVIKL08ERN2D1UP03CO,Pass,Fail,Pass,,,,
25,INVIKL08ERN2D1UP04CO,Pass,Fail,Pass,,,,
26,INVIKL08ERN2D1UP05CO,Pass,Fail,Pass,,,,
27,INVIKL08ERN2D1UP06CO,Pass,Fail,Pass,,,,
28,INVIKL08ERN2D1UP07CO,Pass,Fail,Pass,,,,
29,INVIKL08ERN2D1UP08CO,Pass,Fail,Pass,,,,
30,INVIKL08ERN2D1UP09CO,Pass,Fail,Pass,,,,
31,INVIKL08ERN2D1UP10CO,Pass,Fail,Pass,,,,
32,INVIKL08ERN2D1UP11CO,Pass,Fail,Pass,,,,
33,INVIKL08ERN2D2UP01CO,Fail,Fail,Fail,,,,
34,INVIKL08ERN2D2UP02CO,Fail,Fail,Fail,,,,
35,INVIKL08ERN2D2UP03CO,Fail,Fail,Fail,,,,
36,INVIKL08ERN2D2UP04CO,Fail,Fail,Fail,,,,
37,INVIKL08ERN2D2UP05CO,Pass,Fail,Pass,,,,
38,INVIKL08ERN2D2UP06CO,Fail,Fail,Fail,,,,
39,INVIKL08ERN2D2UP07CO,Fail,Fail,Fail,,,,
40,INVIKL08ERN2D2UP08CO,Fail,Fail,Fail,,,,
41,INVIKL08ERN2D2UP09CO,Fail,Fail,Fail,,,,
42,INVIKL08ERN2D2UP10CO,Pass,Fail,Pass,,,,
43,INVIKL08ERN2D2UP11CO,Fail,Fail,Fail,,,,

In [1]:
lst=[(5,8),(7,3),(8,2),(6,4),(9,1)]

for i in range(1,len(lst)):
    while lst[i-1][1]>lst[i][1] and i>0:
        #print('lst i-1',lst[i-1],'lst i',lst[i])
        lst[i-1],lst[i]=lst[i],lst[i-1]
        i-=1
print('lst',lst)

lst [(9, 1), (8, 2), (7, 3), (6, 4), (5, 8)]

In [2]:
lst = [(5,8),(7,3),(8,2),(6,4),(9,1)]
sorted_lst = sorted(lst, key=lambda x: x[1])
print(sorted_lst)

[(9, 1), (8, 2), (7, 3), (6, 4), (5, 8)]

In [3]:
lst = [(5, 8), (7, 3), (8, 2), (6, 4), (9, 1)]

n = len(lst)
for i in range(n):
    for j in range(0, n-i-1):
        if lst[j][1] > lst[j+1][1]:
            lst[j], lst[j+1] = lst[j+1], lst[j]

print(lst)

[(9, 1), (8, 2), (7, 3), (6, 4), (5, 8)]

In [17]:
nums = [(5, 10, 3), (20, 15, 17), (30, 29, 31)]
for i in range(len(nums)):
    tup=list(nums[i])
    for j in range(len(tup)):
        for k in range(len(tup)):
            if tup[j]<tup[k]:
                tup[j],tup[k]=tup[k],tup[j]
    nums[i]=tuple(tup)
print(nums)

[(3, 5, 10), (15, 17, 20), (29, 30, 31)]

In [16]:
list1 = [(5, 10, 3), (20, 15, 17), (30, 29, 31)]
for i in range(len(list1)):
    tup = list(list1[i])
    for j in range(len(tup)):
        for k in range(len(tup)):
            if tup[j] < tup[k]:
                tup[j], tup[k] = tup[k], tup[j]
    list1[i] = tuple(tup)
print(list1)

[(3, 5, 10), (15, 17, 20), (29, 30, 31)]

In [6]:
# lt=[11,12,13,5,6]
lt=[45,78,24,16]
for i in range(1,len(lt)):
    while lt[i-1]>lt[i] and i>0:
        lt[i-1],lt[i]=lt[i],lt[i-1]
        i-=1
print(lt)

[16, 24, 45, 78]

In [2]:
variable_list = [5, "Python", 1.4,3]

for number in variable_list:
    try:
        range_list = list(range(number))
        print(number, "-", range_list)

    except:
        print(number, "- not an integer")

5 - [0, 1, 2, 3, 4]
Python - not an integer
1.4 - not an integer
3 - [0, 1, 2]

In [12]:
lst=['minhaj','python']
lst.append([5,6])
print(lst)

['minhaj', 'python', [5, 6]]

In [14]:
lst=['shaikh','minhaj']
lst.extend([3])
print(lst)

['shaikh', 'minhaj', 3]

In [1]:
import types
class Student:
    # constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # instance method
    def show(self):
        print('Name:', self.name, 'Age:', self.age)

# create new method
def welcome(self):
    print("Hello", self.name, "Welcome to Class IX")


# create object
s1 = Student("John", 15)

# Add instance method to object
s1.welcome = types.MethodType(welcome, s1)
s1.show()

# call newly added method
s1.welcome()

Name: John Age: 15
Hello John Welcome to Class IX

In [29]:
lst1=list((2,44,6))
lst2=list((4,6,1))

In [50]:
lst1.__len__()

3

In [51]:
class Student:
    def __init__(self,name,id):
        self.name=name
        self.id=id
        
    def show(self):
        print(self.name)
        
    def __add__(self,other):
        return self.id+other.id
        
    def __len__(self):
        return len(self.name)

In [52]:
s1=Student("junaid",23)
s2=Student("Sadiq",22)

In [53]:
s1.__len__()

6

In [25]:
print(s1.__dict__)

TypeError: 'Student' object is not iterable

In [23]:
s1.show()

junaid