In [1]:
import mysql.connector
conn = mysql.connector.connect(host='localhost',password='Minhaj123',user='root')

if conn.is_connected():
   print('connection established...')

connection established...

In [3]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',database='sql_store',user='root',password='Minhaj123')
    sql_select_Query = """select * from customers"""
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    print('total no.of rows=',cursor.rowcount)
    print('\nprint each row')
    for row in records:
        print('Customerid= ',row[0],)
        print('firstname= ',row[1],)
        print('lastname= ',row[2],)
        print('birthdate= ',row[3],)
        print('phone= ',row[4],) 
        print('address= ',row[5])
        print('city= ',row[6])
except mysql.connector.Error as e:
    print("Error reading data from my_table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

total no.of rows= 10

print each row
Customerid=  1
firstname=  Babara
lastname=  MacCaffrey
birthdate=  1986-03-28
phone=  781-932-9754
address=  0 Sage Terrace
city=  Waltham
Customerid=  2
firstname=  Ines
lastname=  Brushfield
birthdate=  1986-04-13
phone=  804-427-9456
address=  14187 Commercial Trail
city=  Hampton
Customerid=  3
firstname=  Freddi
lastname=  Boagey
birthdate=  1985-02-07
phone=  719-724-7869
address=  251 Springs Junction
city=  Colorado Springs
Customerid=  4
firstname=  Ambur
lastname=  Roseburgh
birthdate=  1974-04-14
phone=  407-231-8017
address=  30 Arapahoe Terrace
city=  Orlando
Customerid=  5
firstname=  Clemmie
lastname=  Betchley
birthdate=  1973-11-07
phone=  None
address=  5 Spohn Circle
city=  Arlington
Customerid=  6
firstname=  Elka
lastname=  Twiddell
birthdate=  1991-09-04
phone=  312-480-8498
address=  7 Manley Drive
city=  Chicago
Customerid=  7
firstname=  Ilene
lastname=  Dowson
birthdate=  1964-08-30
phone=  615-641-4759
address=  50 Lillian Crossing
city=  Nashville
Customerid=  8
firstname=  Thacher
lastname=  Naseby
birthdate=  1993-07-17
phone=  941-527-3977
address=  538 Mosinee Center
city=  Sarasota
Customerid=  9
firstname=  Romola
lastname=  Rumgay
birthdate=  1992-05-23
phone=  559-181-3744
address=  3520 Ohio Trail
city=  Visalia
Customerid=  10
firstname=  Levy
lastname=  Mynett
birthdate=  1969-10-13
phone=  404-246-3370
address=  68 Lawn Avenue
city=  Atlanta
MySQL connection is closed

In [12]:
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',database='minhajdb',user='root',password='Minhaj123')
    sql_query="""select * from employee"""
    cursor=connection.cursor()
    cursor.execute(sql_query)
    records = cursor.fetchall()
    print('total no.of rows=',cursor.rowcount)
    print('\nprint each row')
    for row in records:
        print(row[0],row[1],row[2],row[3])
        print("id= ",row[0])
        print("employee name= ",row[1])
        print("department= ",row[2])
        print("salary= ",row[3])
except mysql.connector.Error as e:
    print("Error reading data from my_table", e)
finally:
    if connection.is_connected():
        connection.close()
        cursor.close()
        print("MySQL connection is closed")

total no.of rows= 5

print each row
1 Amit HR 10000
id=  1
employee name=  Amit
department=  HR
salary=  10000
2 John MRKT 20000
id=  2
employee name=  John
department=  MRKT
salary=  20000
3 Nick SR 30000
id=  3
employee name=  Nick
department=  SR
salary=  30000
4 MAndel IT 40000
id=  4
employee name=  MAndel
department=  IT
salary=  40000
5 Rosalind HR 50000
id=  5
employee name=  Rosalind
department=  HR
salary=  50000
MySQL connection is closed