# Create a Class with instance attributes

In [3]:
class Student:
    def __init__(self,id,name):
        self.id=id
        self.name=name
    def show(self):
        print('Name',self.name,'id',self.id)
s1=Student('Minhaj',23)
s1.show()

Name 23 id Minhaj

# Create a Vehicle class without any variables and methods

In [5]:
class Variable:
    pass

# Create a child class Bus that will inherit all of the variables and methods of the Vehicle class
Given:

class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileag

In [7]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    
    pass

School_bus=Bus("BMW",178,12)
print(School_bus.name,School_bus.max_speed,School_bus.mileage)

BMW 178 12

# Class and instance variable

In [6]:
class Employee:
    company_name="XYZ Company"
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary

e1=Employee('Michael',20000)
print('Employee',e1.name,e1.salary)
print('Company name',Employee.company_name)

e1.name="John"
e1.salary=40000
print('Employee',e1.name,e1.salary)

Employee.company_name='ABC Company'
print('Modify Company name',Employee.company_name)

Employee Michael 20000
Company name XYZ Company
Employee John 40000
Modify Company name ABC Company

# Default Constructor

In [8]:
class Employee:

    def display(self):
        print('Inside Display')

emp = Employee()
emp.display()

Inside Display

# unParameterized Constructor

In [9]:
class Company:

    # no-argument constructor
    def __init__(self):
        self.name = "PYnative"
        self.address = "ABC Street"

    # a method for printing data members
    def show(self):
        print('Name:', self.name, 'Address:', self.address)

# creating object of the class
cmp = Company()

# calling the instance method using the object
cmp.show()

Name: PYnative Address: ABC Street

# Parameterized Constructor

In [10]:
class Employee:
    # parameterized constructor
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

    # display object
    def show(self):
        print(self.name, self.age, self.salary)

# creating object of the Employee class
emma = Employee('Emma', 23, 7500)
emma.show()

kelly = Employee('Kelly', 25, 8500)
kelly.show()

Emma 23 7500
Kelly 25 8500

# Constructor Chaining

In [11]:

class Vehicle:
    # Constructor of Vehicle
    def __init__(self, engine):
        print('Inside Vehicle Constructor')
        self.engine = engine

class Car(Vehicle):
    # Constructor of Car
    def __init__(self, engine, max_speed):
        super().__init__(engine)
        print('Inside Car Constructor')
        self.max_speed = max_speed

class Electric_Car(Car):
    # Constructor of Electric Car
    def __init__(self, engine, max_speed, km_range):
        super().__init__(engine, max_speed)
        print('Inside Electric Car Constructor')
        self.km_range = km_range

# Object of electric car
ev = Electric_Car('1500cc', 240, 750)
print(f'Engine={ev.engine}, Max Speed={ev.max_speed}, Km range={ev.km_range}')

Inside Vehicle Constructor
Inside Car Constructor
Inside Electric Car Constructor
Engine=1500cc, Max Speed=240, Km range=750

# Encapsulation

Public Member

In [12]:
class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data members
        self.name = name
        self.salary = salary

    # public instance methods
    def show(self):
        # accessing public data member
        print("Name: ", self.name, 'Salary:', self.salary)

# creating object of a class
emp = Employee('Jessa', 10000)

# accessing public data members
print("Name: ", emp.name, 'Salary:', emp.salary)

# calling public method of the class
emp.show()

Name:  Jessa Salary: 10000
Name:  Jessa Salary: 10000

Private Member

In [13]:
class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data member
        self.name = name
        # private member
        self.__salary = salary

# creating object of a class
emp = Employee('Jessa', 10000)

# accessing private data members
print('Salary:', emp.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [14]:
# We can access private members from outside of a class using the following two approaches

# Create public method to access private members
# Use name mangling

class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data member
        self.name = name
        # private member
        self.__salary = salary

    # public instance methods
    def show(self):
        # private members are accessible from a class
        print("Name: ", self.name, 'Salary:', self.__salary)

# creating object of a class
emp = Employee('Jessa', 10000)

# calling public method of the class
emp.show()

Name:  Jessa Salary: 10000

In [7]:
class Student:
    # class variable
    school_name = 'ABC School'

    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age

    # instance method
    def show(self):
        # access instance variables and class variables
        print('Student:', self.name, self.age, Student.school_name)

    # instance method
    def change_age(self, new_age):
        # modify instance variable
        self.age = new_age

    # class method
    @classmethod
    def modify_school_name(cls, new_name):
        # modify class variable
        cls.school_name = new_name

s1 = Student("Harry", 12)

# call instance methods
s1.show()
s1.change_age(14)

# call class method
Student.modify_school_name('XYZ School')
# call instance methods
s1.show()

Student: Harry 12 ABC School
Student: Harry 14 XYZ School

In [15]:
class Employee:
    # constructor
    def __init__(self, name, salary):
        # public data member
        self.name = name
        # private member
        self.__salary = salary

# creating object of a class
emp = Employee('Jessa', 10000)

print('Name:', emp.name)
# direct access to private member using name mangling
print('Salary:', emp._Employee__salary)

Name: Jessa
Salary: 10000

# Single inheritance

In [5]:
# In single inheritance, a child class inherits from a single-parent class. Here is one child class and one parent class.
class Vehical:
    def Vehical_data(self):
        print('Inside vehical class')
class Car(Vehical):
    def Car_data(self):
        print('Inside car class')
obj=Car()
obj.Car_data()
obj.Vehical_data()

Inside car class
Inside vehical class

# multiple inheritance:

In [21]:
class Parent1:
    def person_data(self,name,age):
        print('Inside person 1')
        print('Name:',name,';age',age)
class Parent2:
    def person2_data(self,company,location):
        print('Inside person 2')
        print('Company name:',company,';location:',location)
class Child(Parent1,Parent2):
    def child_data(self,salary,skill):
        print('Inside child class')
        print('Salary:',salary,';skills',skill)
emp=Child()
emp.person_data('suraiya',23)
emp.person2_data('microsoft','mumbai')
emp.child_data(40000,'developer')
# print(Child.mro())

Inside person 1
Name: suraiya ;age 23
Inside person 2
Company name: microsoft ;location: mumbai
Inside child class
Salary: 40000 ;skills developer

# Multilevel inheritance:

In [3]:
class Grandfather:
    def person(self):
        print('inside grandfather class')
class Father(Grandfather):
    def person2(self):
        print('inside father class')
class Son(Father,Grandfather):
    def person3(self):
        print('inside son class ')
obj=Son()
obj.person()
obj.person2()
obj.person3()
print(Son.mro())

inside grandfather class
inside father class
inside son class
[<class '__main__.Son'>, <class '__main__.Father'>, <class '__main__.Grandfather'>, <class 'object'>]

# Hierarchical inheritance:

In [1]:
class father:
    def info(self):
        print('inside main class')
class brother1(father):
    def brother1(self,name):
        print('inside brother1 class',name)
class brother2(father):
    def brother2(self,age):
        print('inside brother2 class',age)
obj=brother1()
obj.info()
obj.brother1('munazzir')
obj2=brother2()
obj2.info()

inside main class
inside brother1 class munazzir
inside main class

# Hybrid inheritance:

In [12]:
class Parent:
    def vehical_data(self):
        print('inside vehical data')
class Child1(Parent):
    def car_data(self):
        print('inside car data')
class Child2(Parent):
    def truck_data(self):
        print('inside truck data')
class Child3(Child1,Parent):
    def sports_data(self):
        print('inside sports data')
s=Child3()
s.car_data()
# s.truck_data()
s.sports_data()
s.vehical_data()

inside car data
inside sports data
inside vehical data

In [14]:
class Emp:
    def __init__(self,name,id):
        self.name=name
        self.id=id
    def show(self):
        print('emp name is',self.name,self.id)
class Emp2(Emp1):
    def __init__(self,name,id,age):
        self.age=age
        super().__init__(name,id)
        s1=super().show()
        print('emp 2 is having age also',self.age)
obj=Emp2('suraiya',163,90)
print(obj.name)

NameError: name 'Emp1' is not defined

In [6]:
class Teacher:
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        print('student name is:',self.name,'roll no:',self.rollno)
class Student(Teacher):
    def __init__(self,name,rollno,age):
        self.age=age
        super().__init__(name,rollno)
        var=super().show()
    def show(self):
        self.school='abc school'
        print('school name:',self.school,'age:',self.age)
s1=Student('suraiya',35,23)
s1.show()

student name is: suraiya roll no: 35
school name: abc school age: 23

In [2]:
class base():
    def __init__(self):
        self.var = 10
        
    def add(self, num):
        res = self.var+num
        return res
    
class inherit(base):
    def __init__(self, num=10):
        x = super().add(num)

a = inherit()
print(a)

AttributeError: 'inherit' object has no attribute 'var'

In [7]:
class student:    
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        return "Name of the student:",self.name,"Roll no of the student:",self.rollno
class school(student):
    def __init__(self, name, rollno,age):
        super().__init__(name, rollno)       
        self.age = age
        zikra = super().show()
    def show(self):
        self.school="abp school"
        "school name:",self.school, "rollno.:",self.rollno, "age:", self.age  
class home(school):
    def __init__(self, name, rollno,age, subject):
        super().__init__(name, rollno, age)
        self.subject = subject     
    def show(self):
        zikra = super().show()
        self.school="abp school"
        return "school name:",self.school, "rollno.:",self.rollno, "subject:", self.subject,zikra 
s1=home('iram',55,33,"Maths")
s1.show()

('school name:', 'abp school', 'rollno.:', 55, 'subject:', 'Maths', None)

In [ ]:
class A:
    def __init__(self,name):
        self.name=name
    def show(self):
        print("name :",self.name)
class B(A):
    def __init__(self,name,rollno):
        super().__init__(name)
        x=super().show()
        self.rollno=rollno
    def show(self):
        self.school="abp school"
        print=("school name:",self.school, "rollno.:",self.rollno)  
class C(B):
    def __init__(self,name,rollno,subject):
        
        super().__init__(name,rollno)
        x=super().show()

        
        self.subject=subject
    def show(self):
        self.school="abp school"
        print=("school name:",self.school, "rollno.:",self.rollno,"subject: ",self.subject) 
s1=C("iram",22,"english")  
s1.show()

In [8]:
class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Jessa works at", c_name)

# Creating object of child class
emp = Employee()
emp.info()

Jessa works at Google

In [10]:
lst=list ((2,3,4))
print(lst)

[2, 3, 4]

In [11]:
lst=list (2,3,4)
print(lst)

TypeError: list expected at most 1 argument, got 3

# issubclass:

In [9]:
class College:
    def func1(self):
        print("Inside parent class")

class School(College):
    def func2(self):
        print("Inside child class")

class Institute:
    def func3(self):
        print("Inside parent class")

print(issubclass(School,College)) #school is a sub class(child class) of college
print(issubclass(School,list))
print(issubclass(Institute,College))
print(issubclass(School,(list,College)))
print(issubclass(School,School))
print(issubclass(School,(int,School)))

True
False
False
True
True
True

In [11]:
class Vehicle:
    def max_speed(self):
        print("max speed is 100 Km/Hour")

class Car(Vehicle):
#     pass
    # overridden the implementation of Vehicle class
    def max_speed(self):
        print("max speed is 200 Km/Hour")

# Creating object of Car class
car = Car()
car.max_speed()

max speed is 200 Km/Hour

In [15]:
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(B, A):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()
print(C.mro())

 In class C
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

In [5]:
class Grandfather:
    def person(self):
        print('inside grandfather class')
class Father(Grandfather):
    def person2(self):
        print('inside father class')
class Son(Father,Grandfather):
    def person3(self):
        print('inside son class ')
obj=Son()
obj.person()
obj.person2()
obj.person3()
print(Son.mro())

inside grandfather class
inside father class
inside son class
[<class '__main__.Son'>, <class '__main__.Father'>, <class '__main__.Grandfather'>, <class 'object'>]

In [7]:
class A:
    def rk(self):
        print(" In class A")
class B(A):
    def rk(self):
        print(" In class B")
class C(A):
    def rk(self):
        print("In class C")
 
# classes ordering
class D(B, C):
    pass
    
r = D()
r.rk

In [4]:
# how many times object and refrence variable will be there at end line 11
class Table:
    def __init__(self):
        self.no_of_legs=4
        self.glass_top=None
        self.wooden_top=None
dining_table=Table()
back_table=Table()
front_table=back_table
back_table=dining_table
dining_table=front_table
front_table=back_table  #11

In [6]:
print(50/8-3*2+8)

8.25

In [1]:
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(A,B):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()

TypeError: Cannot create a consistent method resolution
order (MRO) for bases A, B

In [5]:
class Parent:
     def func1(self):
         print("this is function 1")
class Child(Parent):
     def func2(self):
          super().func1()
          print("this is function 2")
 
obj = Child()
obj.func2()

this is function 1
this is function 2

In [8]:
class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
#         c_name = super().company_name()
#         print("Jessa works at", c_name)
        print("Jessa works at")
        

# Creating object of child class
emp = Employee()
emp.info()

Jessa works at

In [2]:
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        print(" In class B")

class C(B, A):
    def process(self):
        print(" In class C")

# Creating object of C class
C1 = C()
C1.process()
# print(C.mro())

 In class C

In [13]:
# Parent class 1
class Person:
    def person_info(self, name, age):
        print('Inside Person class')
        print('Name:', name, 'Age:', age)

# Parent class 2
class Company:
    def company_info(self, company_name, location):
        print('Inside Company class')
        print('Name:', company_name, 'location:', location)

# Child class
class Employee(Person, Company):
    def Employee_info(self, salary, skill):
        print('Inside Employee class')
        print('Salary:', salary, 'Skill:', skill)
class Demployee(Person, Company):
    def Employee_info(self, salary, skill):
        print('Inside Employee class')
        print('Salary:', salary, 'Skill:', skill)

# Create object of Employee
emp = Employee()
demp1=Demployee()

# access data
emp.person_info('Jessa', 28)
emp.company_info('Google', 'Atlanta')
emp.Employee_info(12000, 'Machine Learning')
emp.person_info('markin', 28)

Inside Person class
Name: Jessa Age: 28
Inside Company class
Name: Google location: Atlanta
Inside Employee class
Salary: 12000 Skill: Machine Learning
Inside Person class
Name: markin Age: 28

In [15]:
# a=36/4
print(36/4)

9.0

In [4]:
class Add:
    def result(self,a,b):
        print('Adition',a+b)
class Multi(Add):
#     pass
    def result(self,a,b):
        print('Mltiplication',a*b)
m=Multi()
m.result(5,4)

Mltiplication 20

In [5]:
class Vehicle:

    def __init__(self, name, color, price):
        self.name = name
        self.color = color
        self.price = price

    def show(self):
        print('Details:', self.name, self.color, self.price)

    def max_speed(self):
        print('Vehicle max speed is 150')

    def change_gear(self):
        print('Vehicle change 6 gear')


# inherit from vehicle class
class Car(Vehicle):
#     def max_speed(self):
#         print('Car max speed is 240')

    def change_gear(self):
        print('Car change 7 gear')


# Car Object
car = Car('Car x1', 'Red', 20000)
car.show()
# calls methods from Car class
car.max_speed()
car.change_gear()

# Vehicle Object
vehicle = Vehicle('Truck x1', 'white', 75000)
vehicle.show()
# calls method from a Vehicle class
vehicle.max_speed()
vehicle.change_gear()

Details: Car x1 Red 20000
Vehicle max speed is 150
Car change 7 gear
Details: Truck x1 white 75000
Vehicle max speed is 150
Vehicle change 6 gear

In [6]:
class Scorpio:
    def fuel(self):
        print('fuel in scorpio')
    def speed(self):
        print('speed in scorpio is 340')
class BMW:
    def fuel(self):
        print('fuel in bmw')
    def speed(self):
        print('speed in bmw is 250')
a=Scorpio()
b=BMW()
for car in (a,b):
    car.fuel()
    car.speed()

fuel in scorpio
speed in scorpio is 340
fuel in bmw
speed in bmw is 250

In [12]:
class Shopping:
    def __init__(self, basket, buyer):
        self.basket = list(basket)
        self.buyer = buyer

    def __len__(self):
        print('Redefine length')
        count = len(self.basket)
        # count total items in a different way
        # pair of shoes and shir+pant
        return count *2

shopping = Shopping(['Shoes','dress'], 'Jessa')
print(len(shopping))

Redefine length
4

In [11]:
student=['jerry','herry','lerry']
school='ABC School'
print('Reverse string')
for i in reversed(student):
    print(i,end=' ')
    
print('\nReverse list')
for j in reversed(['a','s','d','f']):
    print(j,end=' ')

Reverse string
lerry herry jerry
Reverse list
f d s a

In [14]:
def addition(a, b):
    c = a + b
    print(c)


def addition(a, b, c):
    d = a + b + c
    print(d)


# the below line shows an error
addition(4, 5)

# This line will call the second product method
addition(3, 7, 5)

TypeError: addition() missing 1 required positional argument: 'c'

In [23]:
for i in range(4):print(i,end=' ')
print()
for i in range(5,10):print(i,end=' ')
print()
for i in range(1,10,2):print(i,end=' ')

0 1 2 3
5 6 7 8 9
1 3 5 7 9

In [24]:
class Shape:
    def area(self,a,b=0):
        if b>0:
            print('Area of rectangle is',a*b)
        else:
            print('Area of square is',a**2)
sqr=Shape()
sqr.area(5)

rec=Shape()
rec.area(5,4)

Area of square is 25
Area of rectangle is 20

In [25]:
# add 2 numbers
print(100 + 200)

# concatenate two strings
print('Jess' + 'Roy')

# merger two list
print([10, 20, 30] + ['jessa', 'emma', 'kelly'])

300
JessRoy
[10, 20, 30, 'jessa', 'emma', 'kelly']

In [4]:
print(550+330)
print('jessy'+'roy')
print([10,20]+['a','b'])

880
jessyroy
[10, 20, 'a', 'b']

In [8]:
class Textbook:
    def __init__(self,pages):
        self.pages=pages
b1=Textbook(200)
b2=Textbook(300)
print(b1+b2)

TypeError: unsupported operand type(s) for +: 'Textbook' and 'Textbook'

In [6]:
class Book:
    def __init__(self, pages):
        self.pages = pages

    # Overloading + operator with magic method
    def __add__(self, other):
        return self.pages + other.pages

b1 = Book(400)
b2 = Book(300)
print("Total number of pages: ", b1 + b2)

Total number of pages:  700

In [3]:
class Employee:
    def __init__(self, , salary):
        self.myname = name
        self.salary = salary

    def __mul__(self, timesheet):
        print('Worked for', timesheet.days, 'days')
        # calculate salary
        return self.salary * timesheet.days


class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days


emp = Employee("Jessa", 800)
timesheet = TimeSheet("minhaj", 50)
print("salary is: ", emp * timesheet)

Worked for 50 days
salary is:  40000

In [15]:
class Employee:
    def __init__(self, jessa, salary):
        self.name = jessa
        self.salary = salary
emp = Employee("Jessa", 800)
emp2 = Employee("wessa", 800)
emp3 = Employee("kessa", 800)

# timesheet = TimeSheet("Jessa", 50)
# print("salary is: ", emp * timesheet)
# print("salary is: ", emp2 * timesheet)
print("name:" ,emp3.name)

name: kessa

In [17]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
#     def __mul__(self, timesheet):
#         print('Worked for', timesheet.days, 'days')
#         # calculate salary
#         return self.salary * timesheet.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
emp = Employee("Jessa", 800)
timesheet = TimeSheet("Jessa", 50)
print("salary is: ", emp * timesheet)

TypeError: unsupported operand type(s) for *: 'Employee' and 'TimeSheet'

In [18]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
#     def __mul__(self, timesheet):
#         print('Worked for', timesheet.days, 'days')
#         # calculate salary
#         return self.salary * timesheet.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
emp = Employee()
timesheet = TimeSheet("Jessa", 50)
# print("salary is: ", emp * timesheet)

TypeError: Employee.__init__() missing 2 required positional arguments: 'name' and 'salary'

In [23]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __mul__(self):
        print('Worked for', self.days, 'days')
        # calculate salary
        return self.salary * self.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
emp = Employee("Jessa", 800)
timesheet = TimeSheet("Jessa", 50)
print("salary is: ", emp * timesheet)

TypeError: Employee.__mul__() takes 1 positional argument but 2 were given

In [25]:
a=2
b='abcd'
c=33
tp=a,b,c
print(tp)
print(type(tp))

(2, 'abcd', 33)
<class 'tuple'>

In [35]:
tp={2,'minhaj',22,'bhai'}
w,x,y,z=tp
print(w)
print(x)
print(y)
print(z)
print(tp)
print(type(tp))

2
minhaj
bhai
22
{2, 'minhaj', 'bhai', 22}
<class 'set'>

# Magic method

In [12]:
num=10
print(num + 5)
print(num.__add__(5))

15
15

In [2]:
print(num.__add__(5))
# print(num.__add__(10))

15

In [26]:
class distance:
    def __init__(self, x=None,y=None):
        self.ft=x
        self.inch=y
        
    def __add__(self,other):
        
        temp=distance()
#         print(temp.__dict__)
        
        temp.ft=self.ft+other.ft
        temp.inch=self.inch+other.inch
#         
#         print(temp.__dict__)
        
        if temp.inch>=12:
            temp.ft+=1
            temp.inch-=12
            return temp
#             return (temp.ft,temp.inch)
    def __str__(self):
        return 'ft:'+str(self.ft)+' in: '+str(self.inch)

d1=distance(3,10)
d2=distance(4,4)
# print("d1= {} d2={}".format(d1, d2))
print('d2',d2)
d3=d1+d2
print(d3)

d2 ft:4 in: 4
ft:8 in: 2

In [5]:
class A:
    def __init__(self):
        print(123)
    def __new__(self):
        print(456)
S1=A()

456

In [7]:
class student:
#     def __new__(self,name):
#         self.name=name
#         print("new")
#         print(self.name)
        
    def __init__(self,name):
        self.name=name
        print("init")
        print(self.name)
s1=student("Minhaj")

init
Minhaj

In [22]:
class Demo:
    def __new__(cls, *args):
        print("__new__ called")
        return object.__new__(cls)

    def __init__(self):
        print("__init__ called")

d = Demo()

__new__ called
__init__ called

In [15]:
class Book:
    def __init__(self, pages):
        self.pages = pages

    # Overloading + operator with magic method
    def __add__(self, other):
#         self=b1
        # others=b2
        return self.pages + other.pages

b1 = Book(400)
b2 = Book(300)
print("Total number of pages: ", b1 + b2)
print(b1.pages)

Total number of pages:  120000
400

In [17]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def __add__(self,other):
        return self.age+other.age
    
    def __mul__(self,other):
        return self.age * other.age
    
    
s1=Student("Junaid",23)
s2=Student("Sarfraz",25)
print(s1*s2)

575

In [16]:
s1+s2
s1*s2

TypeError: unsupported operand type(s) for +: 'Student' and 'Student'

In [4]:
s1.__dict__

{'name': 'Junaid', 'age': 23}

In [1]:
# int=5
str2="12"
print(int(str2))

print(int)

12
<class 'int'>

In [2]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
s1=Student("adnan",20)
s2=Student("bilal",22)
print(s1.__dict__)
print(s2.__dict__)
# print(s1+s2)
print(s1.name+" "+s2.name)

{'name': 'adnan', 'age': 20}
{'name': 'bilal', 'age': 22}
adnan bilal

In [2]:
input1=input("Enter your input 1 : ")
input2=input("Enter your input 2 : ")

answer=input1+input2
print(input1,type(input1),input2,type(input2))
print(answer,type(answer))
print(input1==input2,type(input1==input2))

sum=int(input1)+int(input2)
print(sum,type(sum))

exponent=int(input1)**int(input2)
print(exponent,type(exponent))

Enter your input 1 : 3
Enter your input 2 : 4
3 <class 'str'> 4 <class 'str'>
34 <class 'str'>
False <class 'bool'>
7 <class 'int'>
81 <class 'int'>

In [1]:
class GameProtagonist:
    def __init__(self):
        self.health = 100
        self.mana = 100
        self.level = 1

    def take_damage(self):
        self.health -= 10

player_one = GameProtagonist()
player_one.health

100

In [2]:
class Employee:
    @staticmethod
    def sample(x):
        print('Inside static method', x)

# call static method
Employee.sample(10)

# can be called using object
emp = Employee()
emp.sample(30)

Inside static method 10
Inside static method 30