In [1]:
print("hello world")

hello world

In [2]:
a=3;b=5
print(a+b)

8

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [7]:
help("async")

Coroutines
**********

New in version 3.5.


Coroutine function definition
=============================

   async_funcdef ::= [decorators] "async" "def" funcname "(" [parameter_list] ")"
                     ["->" expression] ":" suite

Execution of Python coroutines can be suspended and resumed at many
points (see *coroutine*). "await" expressions, "async for" and "async
with" can only be used in the body of a coroutine function.

Functions defined with "async def" syntax are always coroutine
functions, even if they do not contain "await" or "async" keywords.

It is a "SyntaxError" to use a "yield from" expression inside the body
of a coroutine function.

An example of a coroutine function:

   async def func(param1, param2):
       do_stuff()
       await some_coroutine()

Changed in version 3.7: "await" and "async" are now keywords;
previously they were only treated as such inside the body of a
coroutine function.


The "async for" statement
=========================

   async_for_stmt ::= "async" for_stmt

An *asynchronous iterable* provides an "__aiter__" method that
directly returns an *asynchronous iterator*, which can call
asynchronous code in its "__anext__" method.

The "async for" statement allows convenient iteration over
asynchronous iterables.

The following code:

   async for TARGET in ITER:
       SUITE
   else:
       SUITE2

Is semantically equivalent to:

   iter = (ITER)
   iter = type(iter).__aiter__(iter)
   running = True

   while running:
       try:
           TARGET = await type(iter).__anext__(iter)
       except StopAsyncIteration:
           running = False
       else:
           SUITE
   else:
       SUITE2

See also "__aiter__()" and "__anext__()" for details.

It is a "SyntaxError" to use an "async for" statement outside the body
of a coroutine function.


The "async with" statement
==========================

   async_with_stmt ::= "async" with_stmt

An *asynchronous context manager* is a *context manager* that is able
to suspend execution in its *enter* and *exit* methods.

The following code:

   async with EXPRESSION as TARGET:
       SUITE

is semantically equivalent to:

   manager = (EXPRESSION)
   aenter = type(manager).__aenter__
   aexit = type(manager).__aexit__
   value = await aenter(manager)
   hit_except = False

   try:
       TARGET = value
       SUITE
   except:
       hit_except = True
       if not await aexit(manager, *sys.exc_info()):
           raise
   finally:
       if not hit_except:
           await aexit(manager, None, None, None)

See also "__aenter__()" and "__aexit__()" for details.

It is a "SyntaxError" to use an "async with" statement outside the
body of a coroutine function.

See also:

  **PEP 492** - Coroutines with async and await syntax
     The proposal that made coroutines a proper standalone concept in
     Python, and added supporting syntax.

In [8]:
help("return")

The "return" statement
**********************

   return_stmt ::= "return" [expression_list]

"return" may only occur syntactically nested in a function definition,
not within a nested class definition.

If an expression list is present, it is evaluated, else "None" is
substituted.

"return" leaves the current function call with the expression list (or
"None") as return value.

When "return" passes control out of a "try" statement with a "finally"
clause, that "finally" clause is executed before really leaving the
function.

In a generator function, the "return" statement indicates that the
generator is done and will cause "StopIteration" to be raised. The
returned value (if any) is used as an argument to construct
"StopIteration" and becomes the "StopIteration.value" attribute.

In an asynchronous generator function, an empty "return" statement
indicates that the asynchronous generator is done and will cause
"StopAsyncIteration" to be raised.  A non-empty "return" statement is
a syntax error in an asynchronous generator function.

Related help topics: FUNCTIONS

In [11]:
import keyword

print(keyword.iskeyword('if'))
print(keyword.iskeyword('range'))

True
False

In [3]:
addition = (10 + 20 +
            30 + 40 +
            50 + 60 + 70)
print(addition)
# Output: 280

280

In [7]:
x = 5
y = "john"
print(x)
print(y)

5
john

In [11]:
x = int(2)
y = str(2)
z = float(2)
print(x)
print(y)
print(z)

2
2
2.0

In [12]:
x =5
y ='HELLO WORLD'
z =9.0
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
myvar="phyton"
my_var_="phyton"
myVvar="phyton"
MYVAR="phyton"
myvar2="phyton"
print(myvar)
print(my_var_)
print(myVvar)
print(MYVAR)
print(myvar2)

phyton
phyton
phyton
phyton
phyton

In [16]:
x,y,z="apple","orange","mango"

print(x)
print(y)
print(z)

x=y=z="orange"
print(x)
print(y)
print(z)

apple
orange
mango
orange
orange
orange

In [15]:
fruits=["Apple","Mango","orange"]
x,y,z=fruits

print(x)
print(y)
print(z)

Apple
Mango
orange

In [29]:
x ="python is awesome"
print(x)

python is awesome

In [32]:
x = "python "
y = "is "
z = "awesome"
print(x+y+z)

python is awesome

In [33]:
x = 5
y = 30
print(x+y)

35

In [39]:
x = b'devices'
y = memoryview(x)
print(y)

<memory at 0x0000021340426140>

In [41]:
num=65
if num>50: print('case true')
else: print('case false')

case true

In [50]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print(' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [51]:
first = [2, 3, 4]
second = [20, 30, 40]
final=[i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [53]:
first_number = int(input("Enter first number "))
print(first_number)

Enter first number  python

ValueError: invalid literal for int() with base 10: 'python'

In [54]:
a,b,c=input('enter number').split()
print(a,b,c)

enter number 12 13 14

12 13 14

In [56]:
# Python 2 code
# raw_input() function
name = raw_input("Enter your name ")
print("Student Name is: ", name)
print(type(name))

age = raw_input("Enter your age ")
print("Student age is: ", age)
print(type(age))

NameError: name 'raw_input' is not defined

In [57]:
print(range(5,-1,-1))

range(5, -1, -1)

In [61]:
for i in range(5,-1,-1):
    print(i,end=" ")

5 4 3 2 1 0

In [59]:
for i in reversed(range(6)):
    print(i)

5
4
3
2
1
0

In [62]:
for i in range(10,50,5):
    print(i,end=" ")

10 15 20 25 30 35 40 45

In [64]:
for i in range(9,101,3):
    print(i,end=" ")

9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [78]:
for i in range(1,4):
    for j in range(i):
        print(i,end=" ")
        # i+=1
    print()

1
2 2
3 3 3

In [81]:
list1 = [10, 20, 30, 40, 50]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [82]:
from itertools import chain
nr=chain(range(5),range(2,11))
for i in nr:
    print(i,end=" ")

0 1 2 3 4 2 3 4 5 6 7 8 9 10

In [83]:
range1 = range(0, 10)

# access range() attributes
print(range1.start)  # 0
print(range1.stop)  # 10
print(range1.step)  # 1

0
10
1

In [84]:
for i in range(10)[2:5]:
    print(i,end=" ")

2 3 4

In [89]:
n=int(input('enter num'))
if n>0:
    print('num is positive int')
else:
    print('num is negative int')

enter num -34

num is negative int

In [92]:
num=[]
n=int(input("enter list size"))
for i in range(0,n):
    item=int(input())
    num.append(item)
print(num)

enter list size 3
 21
 34
 56

[21, 34, 56]

In [94]:
var= "James Bond"
print(var[2::-1])

maJ

In [ ]:
{"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},
           {"id":651},{"id":652},{"id":653}],
 "errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}

In [ ]:
d1={"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},
           {"id":651},{"id":652},{"id":653}],
 "errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}

In [2]:
import re 
def count_italic(data):
    pattern=r"<(i|em)>(.*?)</\1>"
    coun=0    
    for k,v in data.items():
        italic=re.findall(pattern,v)
        count+=len(italic)
    return count
data={"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},
           {"id":651},{"id":652},{"id":653}],
 "errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}
icount=count_italic(data)
print('icount',icount)

TypeError: expected string or bytes-like object, got 'list'

In [3]:
import re

# Sample data (extracted from the problem statement)
data = {
    "orders": [
        {"id": 1}, {"id": 2}, {"id": 3}, {"id": 4}, {"id": 5},
        {"id": 6}, {"id": 7}, {"id": 8}, {"id": 9}, {"id": 10},
        {"id": 11}, {"id": 648}, {"id": 649}, {"id": 650},
        {"id": 651}, {"id": 652}, {"id": 653}
    ],
    "errors": [
        {"code": 3, "message": "[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}
    ]
}

def extract_italic_numbers(data):
    italic_numbers = []  # List to store italic numbers
    pattern = r"<i>(\d+)</i>"  # Regex pattern to match numbers inside <i> tags

    # Convert nested dictionaries/lists to strings for regex processing
    def recursive_process(value):
        if isinstance(value, dict):  # If it's a dictionary, process each value
            for v in value.values():
                recursive_process(v)
        elif isinstance(value, list):  # If it's a list, process each item
            for item in value:
                recursive_process(item)
        elif isinstance(value, str):  # If it's a string, apply regex
            matches = re.findall(pattern, value)
            italic_numbers.extend(matches)

    # Start processing the data
    recursive_process(data)
    
    # Return the numbers as integers
    return list(map(int, italic_numbers))

# Example usage
italic_numbers = extract_italic_numbers(data)
print("Extracted italic numbers:", italic_numbers)

Extracted italic numbers: []

In [4]:
import re

text = """{"orders":[{"id":1},{"id":2},{"id":3},{"id":4},{"id":5},{"id":6},{"id":7},{"id":8},{"id":9},{"id":10},{"id":11},{"id":648},{"id":649},{"id":650},{"id":651},{"id":652},{"id":653}],"errors":[{"code":3,"message":"[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}]}"""

# Extract all numbers
numbers = re.findall(r'\d+', text)

print(numbers)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '648', '649', '650', '651', '652', '653', '3', '2', '153']

In [23]:
data = {
    "orders": [
        {"id": 1}, {"id": 2}, {"id": 3}, {"id": 4}, {"id": 5},
        {"id": 6}, {"id": 7}, {"id": 8}, {"id": 9}, {"id": 10},
        {"id": 11}, {"id": 648}, {"id": 649}, {"id": 650},
        {"id": 651}, {"id": 652}, {"id": 653}
    ],
    "errors": [
        {"code": 3, "message": "[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)"}
    ]
}
for k,v in data.items():
    print('key',k,'value',v)
    for y in v:
        print('y',y)

key orders value [{'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}, {'id': 5}, {'id': 6}, {'id': 7}, {'id': 8}, {'id': 9}, {'id': 10}, {'id': 11}, {'id': 648}, {'id': 649}, {'id': 650}, {'id': 651}, {'id': 652}, {'id': 653}]
y {'id': 1}
y {'id': 2}
y {'id': 3}
y {'id': 4}
y {'id': 5}
y {'id': 6}
y {'id': 7}
y {'id': 8}
y {'id': 9}
y {'id': 10}
y {'id': 11}
y {'id': 648}
y {'id': 649}
y {'id': 650}
y {'id': 651}
y {'id': 652}
y {'id': 653}
key errors value [{'code': 3, 'message': '[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)'}]
y {'code': 3, 'message': '[PHP Warning #2] count(): Parameter must be an array or an object that implements Countable (153)'}

In [20]:
d={"id": 1,"id": 2}
print(len(d))

1

In [21]:
# Sample dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "hobbies": ["reading", "traveling", "swimming"]
}

# Count the number of keys
num_keys = len(my_dict)

# Count the total number of values
num_values = sum(
    len(value) if isinstance(value, (list, dict, set, tuple)) else 1
    for value in my_dict.values()
)

print("Number of keys:", num_keys)
print("Number of values:", num_values)

Number of keys: 4
Number of values: 6

In [53]:
data = {
    "orders": [
        {"id": 1}, {"id": 2}, {"id": 3}, {"id": 4}, {"id": 5},
        {"id": 6}, {"id": 7}, {"id": 8}, {"id": 9}, {"id": 10},
        {"id": 11}, {"id": 648}, {"id": 649}, {"id": 650},
        {"id": 651}, {"id": 652}, {"id": 653}
    ],
    "errors": [
        {"code": 3, "message": "[PHP Warning #2] count(): Parameter must be(153)"}
    ]
}
lst=[]
for k1,v1 in data.items():
    for i in v1:
        #print(i)
        #if isinstance(i,dict):
         #   print(i)
        if len(i)==1:
            print(i['id'])
            if type(i['id'])==int:
                lst.append(i['id'])
        elif len(i)>1:
            for k2,v2 in i.items():
                print('v2',v2)
                if type(v2)==int:
                    lst.append(v2)

print(lst)

1
2
3
4
5
6
7
8
9
10
11
648
649
650
651
652
653
v2 3
v2 [PHP Warning #2] count(): Parameter must be(153)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 648, 649, 650, 651, 652, 653, 3]

In [54]:
import re

data = {
    "orders": [
        {"id": 1}, {"id": 2}, {"id": 3}, {"id": 4}, {"id": 5},
        {"id": 6}, {"id": 7}, {"id": 8}, {"id": 9}, {"id": 10},
        {"id": 11}, {"id": 648}, {"id": 649}, {"id": 650},
        {"id": 651}, {"id": 652}, {"id": 653}
    ],
    "errors": [
        {"code": 3, "message": "[PHP Warning #2] count(): Parameter must be(153)"}
    ]
}

# Serialize the dictionary into a string
data_str = str(data)

# Use regex to find all integers in the serialized string
integer_values = list(map(int, re.findall(r'\b\d+\b', data_str)))

# Print the integers
print("All integers:", integer_values)

All integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 648, 649, 650, 651, 652, 653, 3, 2, 153]

In [1]:
l=[2,3,4]
l1=[i*2 for i in l]
print(l1)

[4, 6, 8]

In [7]:
lm=lambda x,y:x+y
print(lm(3,5))

8

In [9]:
m=list(map(lambda x:x*2,l))
print(m)

[4, 6, 8]

In [16]:
list1=[12,19,15,16,17]
l=map(lambda x:"even" if x%2==0 else "oddd",list1)
print(list(l))

['even', 'oddd', 'oddd', 'even', 'oddd']

In [17]:
d1={x:'even' if x%2==0 else 'odd' for x in range(1,11)}
print(d1)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

In [20]:
s1={20,4,8,3,10}
s2=sorted(s1)
print(s2)

[3, 4, 8, 10, 20]

In [21]:
l=[3, 4, 8, 10, 20]
for i in range(1,len(l)):
    while l[i-1]>l[i] and i>0:
        l[i-1],l[i]=l[i],l[i-1]
        i-=1
print(l)

[3, 4, 8, 10, 20]

In [4]:
class A:
    def __init__(self,num):
        self.num=num
    def amul(self):
        print('num is',self.num)
class B(A):
    def __init__(self,num):
        super().__init__(num)
    def bmul(self):
        self.num*=3
        print('num is',self.num)

obj=B(2)
obj.amul()
obj.bmul()

num is 2
num is 6

In [5]:
class A(object):
    def __init__(self,num):
        self.num=num
        print("1",self.num)
    def mul_two(self):
        self.num*=2
        print("2",self.num)
        
class B(A):
    def __init__(self,num):
        super().__init__(num)
    def mul_three(self):
        self.num*=3
        print("3",self.num)

obj=B(4)
print(obj.num)
obj.mul_two()

1 4
4
2 8

In [9]:
def decor(func):
    def iner():
        print('inner func')
        func()
        print('executed in func')
    return iner    
@decor    
def main():
    print('main func')
main()

inner func
main func
executed in func

In [10]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
n=5
for i in range(n):
    for k in range(i+1):
        print('#',end=' ' )
    for j in range(i,n):
        print('*',end=' ' )
    print()

# * * * * *
# # * * * *
# # # * * *
# # # # * *
# # # # # *

In [26]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for k in range(i+1):
        print('#',end=' ')
    for m in range(i+1):
        print('#',end=' ')
    print()

          # #
        # # # #
      # # # # # #
    # # # # # # # #
  # # # # # # # # # #

In [31]:
def dec1(func):
    def inner(a,b):
        print('going to divide a and b')
        if b==0:
            print('whoops cant divide zero')
        else:
            func(a,b)
    return inner       
    
@dec1
def divide(a,b):
    print('a % b is ',a%b)
a=int(input())
b=int(input())
divide(a,b)

 6
 2

going to divide a and b
a % b is  0

In [32]:
def square():
    i=1
    while True:
        yield i*i
        i+=1
for num in square():
    if num>100:
        break
    print(num)

1
4
9
16
25
36
49
64
81
100

In [44]:
def cube():
    i=1
    while True:
        yield i*i*i
        i+=1
        if i>100:
            break 
c=cube()
print(c)
print(next(c))
print(next(c))
print(next(c))
print(next(c))
print(next(c))

<generator object cube at 0x00000175A8A722C0>
1
8
27
64
125

In [47]:
lst1=[1,2,3,4]
m1=map(lambda x:x**2+x**2,lst1)
print(list(m1))

[2, 8, 18, 32]

In [50]:
lt=[32,15,81,5,26]
n=0
for i in lt:
    if n<i:
        n=i
print(n)

81

In [51]:
lt=[32,15,81,5,26]
n=lt[0]
for i in lt:
    if n>i:
        n=i
print(n)

5

In [55]:
from collections import Counter
var="aaaabbbbbbbccccdddddddddddd"
v1=sorted(var)
print(v1)
total=Counter(list(v1))
print(total)
for k,v in total.most_common(3):
    print(k,v)

['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd', 'd']
Counter({'d': 12, 'b': 7, 'a': 4, 'c': 4})
d 12
b 7
a 4

In [59]:
str1 = "Listen"
str2 = "Silent"
l1=list(str1.upper())
l2=list(str2.upper())
l1.sort(),l2.sort()
print(l1)
print(l2)
if l1==l2:
    print('str is anagram')
else:
    print('str are not')

['E', 'I', 'L', 'N', 'S', 'T']
['E', 'I', 'L', 'N', 'S', 'T']
str is anagram

In [66]:
nums = [2,7,11,15]
target = 22
for i in range(len(nums)):
    for j in range(len(nums)):
        if nums[i]+nums[j]==target:
            a=[j,i]    
print(a)

[1, 3]

In [79]:
lst=[4,7,2,8,3]
reverse_lst=[]
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

3
8
2
7
4

In [1]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
total=0
for x,y in enumerate(mat):
    print('x',x,'y',y)
    print('len',len(mat)-x-1)
    print('y[x]',y[x])
    if x==len(mat)-x-1:
        total+=y[x]
        print('total if',total)
    else:
        total+=y[x]+y[len(mat)-x-1]
        print('total else',total)

x 0 y [1, 2, 3]
len 2
y[x] 1
total else 4
x 1 y [4, 5, 6]
len 1
y[x] 5
total if 9
x 2 y [7, 8, 9]
len 0
y[x] 9
total else 25

In [4]:
lst=["mango",'apple','grape']
print(lst)
print(len(lst))
print(lst[1:9])

['mango', 'apple', 'grape']
3
['apple', 'grape']

In [8]:
tp=("mango",'apple','grape','cherry')
print(tp)
print(tp[-3:-1])

('mango', 'apple', 'grape', 'cherry')
('apple', 'grape')

In [14]:
s={"mango",'apple','grape','cherry'}
s.add('orange')
print(s)
x=s.pop()
print(x)
print(s)

{'grape', 'cherry', 'orange', 'mango', 'apple'}
grape
{'cherry', 'orange', 'mango', 'apple'}

In [17]:
name=['23','26','28']
name=map(int,name)
nm=list(map(lambda x:x*x,name))
print(nm)

[529, 676, 784]

In [18]:
from functools import reduce
lt=[2,10,3,20]
lt=reduce(lambda x,y:x+y,lt)
print(lt)

35

In [20]:
n1=['john','marek','micom']
n2=[24,37,48]
nzip=zip(n1,n2)
print(nzip)
print(list(nzip))

<zip object at 0x00000219107AD080>
[('john', 24), ('marek', 37), ('micom', 48)]

In [25]:
em=('mango','apple','grape','cherry')
y=enumerate(em,start=1)
print(y)
print(list(y))

<enumerate object at 0x000002191079F0B0>
[(1, 'mango'), (2, 'apple'), (3, 'grape'), (4, 'cherry')]

In [28]:
import bisect
num=5
a=[1,2,3,4,6,8,20,26,30]
print(bisect.bisect(a,num))
bisect.insort(a,num)
print(a)

4
[1, 2, 3, 4, 5, 6, 8, 20, 26, 30]

In [32]:
l1=[4,7,8,11,20,23]
lc=[i**2 for i in l1 if i%2==0]
print(lc)

[16, 64, 400]

In [34]:
s={x**2 for x in range(10)}
print(s)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [35]:
d={x:x**2 for x in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [1]:
def myfunc(n):
    print(n)
    
    return lambda a:a*n
double=myfunc(2)
print(double(11))

2
22

In [4]:
txt="You have to reach on time"
print("time" in txt)

True

In [5]:
s="Hello world!"
print(s[:4])

Hell

In [6]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [7]:
b = "Hello, World!"
print(b.upper())

HELLO, WORLD!

In [8]:
b = "Hello, World!"
print(b.lower())

hello, world!

In [11]:
b = "  Hello, World!  "
print(b.strip())

Hello, World!

In [12]:
b = "  He  l  lo, World!  "
print(b.strip())

He  l  lo, World!

In [13]:
b = "Hello, World!"
print(b.replace("H","J"))

Jello, World!

In [15]:
b = "Hello, World!"
print(b.split(","))

['Hello', ' World!']

In [18]:
d={"name":"John","Country":"China"}
sep="Test"
x=sep.join(d)
print(x)

nameTestCountry

In [20]:
txt = "hello, and welcome to my world."
x=txt.capitalize()
print(x)

Hello, and welcome to my world.

In [22]:
txt = "Hello, and Welcome to my World."
x=txt.casefold()
print(x)

hello, and welcome to my world.

In [26]:
txt="Apple"
print(len(txt))
y=txt.center(40)
print(y)
print(len(y))

5
                 Apple
40

In [27]:
txt="I love apple,apple are my fav fruit"
y=txt.count("apple")
print(y)

2

In [30]:
txt="I love apple,apple are my fav fruit"
y=txt.count("apple",5,15)
print(y)

1

In [33]:
txt="Surname is shaikh"
y=txt.encode()
print(y,type(y))
z=y.decode()
print(z,type(z))

b'Surname is shaikh' <class 'bytes'>
Surname is shaikh <class 'str'>

In [35]:
txt="My name is {fname}, I am {age}".format(fname="Minhaj",age=24)
print(txt)

My name is Minhaj, I am 26

In [37]:
txt="My name is {0}, I am {1}".format("Minhaj",24)
print(txt)

My name is Minhaj, I am 24

In [38]:
txt="My name is {}, I am {}".format("Minhaj",24)
print(txt)

My name is Minhaj, I am 24

In [42]:
myvar = {"name" : "Jane", "grade" : 1}
txt="Congratulations {name} you passed the test with divison {grade}"
print(txt.format_map(myvar))

Congratulations Jane you passed the test with divison 1

In [46]:
txt = "Hello, welcome to my world.welcome again"
x=txt.index("e",10,30)
print(x)

13

In [47]:
txt="1234"
x=txt.isdecimal()
print(x)

True

In [48]:
txt="My casa,su casa"
y=txt.rfind("casa")
print(y)

11

In [50]:
txt="banana"
y=txt.rjust(10)
print(y,"is fav fruits")

    banana is fav fruits

In [53]:
txt = "banana"

x = txt.rjust(20, "~")

print(x)

~~~~~~~~~~~~~~banana

In [54]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [55]:
txt = "Thank you for the music\nWelcome to the jungle"
x=txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [58]:
txt = "           banana   "
print(len(txt))
x = txt.strip()

print(x)
print(len(x))

20
banana
6

In [66]:
txt = ",,,,,rrttgg....watermelon....rrr"
y=txt.strip(",.grt")
print(y)

watermelon

In [60]:
txt = "Hello My Name Is PETER"
y=txt.swapcase()
print(y)

hELLO mY nAME iS peter

In [62]:
mydict = {83:  70}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Fam!

In [63]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [68]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])

banana
cherry

In [72]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[-4:-1])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon']

In [73]:
lst = ["apple", "banana", "cherry"]
lst[1]="melon"
print(lst)

['apple', 'melon', 'cherry']

In [80]:
lst = ["apple", "banana", "cherry"]
lst.insert(3,'mango')
print(lst)
lst.reverse()
print(lst)

['apple', 'banana', 'cherry', 'mango']
['mango', 'cherry', 'banana', 'apple']

In [79]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
x=thislist.count("banana")
print(x)
thislist.remove("banana")
print(thislist)

2
['apple', 'cherry', 'banana', 'kiwi']

In [76]:
thislist.pop(1)
print(thislist)

['apple', 'banana', 'kiwi']

In [77]:
thislist.pop()
print(thislist)

['apple', 'banana']

In [78]:
thislist.clear()
print(thislist)

[]

In [90]:
fruits = ("apple", "banana", "orange","rasberry",'grape')
(red,yellow,*orange)=fruits
print(red)
print(yellow)
print(orange)

apple
banana
['orange', 'rasberry', 'grape']

In [94]:
s = {"apple", "banana", "cherry", "apple"}
s.add('grape')
print(s)

{'banana', 'apple', 'grape', 'cherry'}

In [93]:
s1 = {"apple",0, "banana", "cherry",False, "apple"}
print(s1)

{0, 'banana', 'apple', 'cherry'}

In [98]:
s = {"apple", "banana", "cherry", "apple"}
#s.remove("applesssss")
s.discard('applesssss')
print(s)

{'banana', 'apple', 'cherry'}

In [99]:
for x in s:
    print(x)

banana
apple
cherry

In [101]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
s3=set1.union(set2)
print(s3)

{1, 'a', 2, 3, 'b', 'c'}

In [104]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
s4={False,'name',234}
s3=set1 | set2 |s4
print(s3)

{False, 1, 2, 3, 'name', 234, 'b', 'c', 'a'}

In [107]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3=set1 & set2
#set3=set1.intersection(set2)
print(set3)

{'apple'}

In [109]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [111]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
#set3=set1.difference(set2)
set3=set1-set2
print(set3)

{'cherry', 'banana'}

In [113]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
#s3=set1.symmetric_difference(set2)
s3=set1^set2
print(s3)

{'microsoft', 'banana', 'google', 'cherry'}

In [116]:
d=dict(name="Rose",age=15)
print(d)
print(d['name'])

{'name': 'Rose', 'age': 15}
Rose

In [118]:
dget=d.get("number")
print(dget)

None

In [119]:
dkeys=d.keys()
print(dkeys)

dict_keys(['name', 'age'])

In [120]:
dvalues=d.values()
print(dvalues)

dict_values(['Rose', 15])

In [121]:
d["color"]="white"
print(d)

{'name': 'Rose', 'age': 15, 'color': 'white'}

In [122]:
x=d.items()
print(x)

dict_items([('name', 'Rose'), ('age', 15), ('color', 'white')])

In [123]:
d["color"]="red"
print(d)

{'name': 'Rose', 'age': 15, 'color': 'red'}

In [124]:
d.update({"class":10})
print(d)

{'name': 'Rose', 'age': 15, 'color': 'red', 'class': 10}

In [125]:
d.popitem()
print(d)

{'name': 'Rose', 'age': 15, 'color': 'red'}

In [126]:
for x,y in d.items():
    print(x,y)

name Rose
age 15
color red

In [127]:
d2=d.copy()
print(d2)

{'name': 'Rose', 'age': 15, 'color': 'red'}

In [129]:
a=300
b=3000
if a>b:
    print('a is large number')
elif a<b:
    print('b i slarge num')

b i slarge num

In [131]:
day=2
match day:
    case 1:
        print("Monday")
    case 2:
        print('tuesday')
    case 3:
        print('wednesday')
    case 4:
        print('thursday')

tuesday

In [133]:
day=6
match day:
    case 1|2|3|4|5:
        print('today is weekday')
    case 6|7:
        print('today is weekend')

today is weekend

In [139]:
num1=300
num2=7100
num3=num1+num2
print(num3)
if num3<=1000:
    print('result is ',num3)
else:
    print('number cant go beyond 100')

7400
number cant go beyond 100

In [142]:
def sum_multiply(n1,n2):
    product=n1*n2
    if product<=1000:
        return product
    else:
        return n1+n2


n=sum_multiply(20,30)    
print(n)

600

In [149]:
for i in range(10):
    if i==0:
        print(f'Current number is{i} previous number is {i} ans sum:{i}') 
    else:    
        print(f'Current number is{i} previous number is {i-1} ans sum:{i+(i-1)}')

Current number is0 previous number is 0 ans sum:0
Current number is1 previous number is 0 ans sum:1
Current number is2 previous number is 1 ans sum:3
Current number is3 previous number is 2 ans sum:5
Current number is4 previous number is 3 ans sum:7
Current number is5 previous number is 4 ans sum:9
Current number is6 previous number is 5 ans sum:11
Current number is7 previous number is 6 ans sum:13
Current number is8 previous number is 7 ans sum:15
Current number is9 previous number is 8 ans sum:17

In [151]:
print("Printing current and previous number and their sum in a range(10)")
previous_num=0
for i in range(1,11):
    add=previous_num+i
    print(f'Current number is {i} previous number is {previous_num} ans sum:{add}')
    previous_num=i

Printing current and previous number and their sum in a range(10)
Current number is 1 previous number is 0 ans sum:1
Current number is 2 previous number is 1 ans sum:3
Current number is 3 previous number is 2 ans sum:5
Current number is 4 previous number is 3 ans sum:7
Current number is 5 previous number is 4 ans sum:9
Current number is 6 previous number is 5 ans sum:11
Current number is 7 previous number is 6 ans sum:13
Current number is 8 previous number is 7 ans sum:15
Current number is 9 previous number is 8 ans sum:17
Current number is 10 previous number is 9 ans sum:19

In [155]:
str = "PYnative"
print('og string is',str)
for i in range(len(str)):
    #print(i,str[i])
    if i%2==0:
        print(str[i])

og string is PYnative
P
n
t
v

In [157]:
def remove_chars(word, n):
    # write your code
    op=word[n:]
    return op
    
print("Removing characters from a string")
print(remove_chars("pynative", 4)) 
# output 'tive' first four characters are removed

print(remove_chars("pynative", 2))

Removing characters from a string
tive
native

In [160]:
nlst=[10,20,30,10]
print(nlst[0]==nlst[-1])

True

In [161]:
numbers_y = [75, 65, 35, 75, 30]
print(numbers_y[0]==numbers_y[-1])

False

In [162]:
lst=[10, 20, 33, 46, 55]
print('given list is',lst)
print('divisible by 5')
for i in lst:
    if i%5==0:
        print(i)

given list is [10, 20, 33, 46, 55]
divisible by 5
10
20
55

In [165]:
str_x = "Emma is good developer. Emma is a writer"
x=str_x.count("Emma")
print(x)

2

In [174]:
for num in range(10):
    for i in range(num):
        print(num,end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [175]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") # print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [177]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [178]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [188]:
no=121
print('original num is',no,type(no))
num=str(no)
print(str(num[::-1]))
if num==num[::-1]:
    print('Yes. given number is palindrome number')
else:
    print('No. given number is palindrome number')

original num is 121 <class 'int'>

TypeError: 'str' object is not callable

In [192]:
del str

In [197]:
n = 125
st_num = str(n)    # Uses the built-in str function
if st_num==st_num[::-1]:
    print('Yes. given number is palindrome number')
else:
    print('No. given number is palindrome number')

No. given number is palindrome number

In [216]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
l3=[]
for i in range(len(list1)):
    if list1[i]%2!=0:
        l3.append(list1[i])
    if list2[i]%2==0:
        l3.append(list2[i])
print(l3)

[40, 25, 60, 35, 90]

In [207]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
result=[n for n in list1 if n%2!=0]
result+=[n for n in list2 if n%2==0]

print(result)

[25, 35, 40, 60, 90]

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
l3=[]
#print(list(l3))
for a,b in zip(list1,list2):
    if a%2!=0:
        l3.append(a)
    if b%2==0:
        l3.append(b)
print(l3)

In [5]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [13]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [17]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [22]:
base = 5
exponent = 4
re=base**exponent
print(f'{base} raises to the power of {exponent}: {re}')

5 raises to the power of 4: 625

In [24]:
year1 = 2025
if year1%4==0:
    print(True)
else:
    print(False)

False

In [30]:
n=5
for i in range(1,n+1):
    for j in range(i,n):
        print(j,end=" ")
    print()

1 2 3 4
2 3 4
3 4
4

In [38]:
n=5
for i in range(1,n+1):
    for j in range(n-i+1):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
Enter a string: Pynative123Python
The string contains at least one digit.

In [41]:
key=input('Enter a string')
if key.isalnum():
    print('true')
    print('The string contains at least one digit.')
else:
    print('The string does not contain any digits.')

Enter a string pynative

true
The string contains at least one digit.

In [43]:
txt = "Company"

x = txt.isalnum()

print(x)

True

In [46]:
s = "abc123"
print(s.isalnum())  # Output: True

s2 = "abc 123"
print(s2.isalnum())  # Output: False

s3 = "abc!"
print(s3.isalnum())  # Output: False

True
False
False

In [48]:
str1 = "pynative.com is for python lovers"
s=str1.capitalize()
print(s)

Pynative.com is for python lovers

In [54]:
import time
t=time.sleep(5)
print(t)

None

In [58]:
import time
duration=5
while duration>0:
    print(f"Time remaining: {duration} second")
    time.sleep(1)
    duration-=1
print('Times Up!')

Time remaining: 5 second
Time remaining: 4 second
Time remaining: 3 second
Time remaining: 2 second
Time remaining: 1 second
Times Up!

In [59]:
flower=['rose','tulip','lotus','mogra','sunflower']
ulst=[x for x in flower if 'u'in x]
print(ulst)

['tulip', 'lotus', 'sunflower']

In [60]:
lst1=[x for x in range(10)]
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
flower=['rose','tulip','lotus','mogra','sunflower']
lst2=[x.upper() for x in flower]
print(lst2)

['ROSE', 'TULIP', 'LOTUS', 'MOGRA', 'SUNFLOWER']

In [62]:
flower=['rose','tulip','lotus','mogra','sunflower']
lst3=[x.lower() for x in flower]
print(lst3)

['rose', 'tulip', 'lotus', 'mogra', 'sunflower']

In [65]:
lst4=[x for x in range(20) if x<10]
print(lst4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
num=int(input('Write down table want to print'))
for i in range(1,11):
    print(f"{num}x{i}= {num*i}")

Write down table want to print 19

19x1= 19
19x2= 38
19x3= 57
19x4= 76
19x5= 95
19x6= 114
19x7= 133
19x8= 152
19x9= 171
19x10= 190

In [72]:
for i in range(11,21):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

11 22 33 44 55 66 77 88 99 110
12 24 36 48 60 72 84 96 108 120
13 26 39 52 65 78 91 104 117 130
14 28 42 56 70 84 98 112 126 140
15 30 45 60 75 90 105 120 135 150
16 32 48 64 80 96 112 128 144 160
17 34 51 68 85 102 119 136 153 170
18 36 54 72 90 108 126 144 162 180
19 38 57 76 95 114 133 152 171 190
20 40 60 80 100 120 140 160 180 200

In [84]:
name=input('enter a string')
scount=0
dcount=0
for i in name:
    if i.isdigit():
        dcount+=1
    if i.isalpha():
        scount+=1
print('total string count is',scount)
print('total digit count is',dcount)

enter a string Minhaj123

total string count is 6
total digit count is 3

In [87]:
i=int(input('fonf factorial of num given'))
fac=1
while i>0:
    fac=fac*i
    i-=1
print('factorial is',fac)

fonf factorial of num given 5

factorial is 120

In [88]:
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)
fib(8)

0
1
1
2
3
5
8
13

In [94]:
def fac(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
n=int(input())    
result=fac(n)
print(result)

 5

120

In [97]:
def cubeFunc(num):
    re=num**3
    return re
num=int(input())    
print(cubeFunc(num))

 4

64

In [98]:
data={"ANAM":40,"ASIF":30,'adnan':26}
data.pop("ANAM")
print(data)

{'ASIF': 30, 'adnan': 26}

In [99]:
ch1={'a':1,'b':2}
ch2={'d':3,'e':3}
childDict={'child1':ch1,'child2':ch2}
print(childDict)

{'child1': {'a': 1, 'b': 2}, 'child2': {'d': 3, 'e': 3}}

In [103]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [108]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [110]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [112]:
data1=[3,25,34,8]
data2=[f"{x}:fizz" if x%2==0 else f"{x}:buzz" for x in data1]
print(data2)

['3:buzz', '25:buzz', '34:fizz', '8:fizz']

In [113]:
name='minhaj'
for n in name:
    print(n)

m
i
n
h
a
j

In [117]:
name='Minhaj'
count=""
for c in name:
    count+=c
    print(count)

M
Mi
Min
Minh
Minha
Minhaj

In [118]:
word = "Minhaj"
x = ""
for i in word:
    x += i
    print(x)

M
Mi
Min
Minh
Minha
Minhaj

In [121]:
arr = [2,1,4,3,1,4,2,5]
def unique_num(arr):
    return [i for i in arr if arr.count(i)<2]
print(unique_num(arr))

[3, 5]

In [141]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
name=""
max=0
for i in student:
    var=student[i]['score']
    if var>max:
        max=var
        name=i
print({name:max})

{'Talha': 78}

In [131]:
dict1={"name":"minhaj","sname":"shaikh","lname":"sabir","age":"22","add":"kajupada"}
for i in dict1:
    print(dict1[i])

minhaj
shaikh
sabir
22
kajupada

In [145]:
lst6=[21,22,23,24,25]
for i in range(1,len(lst6),2):
    lst6[i],lst6[i-1]=lst6[i-1],lst6[i]
print(lst6)

[22, 21, 24, 23, 25]

In [146]:
def swap(lst,a,b):
    lst[a],lst[b]=lst[b],lst[a]
    return lst
a=[401,402,403,404,405,406]
swap(a,0,1)

[402, 401, 403, 404, 405, 406]

In [150]:
y="Apple"
def localFun():
    global y
    y="Banana"
    print('Fruit is',y)
localFun()   
print('fruit is',y)

Fruit is Banana
fruit is Banana

In [155]:
st="sky is blue"
sop=" ".join(st.split()[::-1])
print(sop)

blue is sky

In [163]:
dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]
d2=0
for i in dict1:
    amt=float(i['amount'])
    d2+=amt
print(d2)

4150.0

In [168]:
x=[2,3,4,5]
b=[]
def even(x):
    for i in x:
        if i%2==0:
            b.append("even")
        else:
            b.append("odd")
    return b
e=even(x)
print(e)

['even', 'odd', 'even', 'odd']

In [169]:
lst=[12,19,15,16,17]
lst_even_odd=['even' if x%2==0 else 'odd' for x in lst]
print(lst_even_odd)

['even', 'odd', 'odd', 'even', 'odd']

In [171]:
list1=[12,19,15,16,17]
even=map(lambda x:"even" if x%2==0 else "odd",list1)
print(list(even))

['even', 'odd', 'odd', 'even', 'odd']

In [173]:
list1=[1,2,3,4]
cube=map(lambda x:x**3,list1)
print(list(cube))

[1, 8, 27, 64]

In [187]:
ip="a,a,b,b,c,c,c"
lp=ip.split(',')
print(lp)
d=[]
for i in lp:
    if i not in d:
        print(f"{i}:{lp.count(i)}",end=",")
        d.append(i)

['a', 'a', 'b', 'b', 'c', 'c', 'c']
a:2,b:2,c:3,

In [183]:
ip="a,a,b,b,c,c,c"
lp=ip.split(',')
ep=[]
for i in lp:
    if i not in ep:
        print(f"{i}:{lp.count(i)}",end=",")
        ep.append(i)
#print(ep)

a:2,b:2,c:3,

In [192]:
d1={x:"even" if x%2==0 else "odd" for x in range(1,11)}
print(d1)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

In [193]:
d2={1:1,2:2,3:3,4:4,5:5}
d3={key:"even" if key%2==0 else "odd" for key in d2}
print(d3)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

In [201]:
d4={1: 1, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 2: 4, 3: 9, 4: 16}
max_value=0
for x in d4:
    v=d4.get(x)
    if v>max_value:
        max_value=v
print(max_value)

100

In [207]:
def duplicate_discard(st):
    ls=[]
    for i in st:
        if i not in ls:
            ls.append(i)
        result="".join(ls)
    return result
st="HappyNewYear"
duplicate_discard(st)

'HapyNewYr'

In [209]:
ls3=[1,5,2,4,3]
ls4=[(lambda x:"even" if x%2==0 else "odd")(x) for x in ls3]
print(ls4)

['odd', 'odd', 'even', 'even', 'odd']

In [210]:
ls5=[(lambda x:x**3)(x)for x in range(1,11)]
print(ls5)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [211]:
minus=lambda x,y:x-y
print(minus(10,5))

5

In [216]:
d5=[{'name':'Minhaj','age':22},{'name':'suraiya','age':12},{'name':'sadiq','age':21},{'name':'masir','age':19},
       {'name':'maroof','age':18}]
names=[]
for i in d5:
    print(i['age'])
    age=i['age']
    if age>=19:
        names.append(i['name'])
print(names)

22
12
21
19
18
['Minhaj', 'sadiq', 'masir']

In [218]:
ls6=[1,2,3,4]
ls7=map(lambda x:x**2+x**2,ls6)
print(list(ls7))

[2, 8, 18, 32]

In [223]:
ls8=[5,8,15,19]
ls9=[ls8[0]]
for i in range(1,len(ls8)):
    ns=ls8[i]-ls8[i-1]
    ls9.append(ns)
print(ls9)

[5, 3, 7, 4]

In [225]:
ls10=[81,32,15,5,26]
ls10.sort()
print(ls10)

[5, 15, 26, 32, 81]

In [230]:
lst=[81,32,15,5,26]
for i in range(1,len(lst)):
    while i>0 and lst[i]<lst[i-1]:
        lst[i],lst[i-1]=lst[i-1],lst[i]
        i-=1
print(lst)

[5, 15, 26, 32, 81]

In [231]:
lt=[32,15,81,5,26]
n=0
for i in lt:
    if i>n:
        n=i
print(n)

81

In [235]:
a=[2,8,9]
if a[-1]<9:
    a[-1]+=1
else:
    a[-1]=0
    a[-2]+=1
print(a)

[2, 9, 0]

In [236]:
L1=["A","N","8","M"]
L2=["I","R","A","M"]
d={}
for i in range(len(L1)):
    d[L1[i]]=L2[i]
print(d)

{'A': 'I', 'N': 'R', '8': 'A', 'M': 'M'}

In [237]:
L1=[1,2,3]
L2=[4,5,6]
L3=[]
for i in range(len(L1)):
    L3.append(L1[i]+L2[i])
print(L3)

[5, 7, 9]

In [251]:
str1="hello world how are you"
st_split=str1.split()
op=[]
for i in range(len(st_split)):
    if i%2==0:
        op.append(st_split[i].upper())
    else:
        op.append(st_split[i])
        
print(" ".join(op))

HELLO world HOW are YOU

In [255]:
import textwrap

def wrap(st,max_width):
    return textwrap.fill(st,max_width)
st,max_width=input('Give string'),int(input('wrap number')) 
re=wrap(st,max_width)
print(re)

Give string minhajshaikhsabir
wrap number 4

minh
ajsh
aikh
sabi
r

In [264]:
from collections import Counter
m ="aaaaaaaaabbbbbbccccddddddddddddfffffffffff"
msort=sorted(m)
total=Counter(list(msort))
for k,v in total.most_common(3):
    print(k,v)

d 12
f 11
a 9

In [267]:
str1 = "Elbow"
str2 = "Below"
st_lower1=str1.lower()
st_lower2=str2.lower()
print(st_lower1,st_lower2)
if(len(st_lower1))==len(st_lower2):
    s1=sorted(st_lower1)
    s2=sorted(st_lower1)
    if s1==s2:
        print(f"{str1} and {str2} both are anagram")
    else:
        print(f"{str1} and {str2}  arenot anagram")

elbow below
Elbow and Below both are anagram

In [270]:
kids=[2,3,5,1,3]
candy=3
re=[]
print(max(kids))
for i in kids:
    if i+candy>=max(kids):
        re.append(True)
    else:
        re.append(False)
print(re)

TypeError: 'int' object is not callable

In [274]:
rotate=[1,2,3,4,5,6,7]
k=3
for i in range(k):
    n=rotate.pop()
    rotate.insert(0,n)
print(rotate)

[5, 6, 7, 1, 2, 3, 4]

In [275]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
total=0
for i,j in enumerate(mat):
    if i==len(mat)-i-1:
        total+=j[i]
    else:
        total+=j[i]+j[len(mat)-i-1]
print(total)

25

word1="abcd"
word2="pqrs"
#apbqcr
w=[]
w1=word1.split()
for i in range(len(word1)):
    w.append(word1[i])
    w.append(word2[i])
print("".join(w))

In [8]:
word1="abcd"
word2="pqrs"
w=[]
i=0
while i<len(word1) and i<len(word2):
    if i<len(word1):
        w.append(word1[i])
    if i<len(word2):
        w.append(word2[i])
    i+=1
print("".join(w))

apbqcrds

In [11]:
s1 = set()
print(type(s1))

<class 'set'>

In [12]:
d1

NameError: name 'd1' is not defined

In [13]:
from colorama import Fore
print(Fore.RED+"Hello world")

Hello world

In [14]:
print(Fore.YELLOW+"Hello world")

Hello world

In [15]:
print(Fore.CYAN+"Hello world")

Hello world

In [16]:
print(Fore.GREEN+"Hello world")

Hello world

In [20]:
print(Fore.BLUE+"Hello world")

Hello world

In [2]:
import threading

def print_numbers():
    for i in range(10):
        print(i)

thread = threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4
5
6
7
8
9

How do you handle multi threading in python

In [5]:
import threading
def print_numbers():
    for i in range(10):
        print(i)
thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4
5
6
7
8
9

What are python coroutine

In [6]:
import aysncio
async def hello():
    await asyncio.sleep(1)
    print("Hello")

asyncio.run(hello())

ModuleNotFoundError: No module named 'aysncio'

In [ ]:
from flask import Flask
app=Flask(__name__)

@app.route('/')
def Hello():
    return "Hello world"

if __name__=="__main__":
    app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [29/Jul/2025 21:05:07] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [29/Jul/2025 21:05:08] "GET /favicon.ico HTTP/1.1" 404 -

In [27]:
lm=[2,4,8,1,8,2,8]
c=0
for i in lm:
    if i==8:
        c+=1
print(c)

3

In [28]:
T=int(input())
for i in range(T):
    N=int(input())
    print(N+1)

 3
 4

5

 2

3

 -1

0

In [29]:
thistuple = (23,77,89,1,3,133,1,2,1,1)
x = thistuple.index(1)
print(x)

3

In [1]:
lst=[7,2,4,9,3]
l=[(lambda x:"even" if x%2==0 else "odd")(x)for x in lst]
print(l)

['odd', 'even', 'even', 'odd', 'odd']

In [1]:
import gc
a=5
b=a
collected=gc.collect()
print(f"Manual garbage collection collected {collected} objects")

Manual garbage collection collected 6 objects

In [2]:
a=5
b=a
print(id(a))
print(id(b))

140709086841400
140709086841400

In [6]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [8]:
def test1():  # defining 1st function
    price = 900  # local variable
    print("Value of price in test1 function :", price)

def test2():  # defining 2nd function
    # NameError: name 'price' is not defined
    print("Value price in test2 function:", price)

# call functions
test1()
test2()

Value of price in test1 function : 900
Value price in test2 function: 900