                                                    python for loops

In [ ]:
python has two primitive command:
while loop
for loop

In [13]:
#With the while loop we can execute a set of statements as long as a condition is true.
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

In [15]:
#the break statement we can stop the loop even if the while condition is true:
i = 0
while i < 10:
    print(i)
    if i == 6:
     break
    i += 1

0
1
2
3
4
5
6

In [42]:
#the continue statement we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
    i += 1 
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [9]:
#else using while loop
i = 0
while i < 5:
    print(i)
    i += 1   
else:
    print("i is nolonger then 6")

0
1
2
3
4
i is nolonger then 6

                                                       python for loop

In [10]:
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

fruits = ["apple","mango","banana","cherry","pineapple"]
for i in fruits:
    print(i)

apple
mango
banana
cherry
pineapple

In [18]:
#python looping through a string
x = "banana"
for i in x:
    print(i)

b
a
n
a
n
a

In [24]:
#break and continue statement
fruits = ["apple","mango","banana","cherry","pineapple"]
for i in fruits:
    print(i)
    if i == "cherry":
        break

vegetables = ["apple","mango","pineapple"]
for x in vegetables:
    if x == 7:
        continue
    print(x)

apple
mango
banana
cherry
apple
mango
pineapple

In [30]:
#the range is working with sequence functions
for i in range(6):
    print(i)

0
1
2
3
4
5

In [32]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [33]:
for i in range(2,20,3):#start,stop,step
    print(i)

2
5
8
11
14
17

In [37]:
#else throuht afor loop
for i in range(5):
    print(i)
else:
    print("finally finished")

0
1
2
3
4
finally finished

In [12]:
#break statement in for loop
for i in range(5):
    if i == 4:break
    print(i)
else:
    print("finally finised")

0
1
2
3

In [8]:
#A nested loop is a loop inside a loop.
adj = ["tasty","yummy","dilicious"]
fruits = ["apple","mango","kiwi"]
for x in adj:
   for y in fruits:
     print(x,y)

tasty apple
tasty mango
tasty kiwi
yummy apple
yummy mango
yummy kiwi
dilicious apple
dilicious mango
dilicious kiwi