In [3]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [4]:
import keyword
print(keyword.iskeyword('if'))

True

In [5]:
print(keyword.iskeyword('range'))

False

In [6]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [10]:
import random

print(random.randrange(1, 10))

3

In [11]:
txt = "hello, and welcome to my world."
y=txt.capitalize()
print(y)

Hello, and welcome to my world.

In [17]:
txt = "Hello"
y=txt.center(30)
print(y)

            Hello

In [16]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [20]:
txt = "I love apples, apple are my favorite fruit"
x=txt.count('apple',10,20)
print(x)

1

In [23]:
txt = "hello, and welcome to my world!"
y=txt.endswith('!')
print(y)

True

In [24]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [25]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [28]:
myvar={'name':'jack','age':30}
bday='happy bday {name} you are now {age}!'
print(bday.format_map(myvar))

happy bday jack you are now 30!

In [29]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [36]:
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [37]:
txt='companyX'
x=txt.isalpha()
print(x)

True

In [42]:
txt = "1234"
x = txt.isdecimal()
print(x)

True

In [43]:
txt="5008090"
x=txt.isdigit()
print(x)

True

In [44]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [47]:
txt="  "
x=txt.isspace()
print(x)

True

In [48]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [51]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [52]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [55]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [58]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [60]:
txt = "HelloS Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

HelloP Pam!

In [63]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [64]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [65]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [66]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [67]:
txt = "Hello My Name Is PETER"
var=txt.swapcase()
print(var)

hELLO mY nAME iS peter

In [68]:
txt = "Hello my friends"
var=txt.upper()
print(var)

HELLO MY FRIENDS

In [69]:
txt="50"
v=txt.zfill(10)
print(v)

0000000050

In [70]:
print(bool("Hello"))
print(bool(15))

True
True

In [71]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [72]:
x = 200
print(isinstance(x, int))

True

In [74]:
l=list(('apple','banana'))
print(l)

['apple', 'banana']

In [75]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [76]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [78]:
thislist = ["apple", "banana", "cherry"]
thislist[1:6] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [79]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [80]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [83]:
thislist = ["apple", "banana", "cherry"]
tropical = ("mango", "pineapple", "papaya")
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

['banana', 'cherry']

In [87]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(2)

'cherry'

In [90]:
thislist = ["apple", "banana", "cherry"]
del thislist[1]
print(thislist)

['apple', 'cherry']

In [91]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [94]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(i,thislist[i])

0 apple
1 banana
2 cherry

In [95]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
lst=[x for x in fruits if 'a' in x]
print(lst)

['apple', 'banana', 'mango']

In [101]:
l=["even" if x%2==0 else "odd" for x in range(11)] 
print(l)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [102]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [104]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [106]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [108]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [109]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [111]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
for x in list1:
    list2.append(x)
print(list2)

[1, 2, 3, 'a', 'b', 'c']

In [112]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [113]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [115]:
t=("apple",)
print(type(t))

<class 'tuple'>

In [117]:
mytuple = ("apple", 12, "cherry",False)
print(type(mytuple))

<class 'tuple'>

In [119]:
t1 = tuple(("apple", 12, "cherry",False))
print(t1)
print(type(t1))

('apple', 12, 'cherry', False)
<class 'tuple'>

In [122]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [123]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [124]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [125]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [126]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [128]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [129]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [130]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [131]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [132]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, 'banana', 'apple', True, 'cherry'}

In [133]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [134]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [135]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [136]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'apple', 'papaya', 'cherry', 'pineapple', 'mango'}

In [137]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
print(thisset)

{'banana', 'apple', 'cherry', 'kiwi', 'orange'}

In [141]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [144]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("mango")
print(thisset)

{'banana', 'apple', 'cherry'}

In [145]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [146]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [147]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3=set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [148]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'apple', 'cherry', 'Elena', 'a', 'bananas', 'b', 'John', 'c'}

In [149]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

In [150]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3=set1.intersection(set2)
print(set3)

{'apple'}

In [151]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3=set1 & set2
print(set3)

{'apple'}

In [152]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [153]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [154]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [155]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [156]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [157]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [158]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("mango")
print(fruits)

KeyError: 'mango'

In [159]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [160]:
print(len(thisdict))

3

In [161]:
d=dict(name='Minhaj',country='India')
print(d)

{'name': 'Minhaj', 'country': 'India'}

In [164]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [165]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({'year':2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [166]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [167]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [168]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [170]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [171]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [172]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}
myfamily={'child1':child1,'child2':child2,'child3':child3}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [174]:
print(myfamily["child2"]["name"])

Tobias

In [178]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("model", "Bronco")
print(x)
print(car)

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [179]:
car = {
  "brand": "Ford",
  "year": 1964
}
x = car.setdefault("model", "Bronco")
print(x)
print(car)

Bronco
{'brand': 'Ford', 'year': 1964, 'model': 'Bronco'}

In [184]:
b,a=200,33
print('a is bigger') if a>b else print('b is bigger num')

b is bigger num

In [187]:
day=2
match day:
    case 1:
        print('Monday')
    case 2:
        print('Tuesday')
    case 3:
        print('Wednesday')
    case 4:
        print('Thursday')
    case 5:
        print('Friday')
    case 6:
        print('Saturday')
    case 7:
        print('Sunday')

Tuesday

In [4]:
day=6
match day:
    case 1|2|3|4|5:
        print('Today is weekday')
    case 6|7:
        print('Today is weekend!')

Today is weekend!

In [3]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [2]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [5]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [6]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [7]:
x=lambda a:a+10
print(x(5))

15

In [8]:
x=lambda a,b:a*b
print(x(5,6))

30

In [15]:
def myfunc(n):
    return lambda a:a*n

doubler=myfunc(2)
print(doubler(11))

22

In [16]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [5]:
def mergeSort(arr):
  if len(arr) <= 1:
    return arr

  mid = len(arr) // 2
  leftHalf = arr[:mid]
  rightHalf = arr[mid:]
  print(f'left half {leftHalf}')
  print(f'right half {rightHalf}')


  sortedLeft = mergeSort(leftHalf)
  sortedRight = mergeSort(rightHalf)
  return merge(sortedLeft, sortedRight)

def merge(left, right):
  print(f'merge func left {left}')
  print(f'merge func right {right}')

  result = []
  i = j = 0

  while i < len(left) and j < len(right):
    print('left i in merge fun ',left[i],'right in merge func ',right[i])
    if left[i] < right[j]:
      result.append(left[i])
      i += 1
    else:
      result.append(right[j])
      j += 1

  result.extend(left[i:])
  result.extend(right[j:])
  print('restult of merge sort ',result)
  return result

mylist = [3, 7, 6, -10, 15, 23.5, 55, -13]
mysortedlist = mergeSort(mylist)
print("Sorted array:", mysortedlist)

left half [3, 7, 6, -10]
right half [15, 23.5, 55, -13]
left half [3, 7]
right half [6, -10]
left half [3]
right half [7]
merge func left [3]
merge func right [7]
left i in merge fun  3 right in merge func  7
restult of merge sort  [3, 7]
left half [6]
right half [-10]
merge func left [6]
merge func right [-10]
left i in merge fun  6 right in merge func  -10
restult of merge sort  [-10, 6]
merge func left [3, 7]
merge func right [-10, 6]
left i in merge fun  3 right in merge func  -10
left i in merge fun  3 right in merge func  -10
left i in merge fun  7 right in merge func  6
restult of merge sort  [-10, 3, 6, 7]
left half [15, 23.5]
right half [55, -13]
left half [15]
right half [23.5]
merge func left [15]
merge func right [23.5]
left i in merge fun  15 right in merge func  23.5
restult of merge sort  [15, 23.5]
left half [55]
right half [-13]
merge func left [55]
merge func right [-13]
left i in merge fun  55 right in merge func  -13
restult of merge sort  [-13, 55]
merge func left [15, 23.5]
merge func right [-13, 55]
left i in merge fun  15 right in merge func  -13
left i in merge fun  15 right in merge func  -13
left i in merge fun  23.5 right in merge func  55
restult of merge sort  [-13, 15, 23.5, 55]
merge func left [-10, 3, 6, 7]
merge func right [-13, 15, 23.5, 55]
left i in merge fun  -10 right in merge func  -13
left i in merge fun  -10 right in merge func  -13
left i in merge fun  3 right in merge func  15
left i in merge fun  6 right in merge func  23.5
left i in merge fun  7 right in merge func  55
restult of merge sort  [-13, -10, 3, 6, 7, 15, 23.5, 55]
Sorted array: [-13, -10, 3, 6, 7, 15, 23.5, 55]

In [1]:
class MyMeta(type):
  def __new__(cls,name,bases,attrs):
    attrs['new_attrs']='Hello from meta class attr'
    return super().__new__(cls,name,bases,attrs)
class MyClass(metaclass=MyMeta):
  pass
print(MyClass.new_attrs)

Hello from meta class attr