In [2]:
print('*')

*

In [3]:
n=5
print('*'*n)

*****

In [4]:
n=5
for i in range(n):
    print('*')

*
*
*
*
*

In [5]:
n=5
for i in range(n):
    print('*',end=" ")

* * * * *

In [7]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * *

# Increasing Triangle Pattern

In [9]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# Decreasing Triangle Pattern

In [12]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

# Increasing space star Triangle Pattern

In [14]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    for k in range(i+1):
        print('*',end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

# Decreasing space star Triangle Pattern

In [15]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=" ")
    for k in range(i,n):
        print('*',end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

# Pyramid Star Pattern

In [30]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=" ")
    for k in range(i):
        print('*',end=" ")
    for l in range(i+1):
        print('*',end=" ")
        
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [28]:
def print_pyramid(rows):
    for i in range(rows):
        print(' ' * (rows - i - 1) + '*' * (2 * i + 1))

rows = int(input("Enter the number of rows for the pyramid: "))
print_pyramid(rows)

Enter the number of rows for the pyramid: 5
    *
   ***
  *****
 *******
*********

In [27]:
name="Minhaj"
ans=2
for i in range(5):
    if i==3:
        ans=4
        name="Shaikh"
    #if i==3: ans=4 ; name="Shaikh"
print(name) 
print(ans)

Shaikh
4

In [24]:
print(name)
print(ans)

Shaikh
4

In [31]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [33]:
for i in range(5,0,-1):
    for j in range(i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [34]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    p+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [36]:
n=5
for i in range(n):
    for j in range(i+1):
        if i%2==0:
            print('1',end=" ")
        else:
            print('2',end=" ")
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [37]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [38]:
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(' ',end=" ")
    for k in range(i,n):
        print(p,end=" ")
        p+=1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [39]:
n=5
for i in range(n):
    p=1
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i):
        print(p,end=" ")
        p+=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [40]:
n=4
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
2 3
4 5 6
7 8 9 10

# Character Pattern

In [41]:
print(chr(65))

A

In [42]:
n=4
for i in range(n):
    for j in range(i+1):
        print('A',end=" ")
    print()

A
A A
A A A
A A A A

In [43]:
n=5
p=65
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=" ")
    p+=1
    print()

A
B B
C C C
D D D D
E E E E E

In [44]:
n=5
for i in range(n):
    p=65
    for j in range(i+1):
        print(chr(p),end=" ")
        p+=1
    print()

A
A B
A B C
A B C D
A B C D E

In [48]:
n=5
for i in range(n):
    p=65
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(chr(p),end=" ")
        p+=1
    for j in range(i+1):
        print(chr(p),end=" ")
        p+=1
    print()

          A
        A B C
      A B C D E
    A B C D E F G
  A B C D E F G H I

In [52]:
n=5
for i in range(n):
    p=65
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i):
        print(chr(p),end=" ")
        p+=1
    for j in range(i+1):
        print(chr(p),end=" ")
        p-=1
    print()

          A
        A B A
      A B C B A
    A B C D C B A
  A B C D E D C B A

In [54]:
s="CODER"
n=len(s)
p=0
for i in range(n):
    for j in range(i+1):
        print(s[p],end=" ")
    p+=1
    print()

C
O O
D D D
E E E E
R R R R R

In [55]:
s="CODER"
n=len(s)
for i in range(n):
    p=0
    for j in range(i+1):
        print(s[p],end=" ")
        p+=1
    print()

C
C O
C O D
C O D E
C O D E R