# logic qn

In [7]:
# i/p=[1,2,3,4]  o/p=[2,8,18,32]
l=[1,2,3,4]
l=list(map(lambda x:x**2 + x**2,l))
print(l)

[2, 8, 18, 32]

In [2]:
# i/p=[5,8,15,19]  o/p=[5,3,7,4]
my_list = [5,8,15,19]
diff_list = []
for i in range(1,len(my_list)):
    x = my_list[i] - my_list[i-1]
    diff_list.append(x)
print(diff_list)
# diffs =[my_list[0]] + [y - x for x, y in zip(my_list, my_list[1:])]
# print(diffs)

[3, 7, 4]

In [4]:
my_list=[5,8,15,19]
print(my_list[1:])
print(my_list)

[8, 15, 19]
[5, 8, 15, 19]

In [ ]:
lst = [5,8,15,19]
e=[]
for i in range(1,len(lst)):
    x=lst[i] - lst[i-1]
    e.append(x)

In [9]:
z=[5,8,15,19]
print(z[1:],z[:-1])

[8, 15, 19] [5, 8, 15]

# find largest num in list without using max funcn

In [7]:
lst=[1,10,17,80,20]
a=0
for i in lst:
    while i>a:
        a=i
print(a)

80

# sort the list len funcn

In [8]:
a=["vion","bmw","skoda"]
a.sort(key=len)
print(a)

['bmw', 'vion', 'skoda']

# find max number value in dict

In [1]:
dict1={"Ali":{"Score":91},"Akbar":{"Score":45},"Bilal":{"Score":30}}
def maximum():
    maxm=0
    stu=" "
    for i in dict1:
        Score=dict1.get(i)['Score']
        if Score > maxm:
            maxm=Score
            stu=i
    return {stu:maxm}
maximum()

{'Ali': 91}

# insertion sort

In [8]:
lt=[11,12,13,5,6]
for i in range(1,len(lt)):
    while lt[i-1]>lt[i] and i>0: 
        lt[i-1],lt[i]=lt[i],lt[i-1]
        i = i-1
#         print("updated", lt)        
print(lt)

[5, 6, 11, 12, 13]

In [11]:
lt=[11,12,13,5,6]
lt=[81,32,15,5,26]
for i in range(1,len(lt)):
    while lt[i-1]>lt[i] and i>0:
        lt[i-1],lt[i]=lt[i],lt[i-1]
        i-=1
print(lt)

[5, 15, 26, 32, 81]

######

In [13]:
qn=[{"question":"correct extension of python file?",
    "answer":"py.file",
    "explanation":" "},
    {"question":"what is django?",
    "answer":"Django is framework?",
    "explanation":"django is use to create web app"},
    {"question":"what is class in oops?",
    "answer":"A class is a blueprint for the object",
    "explanation":"class contains the properties (attribute) and action (behavior) of the object."},
    {"question":"what is instance varible?",
    "answer":"Attached to an instance of class",
    "explanation":"Instance variables are not shared by objects. Every object has its own copy of the instance attribute. This means that for each object of a class, the instance variable value is different"
     }]
count=1
for x in qn:
    print(count,x["question"])   
    count+=1
    print("Ans:",x["answer"])
e=1
for x in qn:
    if x["explanation"]==" ":
        pass
    else:
        print(e,x["explanation"])
        e+=1
#     q=x["question"]
#     count=count+1
#     print(i,count,'-',j)

1 correct extension of python file?
Ans: py.file
2 what is django?
Ans: Django is framework?
3 what is class in oops?
Ans: A class is a blueprint for the object
4 what is instance varible?
Ans: Attached to an instance of class
1 django is use to create web app
2 class contains the properties (attribute) and action (behavior) of the object.
3 Instance variables are not shared by objects. Every object has its own copy of the instance attribute. This means that for each object of a class, the instance variable value is different

In [14]:
x={"question":"what is django?","answer":"Django is framework?","explanation":"django is use to create web app"}
x["question"]

'what is django?'

In [3]:
a=[2,8,9]
if a[-1]<9:
    a[-1]+=1
else:
    a[-1]=0
    a[-2]+=1
print(a)

[2, 9, 0]

In [5]:
x=[1,2,3,4,5,9]
s=""
for i in x:
    s=s+str(i)
strs=str(int("".join(s))+1)
print(strs)
z=[int(a) for a in strs ]
print(z)

123460
[1, 2, 3, 4, 6, 0]

In [17]:
a=[2,3,4]
if a[-1]<9:
        a[-1]+=1
elif a[-1]==9:
        a[-1]=0
        a[-2]+=1
print(a)

[2, 3, 5]

In [14]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=' '
for i in student:
    var=student.get(i)["score"]
    if var>max:
        max=var
        stu=i
print({stu:max})

{'Talha': 78}

In [13]:
# sort the list on the basis of second element in the tuple ?
Sample= [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
for i in Sample:
    var=i[1]
    print(var)    
# Sample Output = [(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]̀

peanuts
groot
ml
ipad
case
apple

# string format

In [8]:
num=2335
txt="the num is {} in txt"

#Format the num to be displayed as a number with two decimals:
txt="the num is {:.2f} in txt"



print(txt.format(num))

the num is 2335.00 in txt

In [9]:
# If you want to use more values, just add m
# ore values to the format() method:
quantity=3
item=933
price=98
myorder="I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity,item,price))

I want 3 pieces of item number 933 for 98.00 dollars.

In [10]:
age=10
name="zyra"
text="Her name is {1}.{1} is {0} years old."
print(text.format(age,name))

Her name is zyra.zyra is 10 years old.

In [11]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

In [12]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Wednesday

In [7]:
# class methods demo
class Student:
    # class variable
    school_name = 'ABC School'
    # constructor
    def __init__(self, name, age):
        # instance variables
        self.name = name
        self.age = age
    # instance method
    def show(self):
        # access instance variables and class variables
        print('Student:', self.name, self.age, Student.school_name)
    # instance method
    def change_age(self, new_age):
        # modify instance variable
        self.age = new_age
    # class method
    @classmethod
    def modify_school_name(cls, new_name):
        # modify class variable
        cls.school_name = new_name
s1 = Student("Harry", 12)
s2=Student("minhaj",21)
# call instance methods
s1.show()
s1.change_age(14)
# call class method
s1.modify_school_name('XYZ School')
# call instance methods
s1.show()
s2.show()

Student: Harry 12 ABC School
Student: Harry 14 XYZ School
Student: minhaj 21 XYZ School

In [8]:
class Employee:
    count = 0
    def __init__(self):
        Employee.count = Employee.count + 1
    def __del__(self):
        Employee.count = Employee.count - 1
# creating objects
e1 = Employee()
e2 = Employee()
e3 = Employee()
print("The number of Employee:", Employee.count)
del e2
print("The number of Employee:", Employee.count)

The number of Employee: 1
The number of Employee: 0

In [1]:
from datetime import date

class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    @classmethod
    def calculate_age(cls, name, birth_year):
        # calculate age an set it as a age
        # return new object
            #   Student("joy",2022-1995)
        return cls(name, date.today().year - birth_year)

    def show(self):
        print(self.name + "'s age is: " + str(self.age))

jessa = Student('Jessa', 20)
jessa.show()

# create new object using the factory method
joy = Student.calculate_age("Joy", 1995)
joy.show()

Jessa's age is: 20
Joy's age is: 27

In [2]:
from datetime import date

class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def show(self):
        print(self.name + self.age)

    @classmethod
    def calculate_age(cls, name, birth_year):
        age=date.today().year-birth_year
        # calculate age an set it as a age
        # return new object
            #   Student("joy",2022-1995)
        return cls(name, age)

jessa = Student('Jessa', 20)
jessa.show()

# create new object using the factory method
joy = Student.calculate_age("Joy", 1995)
joy.show()

TypeError: can only concatenate str (not "int") to str

In [3]:
import sys
# imp gc

minhaj12="minhaj"
y=minhaj12
z=y
print(sys.getrefcount(minhaj12))

4