# find the unique number in a list using function?
Sample Input : [2,1,4,3,1,4,2]
Sample Output : 3

In [ ]:
arr = [2,1,4,3,1,4,2,5]
def odd_occurring_num(arr):
    return [i for i in arr if arr.count(i) < 2]
# print(arr)

print(odd_occurring_num(arr))

In [ ]:
l=[2,1,3,2,1]
def odd(l):
    for i in l:
        if l.count(i)<2:
            print(odd(l))

In [1]:
a=[2,1,4,3,5,2,1,4,3]
r=0
for i in a:
    r^=i
print(r)

5

# 1.find the student who has Highest marks ?
Input :  student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
Output : {'xyz':78}

In [1]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=' '
for i in student:
    var=student.get(i)["score"]
    if var>max:
        max=var
        stu=i
print({stu:max})

{'Talha': 78}

# 2. Sort the list on the basis of second element in the tuple ?
Sample Input = [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
Sample Output = [(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]Ì€

In [ ]:
tup = [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
def SortTuple(tup):  
    n = len(tup)
    for i in range(n):
        for j in range(n-i-1):
            if tup[j][1] > tup[j + 1][1]:
                tup[j], tup[j + 1] = tup[j + 1], tup[j]
    return tup    
print(SortTuple(tup))

# 3.Swap adjacent elements in a list without using inbuilt functions?

In [32]:
swap_list=[21,22,23,24,25]
for i in range(0,len(swap_list)):
    swap_list[i],swap_list[i-1]=swap_list[i-1],swap_list[i]
print(swap_list)

[22, 23, 24, 21, 25]

In [2]:
l=[2,1,3,4,5]
for i in (0,len(l),2):
    if i<len(l):
        l[i],l[i+1]=l[i+1],l[i]
print(l)

[1, 2, 4, 3, 5]

In [3]:
l=[32,33,34,35,0,1]
for i in range(1,len(l),2):
    l[i],l[i-1]=l[i-1],l[i]
print(l)

[33, 32, 35, 34, 1, 0]

In [2]:
def func_list(a,a[1],a[2]):
    i=0
    for i in range(len(a),2):
        a[i],a[i+1]=a[i+1],a[i]
a=[21,22,23,24,25,26]
func_list(a,a[1],a[2])

SyntaxError: invalid syntax (3818784005.py, line 1)

# swap the ajacent element of iterable using function take indexing as argument

In [1]:
def func(myl,pos1,pos2):
    myl[pos1],myl[pos2]=myl[pos2],myl[pos1]
    return myl
myl=[21,32,45,56]
func(myl,0,1)

[32, 21, 45, 56]

In [4]:
def func(myl,pos1,pos2):
    myl[pos1],myl[pos2]=myl[pos2],myl[pos1]
    return myl        
myl=[21,32,45,56]
func(myl,0,1)

[32, 21, 45, 56]

In [ ]:
def compress(s):
    n=len(s)
    new_s=''
    count=1
    for i in range(n-1):
        if s[i]==s[i+1]:
            count+=1
        else:
            new_s=new_s + s[i] + str(count)
            count=1
    new_s=new_s + s[n-1] + str(count)

    return new_s
s='aabbccafff'
print(compress(s))

# 4. Write a program to enter the number till the user wants and at the
end it should display the sum of all numbers entered.(using while loop)

In [ ]:
a=int(input())
b=int(input())
def sum(a,b):
    print(a+b)
sum(a,b)

In [ ]:
result=0
i=0
b=[]
n=int(input('enter number you want to add'))
for j in range(n):
    k=int(input('enter the number'))
    b.append(k)
while i<len(b):
    result=result+b[i]
    i+=1
print('sum of all the number',result)

# 6.Create a iterator to find all the Power of 3?

In [ ]:
class PowTwo:
    """Class to implement an iterator of powers of three"""
    def __init__(self, max=0):
        self.max = max

    def __iter__(self):
        self.n = 0
        return self
    def __next__(self):
        if self.n <= self.max:
            result = 3 ** self.n
            self.n += 1
            return result
        else:
            raise StopIteration
# create an object
numbers = PowTwo(3)
# create an iterable from the object
i = iter(numbers)
# Using next to get to the next iterator element
print(next(i))
print(next(i))
# print(next(i))
# print(next(i))
# print(next(i))

In [ ]:
a=[3,4,5]
b=iter(a)
print(b)
print(next(b))
print(next(b))

# 7.give example of Multilevel Inheritence and use super function in the same

In [ ]:
class Bus:
    def __init__(self,name):
        self.name=name
    def info(self):
        print('name',self.name)
class Car(Bus):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
        c=super().info()
    def info(self):
        print('name',self.name,'age',self.age)
#         print('c',c)
class Truck(Car):
    def __init__(self,name,age,alpha):
        super().__init__(name,age)
        self.alpha=alpha
    def info(self):
        print('name',self.name,'age',self.age,'alpha',self.alpha)
        
obj=Truck('minhaj',21,'A')        
obj.info()

# 8.Convert a local variable into global variable and give the methods to access the same

In [2]:
 
def local_func():
    global y
    y="awesomE"
    print("Sky is",y)
local_func()
print("Sky is",y)

Sky is awesomE
Sky is awesomE

# input="sky is blue" output="blue is sky"

In [29]:
st="sky is blue"
lt=st.split()
# x=x[::-1]
z=" ".join(st.split()[::-1])
print(z)
# print(type(lt))

blue is sky

In [3]:
dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]
dict2=[]
for i in dict1:
    c=i["amount"]
    dict2.append(float(c))
print(sum(dict2))
#     i+=1
#     print(sum(d))

4150.0

# 10.Find the even and odd from the given list using anonymous function

In [ ]:
x=[2,3,4,5]
b=[]
def func(x):
    for i in x:
        if i%2==0:
            print("even") 
        else:
            print("odd") 
    b.append(x)
func(x)

In [4]:
list1=[12,14,15,16,17]
y=map(lambda x:"even" if x%2==0 else "odd",list1)
print(list(y))

['even', 'even', 'odd', 'even', 'odd']

In [5]:
list1=[1,2,3,4]
y=map(lambda x:x**3 ,list1)
print(list(y))

[1, 8, 27, 64]

# ip="a,a,b,b,c,c,c" => op=a:2,b:2,c:3

In [1]:
ip="a,b,b,c,c,c"
lp=ip.split(',')
ep=[]
for i in lp:
    if i not in ep:
        print(f"{i}:{lp.count(i)}",end=",")
        ep.append(i)

a:1,b:2,c:3,

In [ ]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    square = num1*2
    # return four values
    return add, sub, multiply, division, square

# read four return values in four variables
a, b, c, d ,e= arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)
print("Square",e)

In [ ]:
def add(a,b):
    c=a*2
    return c
d=add(2,3)
print('power is',d)

In [6]:
a=[254,56,120,30,0.5,0]
c=0
for i in a:
    if c<i:
        c=i
print(c)

254

In [ ]:
class findmax:
    def __init__(self,a):
        self.a=a
    def show(self):
        a=[254,56,120,30,0.5,0]
        c=0
        for i in a:
            if c<i:
                c=i
        return c
obj=findmax(a)
obj.show()

In [ ]:
class listh:
#     def __init__(self,a):
#         self.a=a
    def show(self):
        a=[254,56,120,30,0.5,0]
        c=0
        for i in a:
            if c<i:
                c=i
obj1=listh()
obj1.show()

In [7]:
class findmaxm:
    def max(self):
        a=[254,56,120,30,0.5,0]
        c=0
        for i in a:
            if c<i:
                c=i
        return c
obj=findmaxm()
obj.max()

254

# qns on dictonery

In [ ]:
dict1={}
for i in range(0,11):
    dict1[i]=i**2
print(dict1)

# op={0:"even",1:"odd",2:"even"......}

In [31]:
dict_even={x:"even" if x%2==0 else "odd" for x in range(0,9)}
print(dict_even)

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even'}

In [30]:
dict2={1:1,2:2,3:3,4:4,5:5}
dict3={key:"even" if key%2==0 else "odd" for key in dict2}
print(dict3)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

# how to find max value in dict

In [ ]:
dict3={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
dict4=0
for i in dict3:
    val=dict3.get(i)
    if val>dict4:
        dict4=val
print({i:dict4})

In [ ]:
dictm={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
# dict1m=0
dict2m=map(lambda key:dictm[key] if dictm[key]>0 )
print(dict{key:dictm[key]})

In [1]:
#using max
dictm={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
dictmax=max(dictm.values())
dictkey=max(dictm.keys())
print({dictkey:dictmax})

{10: 100}

In [2]:
dicts={1: 10000,3: 9, 4: 16,2:4, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 1000}
print(sorted(dicts.items()))

[(1, 10000), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 1000)]

In [3]:
dictv = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
dicts=[]
for i in dictv:
    value=dictv.get(i)['score']
    dicts.append(value)
print({'score total':sum(dicts)})

{'score total': 162}

In [4]:
li=[{"name":"raja","totalPremium":4569},{"name":"raja","totalPremium":"4569"}, {"name":"raja","totalPremium":4569.44},{"name":"raja","totalPremium":"4569.54"}]
li2=[]
for i in li:
    li2.append(float(i["totalPremium"]))

print(sum(li2))

18276.98

In [ ]:
dictval = {"Umar":{"score": '67'}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
dictst=[]

In [ ]:
a=[23,34,12]
a.sort()
print(a)
print(a[-1])

In [ ]:
n1=int(input('enter your number'))
n2=int(input('enter your second number'))
print('''
1.Add
2.Subtract''')
op=input('enter operator')
def calci(n1,n2):
    add = n1+n2
    subtract = n1-n2
    multiply = n1*n2
    divide = n1%n2
    return add,subtract,multiply,divide
add,subtract,multiply,divide=(n1,n2)
calci(n1,n2)    
# print('add')

In [ ]:
a=int(input())
b=int(input())
def cal(a,b):
    c=a-b
    return c    
cal(a,b)

In [ ]:
a=input()
b=input()
class cal(a,b):
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self) :
        return a+b
obj=cal(a,b)  
obj.add()

In [ ]:
m=int(input())
n=int(input())
def calci(m,n):
    return m + n
calci(m,n)

In [ ]:
print(("A" != "A") or not (2 >= 3))

# Write a Python if/else statement in the code box below that sets the variable m to the smaller of a and b.

In [ ]:
m=int(input())
a=100
b=50
# m=int(input())
if a<b:
    print(m==a)
else:
    print(m==b)

In [ ]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
#      return a

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

In [ ]:
def display(**kwargs):
    for i in kwargs:
        print(i)

display(emp="Kelly", salary=9000)

In [ ]:
aTuple = (100, 200, 300, 400, 500)
aTuple[1] = 800
print(aTuple)

In [ ]:
sample_set = {'Mark', 'Jessa', [35, 78, 92]}
print(sample_set)

# sort the set

In [ ]:
s1={20,4,8,3,10}
print(s1)
s2=sorted(s1)
print(s2)
s3=set(s2)
print(s3)

In [ ]:
s1={10,1,100,2,200}
print(s1)
s2=sorted(s1)
print(s2)
s3=set(s2)
print(s3)

In [ ]:
a=[2,5,21,3]
b=set(a)
print(b)

In [ ]:
color_set = {'violet', 'indigo', 'blue', 'green', 'yellow'}
remaining_colors = {'indigo', 'orange', 'red'}
vibgyor = color_set | remaining_colors
# vibgyor = color_set.union(remaining_colors)
print(vibgyor)

In [ ]:
color_set = {'violet', 'indigo', 'blue', 'green', 'yellow'}
remaining_colors = {'indigo', 'orange', 'red'}
vibgyor = color_set & remaining_colors
print(vibgyor)

In [ ]:
color_set = {'violet', 'indigo', 'blue', 'green', 'yellow'}
remaining_colors = {'indigo', 'orange', 'red'}
vibgyor = color_set - remaining_colors
print(vibgyor)

In [ ]:
l=[2,5,3,4]
for i in range(1,len(l)):
        if l[i]>l[i-1] :
            l[i],l[i-1]=l[i-1],l[i]
            
print(l)

In [ ]:
l=[2,5,3,4]
for i in range(1,len(l)):
        while l[i-1]>l[i]  and i>0:
            l[i-1],l[i]=l[i],l[i-1]
            i=i-1
print(l)

In [ ]:
from functools import reduce
a=[1,2,3,4]
c=reduce(lambda a,b:a+b,a)
print(c)

In [ ]:
a=[2,5,3]
sums= 0
for i in a:
    sums +=i
print(sums)

In [6]:
class A(object):
    def __init__(self,num):
        self.num=num
        print("1",self.num)
    def mul_two(self):
        self.num*=2
        print("2",self.num)
        
class B(A):
    def __init__(self,num):
        super().__init__(num)
    def mul_three(self):
        self.num*=3
        print("3",self.num)

obj=B(4)
print(obj.num)
obj.mul_two()
print(obj.num)
obj.mul_three()
print(obj.num)

1 4
4
2 8
8
3 24
24

In [ ]:
class A(object):
    def __init__(self,name,human):
        self.name=name
        self.person=human
    def info(self):class A(object):
    def __init__(self,num):
        self.num=num
        print("1",self.num)
    def mul_two(self):
        self.num*=2
        print("2",self.num)        
class B(A):
    def __init__(self,num):
        super().__init__(num)
    def mul_three(self):
        self.num*=3
        print("3",self.num)
obj=B(4)
print(obj.num)
obj.mul_two()
print(obj.num)
obj.mul_three()
print(obj.num)
        print("My name is {0}, I am a {1}".format(self.name,self.__class__.__name__))
#           print(f"My name is {self.name}, I am a {self.name}")
#           print(f"My name is {self.name}, I am a {self.person}")

bob = person(name='Robert',human="Human")
bob.info()
# My name is Robert, I am a person

In [ ]:
import time
print(time.time())

In [ ]:
import datetime
print(datetime.datetime.now())

In [ ]:
from datetime import date
def test():
    t=date.today()
    print("today",t)
test()

In [ ]:
import calendar

# year = 2022
# month = 10

# Display calendar
# print(calendar.isleap(2023))
print(calendar.setfirstweekday(1))

In [9]:
class Person(object):
    
    def __init__(self, name,other):
        self.name = name
        self.other=other
        
    def say_hello(self):
        print("Hello, my name is " + self.name)
        
    def say_hello_to(self):
        print("Hello " + self.other + ", my name is " + self.name)

phone=Person("iram","python")
phone.say_hello()
phone.say_hello_to()
print(Person.mro())

Hello, my name is iram
Hello python, my name is iram
[<class '__main__.Person'>, <class 'object'>]

In [7]:
class Person(object):
    
    def __init__(self, name):
        self.name = name
        
        
    def say_hello(self):
        print("Hello, my name is " + self.name)
        
    def say_hello_to(self,other,age,name1,num):
        print(f"Hello {other.name} {age.name} my name is {self.name}my friend name is {name1.name}")
        print(f"hello {num.name}")

        
phone=Person("iram")
phone1=Person("python")
phone2=Person(12)
phone3=Person("minhaj")
phone4=Person(90752)
# phone.say_hello()
phone.say_hello_to(phone1,phone2,phone3,phone4)

Hello python 12 my name is irammy friend name is minhaj
hello 90752

In [8]:
def dec1(func):
    def dec2():
        print("excecuted in dec2")
        func()
        print("excuted in func")
    return dec2
@dec1
def main():
    print("executed in main")
main()

excecuted in dec2
executed in main
excuted in func

In [9]:
input='qA2'
print(any(i.isalnum() for i in input))
print(any(i.isalpha() for i in input))
print(any(i.islower() for i in input))
print(any(i.isdigit() for i in input))
print(any(i.isupper() for i in input))

True
True
True
True
True

In [13]:
lt=[11,12,13,5,6]
for i in range(1,len(lt)):
    while lt[i]>lt[i-1] and i>0:
        lt[i],lt[i-1]=lt[i-1],lt[i]
        i-=1
print(lt)

[13, 12, 11, 6, 5]

In [15]:
# candidates = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
candidates = {"Umar":67, "Talha":78, "Shadab": 17}

max=0
st=" "
for i in candidates:
#     score=candidates.get(i)['score']
    score=candidates.get(i)
    if score>max:
        max=score
        st=i
print({st:max})

{'Talha': 78}

In [16]:
lst=[2,1,3,4,5]
for i in range(1,len(lst),2):
    lst[i],lst[i-1]=lst[i-1],lst[i]
print(lst)

[1, 2, 4, 3, 5]

In [20]:
given_list=[0,2,1,5,3,4]
new_list=[]
for i in given_list:
        l=given_list[i]
        new_list.append(l)
print(new_list)

[0, 1, 2, 4, 5, 3]

In [42]:
# st="geeksforgeeks"
st="HappyNewYear"
est=[]
for i in st:
    if i not in est:
        est.append(i)
print(est)        
x="".join(est) 
print(x)

['g', 'e', 'k', 's', 'f', 'o', 'r']
geksfor

In [46]:
def remove_duplicate(st):
    e_lst=[]
    for char in st:
        if char not in e_lst:
            e_lst.append(char)
    remove="".join(e_lst)
    return remove
st="geeksforgeeks"
print(remove_duplicate(st))

geksfor

In [47]:
st="HappyNewYear"
st2=""
for i in st:
    if i not in st2:
        st2+=i
print(st2)

HapyNewYr

In [6]:
word = "Minhaj"
x = ""
for i in word:
    x += i
    print(x)

M
Mi
Min
Minh
Minha
Minhaj