# LEETCODE QN

In [2]:
Result =[]
scorelist = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        
        Result+=[[name,score]]
#         print('result ++',Result)
        scorelist+=[score]
#         print('scorelist ++',scorelist)
        
    b=sorted(list(set(scorelist)))[1] 
#     print('sorted list of b',b)

    for a,c in sorted(Result):
        if c==b:
            print(a)

5
herry
37.21
tina
35.2
berry
37.21
albert
41
harsh
39
berry
herry

In [24]:
Result =[]
scorelist = []

if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        Result+=[[name,score]]
        scorelist+=[score]
    b=sorted(list(set(scorelist)))[1] 

    for a,c in sorted(Result):
        if c==b:
            print(a)

5
herry
37.21
berry
37.21
tina
37.2
arti
41
harsh
39
berry
herry

In [21]:
scorelist=[37.0, 37.0, 35.2, 40.6, 20.9]
b=sorted(list(set(scorelist)),reverse=True)
print(b)
print(b[1])
Resultss=[['herry', 37.0], ['berry', 37.0], ['tina', 35.2], ['albert', 40.6], ['harsh', 20.9]]
print(sorted(Resultss))

# for a,c in sorted(Resultss):
# #         print(Resultss)
#         if c==35.2:
#             print(c)
#             print(a)
py_set = {'e', 'a', 'u', 'o', 'i'}
print(sorted(py_set, reverse=True))

[40.6, 37.0, 35.2, 20.9]
37.0
[['albert', 40.6], ['berry', 37.0], ['harsh', 20.9], ['herry', 37.0], ['tina', 35.2]]
['u', 'o', 'i', 'e', 'a']

In [26]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
        print('student_mark',student_marks)
    query_name = input()

    print("%.03f" % (sum(student_marks[query_name]) / 3))

2
hhh 11 12 13
student_mark {'hhh': [11.0, 12.0, 13.0]}
nnn 21 22 23
student_mark {'hhh': [11.0, 12.0, 13.0], 'nnn': [21.0, 22.0, 23.0]}
hhh
12.000

# HACKER RANK QN

# Say "Hello, World!" With Python

In [1]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

# Python If-Else

In [10]:
n=int(input())
if n%2:
    print("Weird")
elif (n>=2 and n<=5):
    print("Not Weird")
elif (n>=6 and n<=20):
    print("Weird")
else:
    print("Not Weird")

22
Not Weird

# Arithmetic operators

In [11]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

3
2
5
1
6

# Python Division

In [14]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

3
5
0
0.6

# python loop

In [16]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

3
0
1
4

# python function

In [33]:
n=int(input())
e=[]
for i in range(1,n+1):
    print(i,end='')

3
123

# merged tools

In [2]:
def merge_the_tools(string, k):
    # your code goes here
    temp = []
    len_temp = 0
    for item in string:
        len_temp += 1
#         print('len',len_temp)
        if item not in temp:
            temp.append(item)
#             print('temp',temp)
        if len_temp == k:
#             print('len_temp',len_temp)
            print (''.join(temp))
#             print('temp',temp)
            temp = []
            len_temp = 0
string, k = input(), int(input())
merge_the_tools(string, k)

aaabbbccccdd
2
a
ab
b
c
c
d

# compnay logo

In [1]:
from collections import Counter

s = input()
s=sorted(s)
frequency=Counter(list(s))
for k,v in frequency.most_common(3):
    print(k,v)

aaabbbbbbccccss
b 6
c 4
a 3

# word order

In [1]:
n = int(input().strip())
counter = {}
words = []
for i in range(n):
  word = input().strip()
  if word in counter:
    counter[word] += 1
  else:
    counter[word] = 1
    words.append(word)
    
print(len(words))
print(' '.join([str(counter[word]) for word in words]))

4
abcdef
bced
abcdef
abc
3
2 1 1

# itertools.product()

In [2]:
from itertools import product
a = map(int, input().split())
b = map(int, input().split())
print(*product(a, b))

1 2
3 4
(1, 3) (1, 4) (2, 3) (2, 4)

# swapcase

In [8]:
def swap_case(s):
    result = []
    for letter in s:
        if letter == letter.lower():
            result.append(letter.upper())
        elif letter == letter.upper():
            result.append(letter.lower())
        else:
            result.append(letter)
    return ''.join(result)
print(swap_case("HackerRank.com presents Pythonist 2"))

hACKERrANK.COM PRESENTS pYTHONIST 2

In [6]:
SWAP="HackerRank.com presents Pythonist 2"
X=SWAP.swapcase()
print(X)

hACKERrANK.COM PRESENTS pYTHONIST 2

In [ ]:
string split join

In [1]:
l="this is a string"
m=l.split()
print(m)
s=[]
for i in m:
    s.append(i)
    t="-".join(s)
print(t)

['this', 'is', 'a', 'string']
this-is-a-string

In [17]:
def splitJoin(line):
    return line.replace(' ','-')


line=input()
result=splitJoin(line)
print(result)

this is qns
this-is-qns

In [ ]:
whats your name

In [18]:
def print_full_name(first, last):
    c="Hello {0} {1}! You just delved into python".format(first_name,last_name)
    return c


    # Write your code here

first_name = input()
last_name = input()
print_full_name(first_name, last_name)

Ross
Tatlor

'Hello Ross Tatlor! You just delved into python'

In [20]:
def count_substring(string, sub_string):
#     a="Suraiya is my friend,Suraiya is a mad girl and suraiya is learning coding in mcc"
    x=string.count(sub_string)
#     print(x)
    return x

string = input().strip()
sub_string = input().strip()
    
count = count_substring(string, sub_string)
print(count)

ABCDCDC
CDC
1

In [ ]:
if __name__ == '__main__':
    N = int(input())
    L=[];
    for i in range(0,N):
        cmd=input().split();
        if cmd[0] == "insert":
            L.insert(int(cmd[1]),int(cmd[2]))
        elif cmd[0] == "append":
            L.append(int(cmd[1]))
        elif cmd[0] == "pop":
            L.pop();
        elif cmd[0] == "print":
            print(L)
        elif cmd[0] == "remove":
            L.remove(int(cmd[1]))
        elif cmd[0] == "sort":
            L.sort();
        else:
            L.reverse();

12
insert 1 2

In [1]:
if __name__=='__main__':
    I = int(input())
    S=set();
    for i in range(0,I):
        cd=input().split();
        S.add(cd)
        if cd[0] == "pop":
            S.pop();
        elif cd[0] == "remove":
            S.remove(int(cd[1]))
        elif cd[0] == "discard":
            S.discard(int(cd[1]))
        elif cd[0] == "print":
            print(S)

# s = set([1, 2, 3, 4, 5, 6, 7, 8, 9])
# s.pop()
# s.remove(9)
# s.discard(9)
# s.discard(8)
# s.remove(7)
# s.pop()
# s.discard(6)
# s.remove(5)
# s.pop()
# s.discard(5)

# print(s)

2
1 2 3 4 5

TypeError: unhashable type: 'list'

In [1]:
n = int(input())
s = set(map(int,input().split()))
num = int(input())
for i in range(num):
    ip = input().split()
    if ip[0]=="remove":
        s.remove(int(ip[1]))
    elif ip[0]=="discard":
        s.discard(int(ip[1]))
    else :
        s.pop()
print(sum(list(s)))

10
1 2 3 4 5 6 7 8 9
pop

ValueError: invalid literal for int() with base 10: 'pop'

In [3]:
n = int(input())
arr = map(int, input().split())
a=0
for i in arr:
    if i<a:
        i==a
        print(i)

3
1 2 3

In [5]:
def divmod(a,b):
    c=a//b
    d=a%b
    return (c,d)


divmod(177,10)

(17, 7)

In [2]:

s=input().split();
print(s)
print(set(s))

1 2 3 5 3
['1', '2', '3', '5', '3']
{'1', '5', '2', '3'}

In [ ]:
N = int(input())
# s=set()
for i in range(0,N):
        st=input().split();
        lenset=len(st)
#         sumset=sum(int(st))
        print(lenset)
#         print(sumset)

3
1 2 3
3

In [6]:
for i in range(5):
    pass
#     if i%2==0:
#         print(i)
print(i)

4

calender module

In [4]:
import calendar

yy=2023
mm=1
print(calendar.month(yy,mm))

    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [8]:
print("the calender of the year 2023 is")
print(calendar.calendar(2023,2,1,6))

the calender of the year 2023 is
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [1]:
import calendar
MM,DD,YYYY=map(int,input().split())
print(calendar.day_name[calendar.weekday(YYYY,MM,DD)].upper())

02 01 2028
TUESDAY

In [22]:
import calendar
from datetime import date
from datetime import date
# get today's date
d = date.today()
# d="2024-07-01"
# d = 2023-02-12
print('Date is:', d)

# get day name in english
x = calendar.day_name[d.weekday()]
print('Weekday name is:', x)
if x=="Sunday":
    print("weekend")
else:
    print("week day")

Date is: 2023-02-14
Weekday name is: Tuesday
week day

In [4]:
import datetime

# given date
x_date = datetime.date(2022, 2, 14)
no = x_date.weekday()
print(no)

if no < 6:
    print("Date is Weekday")
else:  # 5 Sat, 6 Sun
    print("Date is Weekend")

0
Date is Weekday

In [8]:
import pandas as pd

d = pd.Timestamp('2022-02-14')
print(d.dayofweek, d.day_name())

0 Monday

In [16]:
from datetime import datetime
import calendar
from datetime import date


# get current datetime
# dt = datetime.now()
dt=date.today()
# dt=2023-2-9
print('Datetime is:', dt, type(dt))

# weekday (Monday =0 Sunday=6)
print('Weekday Number:', dt.weekday())

# isoweekday(Monday =1 Sunday=6)
print('ISO Weekday Number:', dt.isoweekday())

# get weekday name
print('Weekday Name:', dt.strftime('%A'))

# get day name
x = calendar.day_name[dt.weekday()]
print('Weekday name is:', x)

Datetime is: 2023-02-14 <class 'datetime.date'>
Weekday Number: 1
ISO Weekday Number: 2
Weekday Name: Tuesday
Weekday name is: Tuesday

In [51]:
# import datetime
from datetime import date

# a = datetime.datetime.today()
a=date.today()
numdays = 5
dateList = []

for x in range (0, numdays):
    dateList.append(a + datetime.timedelta(days = x))
print(dateList)

[datetime.date(2023, 2, 14), datetime.date(2023, 2, 15), datetime.date(2023, 2, 16), datetime.date(2023, 2, 17), datetime.date(2023, 2, 18)]

In [35]:
from datetime import date

base = date.today()
date_list = [base + datetime.timedelta(days=x) for x in range(numdays)]
print(date_list)

[datetime.date(2023, 2, 14), datetime.date(2023, 2, 15), datetime.date(2023, 2, 16), datetime.date(2023, 2, 17), datetime.date(2023, 2, 18)]

In [53]:
from datetime import date

start = date(2023,2,5)
# start = date.(2023,2,5)
# end= date.(2023,2,15)
end = date(2023,2,15)
len=(end-start).days
print('len',len+1)
daterange = [start + datetime.timedelta(days=x) for x in range(0, len+1)]
no = x_date.weekday()
print(no)

if no < 6:
    print("Date is Weekday")
else:  # 5 Sat, 6 Sun
    print("Date is Weekend")
print(daterange)

len 11
0
Date is Weekday
[datetime.date(2023, 2, 5), datetime.date(2023, 2, 6), datetime.date(2023, 2, 7), datetime.date(2023, 2, 8), datetime.date(2023, 2, 9), datetime.date(2023, 2, 10), datetime.date(2023, 2, 11), datetime.date(2023, 2, 12), datetime.date(2023, 2, 13), datetime.date(2023, 2, 14), datetime.date(2023, 2, 15)]

In [2]:
import pandas as pd
from datetime import datetime

pd.date_range(end = datetime.today(), periods = 50).to_pydatetime().tolist()

#OR

pd.date_range(start="2023-02-09",end="2020-02-15")

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [60]:
from datetime import date

start = date(2023,2,5)
end = date(2023,2,15)
len=(end-start).days
print('len',len+1)
daterange = [start + datetime.timedelta(days=x) for x in range(0, len+1)]
eList = []

for x in range(0, len+1):
    eList.append(start + datetime.timedelta(days=x) )
print(eList)    
    
# no = x_date.weekday()

len 11
[datetime.date(2023, 2, 5), datetime.date(2023, 2, 6), datetime.date(2023, 2, 7), datetime.date(2023, 2, 8), datetime.date(2023, 2, 9), datetime.date(2023, 2, 10), datetime.date(2023, 2, 11), datetime.date(2023, 2, 12), datetime.date(2023, 2, 13), datetime.date(2023, 2, 14), datetime.date(2023, 2, 15)]

In [55]:
from datetime import datetime

# date_str = '09-19-2022'
date_str1 = '2023-02-19'
date_str2 = '2023-02-25'

date_object = datetime.strptime(date_str, '%Y-%m-%d').date()
date_object2 = datetime.strptime(date_str2, '%Y-%m-%d').date()

len=(date_object2-date_object).days
print(len)
eList = []

for x in range(0, len+1):
    eList.append(date_object + datetime.timedelta(days=x) )
print(eList)    

# print(type(date_object))
# print(date_object)
# print(date_object2)  # printed in default format# printed in default format

NameError: name 'date_str' is not defined

In [59]:
import datetime
# startip=input()
# endip=input()
# start = datetime.datetime.strptime("21-06-2014", "%d-%m-%Y")

start = datetime.datetime.strptime("2023-1-02", "%Y-%m-%d")
end = datetime.datetime.strptime("2023-2-02", "%Y-%m-%d")

print(start)
l=(end-start).days
print(l+1)
date_generated = [start + datetime.timedelta(days=x) for x in range(0, l+1)]

for date in date_generated:
    pass
#     print(date)
    
#     if date + timedelta(days=i).weekday() not in (6,):
#     print(date.strftime("%Y-%m-%d"))

2023-01-02 00:00:00
32

In [68]:
import datetime

def workdays(d, end, excluded=(7,)):
    days = []
    while d.date() <= end.date():
        if d.isoweekday() not in excluded:
            days.append(d)
        d += datetime.timedelta(days=1)
    return days
total=workdays(datetime.datetime(2023, 2, 14),
               datetime.datetime(2023, 2, 28))
print(total[3])

2023-02-17 00:00:00

In [79]:
days = []

start = datetime.datetime.strptime("2023-02-14", "%Y-%m-%d")
end = datetime.datetime.strptime("2023-03-30", "%Y-%m-%d")
btwn = datetime.datetime.strptime("2023-03-10", "%Y-%m-%d")

while start.date() <= end.date():
    if start.isoweekday() not in (7,):
        days.append(start)
        print(start.strftime("%Y-%m-%d"))
    start += datetime.timedelta(days=1)
    if start == btwn:
        continue
    
print(days)

2023-02-14
2023-02-15
2023-02-16
2023-02-17
2023-02-18
2023-02-20
2023-02-21
2023-02-22
2023-02-23
2023-02-24
2023-02-25
2023-02-27
2023-02-28
2023-03-01
2023-03-02
2023-03-03
2023-03-04
2023-03-06
2023-03-07
2023-03-08
2023-03-09
2023-03-10
2023-03-11
2023-03-13
2023-03-14
2023-03-15
2023-03-16
2023-03-17
2023-03-18
2023-03-20
2023-03-21
2023-03-22
2023-03-23
2023-03-24
2023-03-25
2023-03-27
2023-03-28
2023-03-29
2023-03-30
[datetime.datetime(2023, 2, 14, 0, 0), datetime.datetime(2023, 2, 15, 0, 0), datetime.datetime(2023, 2, 16, 0, 0), datetime.datetime(2023, 2, 17, 0, 0), datetime.datetime(2023, 2, 18, 0, 0), datetime.datetime(2023, 2, 20, 0, 0), datetime.datetime(2023, 2, 21, 0, 0), datetime.datetime(2023, 2, 22, 0, 0), datetime.datetime(2023, 2, 23, 0, 0), datetime.datetime(2023, 2, 24, 0, 0), datetime.datetime(2023, 2, 25, 0, 0), datetime.datetime(2023, 2, 27, 0, 0), datetime.datetime(2023, 2, 28, 0, 0), datetime.datetime(2023, 3, 1, 0, 0), datetime.datetime(2023, 3, 2, 0, 0), datetime.datetime(2023, 3, 3, 0, 0), datetime.datetime(2023, 3, 4, 0, 0), datetime.datetime(2023, 3, 6, 0, 0), datetime.datetime(2023, 3, 7, 0, 0), datetime.datetime(2023, 3, 8, 0, 0), datetime.datetime(2023, 3, 9, 0, 0), datetime.datetime(2023, 3, 10, 0, 0), datetime.datetime(2023, 3, 11, 0, 0), datetime.datetime(2023, 3, 13, 0, 0), datetime.datetime(2023, 3, 14, 0, 0), datetime.datetime(2023, 3, 15, 0, 0), datetime.datetime(2023, 3, 16, 0, 0), datetime.datetime(2023, 3, 17, 0, 0), datetime.datetime(2023, 3, 18, 0, 0), datetime.datetime(2023, 3, 20, 0, 0), datetime.datetime(2023, 3, 21, 0, 0), datetime.datetime(2023, 3, 22, 0, 0), datetime.datetime(2023, 3, 23, 0, 0), datetime.datetime(2023, 3, 24, 0, 0), datetime.datetime(2023, 3, 25, 0, 0), datetime.datetime(2023, 3, 27, 0, 0), datetime.datetime(2023, 3, 28, 0, 0), datetime.datetime(2023, 3, 29, 0, 0), datetime.datetime(2023, 3, 30, 0, 0)]

In [73]:
create_date=datetime.date.today()
# print(create_date<None)

TypeError: '<' not supported between instances of 'datetime.date' and 'NoneType'

In [43]:
from datetime import datetime, timedelta


def get_business_days(start_date, end_date):
    return sum([
        (start_date + timedelta(days=i)).weekday() not in (6,)
        for i in range((end_date - start_date).days + 1)
        
    ])


create_date = "2023-02-14 10:47:00"
resolve_date = "2023-02-28 16:56:00"

s = datetime.strptime(create_date, '%Y-%m-%d %H:%M:%S')
e = datetime.strptime(resolve_date, '%Y-%m-%d %H:%M:%S')

print(get_business_days(s, e))

13

In [45]:
create_date = "2023-02-14 10:47:00"
resolve_date = "2023-02-28 16:56:00"

start_date = datetime.strptime(create_date, '%Y-%m-%d %H:%M:%S')
end_date = datetime.strptime(resolve_date, '%Y-%m-%d %H:%M:%S')

total= [
        (start_date + timedelta(days=i)).weekday() not in (6,)
        for i in range((end_date - start_date).days + 1)
        
    ]
print(total)

[True, True, True, True, True, False, True, True, True, True, True, True, False, True, True]

In [46]:
for i in range((end_date - start_date).days + 1):
    if (start_date + timedelta(days=i)).weekday() not in (6,):
        print(timedelta(days=i))

0:00:00
1 day, 0:00:00
2 days, 0:00:00
3 days, 0:00:00
4 days, 0:00:00
6 days, 0:00:00
7 days, 0:00:00
8 days, 0:00:00
9 days, 0:00:00
10 days, 0:00:00
11 days, 0:00:00
13 days, 0:00:00
14 days, 0:00:00

In [42]:
from datetime import datetime, timedelta


def get_business_days(start_date, end_date):
    return sum([
        (start_date + timedelta(days=i)).weekday() not in (5, 6)
        for i in range((end_date - start_date).days + 1)
    ])


create_date = "2017-08-29 10:47:00"
resolve_date = "2017-09-23 16:56:00"

s = datetime.strptime(create_date, '%Y-%m-%d %H:%M:%S')
e = datetime.strptime(resolve_date, '%Y-%m-%d %H:%M:%S')

print(get_business_days(s, e))

19

# CODE WARS

In [3]:
def common_str():
    str1=input('enter first string:')
    str2=input('enter second string:')
    s1=set(str1)
    s2=set(str2)
#     print(s1)
#     print(s2)
    lst=s1 & s2
    print('common charaters are',lst)
common_str()

enter first string:asif
enter second string:ashar
common charaters are {'a', 's'}

In [1]:
from functools import reduce
score=[23,34,12,67]
total=reduce(lambda a,b:a if a>b else b,score)
print(total)

67

In [ ]:
from collections import Counter

s = input()
s=sorted(s)
frequency=Counter(list(s))
for k,v in frequency.most_common(3):
    print(k,v)

In [12]:
data=[{'address': [{'pincode': '400072', 'user_id': 6, 'city': 'mumbai', 'is_same': True, 'user': {'id': 6, 'name': 'minhaj'}, 'area': 'kurla', 'id': 1, 'state': 'Maharshtra'}], 'modified_on_tmz': '2023-02-13 13:10', 'current_education': [], 'name': 'minhaj', 'last_login': '2023-02-13', 'modified_user': {}, 'family_detail': None, 'basic_detail': {'aboutme': 'description of person', 'user_id': 6, 'video_link': 'vjbwebw b;.com', 'user': {'id': 6, 'name': 'minhaj'}, 'scholarship': 'zakat', 'religion': 'Muslim', 'gender': 'M', 'photo': '', 'id': 3, 'phone2': '9876543281', 'dob': '2023-02-04'}, 'email': 'minhaj688@gmail.com', 'past_education': [], 'id': 6, 'finance_asist': None, 'disabled': False, 'modified_on': '2023-02-13 07:40:26.103928'}]

In [24]:
# print(data[0])
# print(data[0].get("address"))
# print(data[0].get("current_education"))
for i in data[0]:
    if not data[0][i]:
        print(i)

current_education
modified_user
family_detail
past_education
finance_asist
disabled

In [7]:
l=[1,2,{3:{"a":12,"b":13}},4,5]
print(l[2])
print(l[2].get(3))

{3: {'a': 12, 'b': 13}}
{'a': 12, 'b': 13}

In [1]:
a={3:{"a":12,"b":13},"b":0,"c":[]}

In [3]:
for i in a:
    print(i)
    if not i:
        print("a",i)

3
b
c

In [10]:
b=[]
if not b:
    print("hello")

hello

In [76]:
from countryinfo import CountryInfo
name = "India"
country = CountryInfo(name)
data = country.info()
print(data["provinces"])

ModuleNotFoundError: No module named 'Countryinfo'

In [1]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [2]:
# numbers = [1, 2, 3, 4, 2, 5]

# check if numbers is instance of list
result = isinstance("4", int)
print(result)

# Output: True

False