                                                 1.comments modules and pip

In [3]:
a = "hello world"
print(a) #single comments
print('''Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.
''')  #multline comments

hello world
Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

                                 2.Data types:1.integer ,2.string ,3.floating point number ,4.boolean ,5.none

In [5]:
#data types:1.interger,2.string,3.floating point,4.boolean,5.none
a = 342
b = "hello world"
c = 56.34
d = True
e = None
print(a,b,c,d,e)

342 hello world 56.34 True None

                                  3.variables is a names to store memory location in programing

In [9]:
a = 30       #variables = container to store a values  
b = "hello"  #keyowrd = keyword is reserved word
c = 34.9      #identifier = function/class/varables names 
print(a,b,c)

c = "hello"
print(c)
#rules varibles.py
a = 89
aaa = 90
Harry = 90
sameer = 81
_sameer =90
print(a,aaa ,Harry,sameer,_sameer)
#@sameer = 90 invalid due to @ symbol
# s@meer  # invalid  due to @ symbol

30 hello 34.9
hello
89 90 90 81 90

                                                        4.Operators in python

In [13]:
#arithmetic operators = +,-,*,/,%
a  = 82
b = 2
print(a+b)

#assignment operators = +=,-=,*=etc
print(a)
b = 6
#b += 7 increment the value of b by 7 and then assign it to b
b -= 7 #decrement the value of b by 7 and then assign it to b
print(b)

#comparison opertaors = '>=,<=,==,!='
a = 2 > 5    #comparison gives output with boolean greater than ">=",less than "<="
print(a)

#logical operators = 'or ,and , not',only false is false and all are true

e = True or False #Truth table of 'or'
print("True or False",True  or False)
print("True or True",True or True)
print("False or True",False or True)
print("False or False",False or False)

e = True and False #Truth table of 'and',only true and true is true and thats all false
print("True and False",True and False)
print("True and True",True and True)
print("False and True",False and True)
print("False and False",False and False)
       
#input function
a = input("Enter the nuber of a:")
print(a)

84
82
-1
False
True or False True
True or True True
False or True True
False or False False
True and False False
True and True True
False and True False
False and False False

Enter the nuber of a: kh

kh

                                                      5.type casting

In [46]:
a = 90.34 #type casting
print(type(a))

<class 'float'>

                                                        6.input()func

In [ ]:
a = input("Enter the number of a:") #if we not use 'int' they have not calculate the numbers
b = input("Enter the number of b:")

print(a + b)

a = int(input("Enter the number of a:")) #if we  use 'int' they have calculate the numbers
b = int(input("Enter the number of b:"))

print(a + b)

                                                     6.string is a data types in python

In [25]:
# string is a data types in python
# string is a sequence character enclosed by quotes
# string there are three types of tring

a = 'hello world'# string is also using in single quotes'harry'
b = "hello world" # string using double quoted " harry "
c = '''hello world''' # string using triple quoted '''harry'''
print(a,b,c)

                #slicing string
#a string in python can be sliced for getting a part of string

text = "Amazon"
print(text[4])
          #slicing with skip value
word = "Amazing" #start:stop:step  
print(word[1:6:2])
                #other advance slicing technique
word = "masir"
print(word[0:])
word = "masir"
print(word[:5])

#lenfunc() = this function return the lenght of string
text = "hello"
print(len(text))
print(text.startswith("he"))
print(text.endswith("lo"))
print(text.capitalize())
print(text.upper())

#escape sequence character 
text = "masir is now playing with football \n nabil is not playing" #presend "\n"new line
print(text)
text = "masir is now playing with football \"masir\" is not playing" #presend \"--\" double quoted
print(text)
text = "masir is now playing with football \'nabil\' is not playing" #presend \"--\" double quoted
print(text)

hello world hello world hello world
o
mzn
masir
masir
5
True
True
Hello
HELLO
masir is now playing with football
 nabil is not playing
masir is now playing with football "masir" is not playing
masir is now playing with football 'nabil' is not playing

                                                             7.List

In [40]:
#python can consider to store a set of values in any data types
#list is mutable and tuple is non-mutable
list = [23,34]
print(type(list))

fruits = ["mango","apple",9,34.3,"grapes"]
fruits[3] = "watermelon"
print(fruits)

<class 'list'>
['mango', 'apple', 9, 'watermelon', 'grapes']
['orange', 'grapes', 9, 'apple']
[1, 4, 23, 23, 23, 23, 34, 34, 234]
[23, 34, 4, 1, 23, 23, 23, 234, 34]
[23, 43, 15, 34, 12, 1]
[23, 34, 1]
[34, 34]

                                                          List methods

In [ ]:
                                               #list method.append 
name = ["orange","grapes",9]
name.append("apple")
print(name)
                    #sort list work with number vice
l1 = [34,234,23,23,23,1,4,34,23]
l1.sort()
print(l1)
                    #reverse list
l1 = [34,234,23,23,23,1,4,34,23]
l1.reverse()
print(l1)
                    #insert list
l1 = [23,43,34,12,1]
l1.insert(2,15)
print(l1)
                      #pop list
l1 = [23,"mango",34,1]
l1.pop(1)
print(l1)
                     #remove list
l1 = [34,2892,34]
l1.remove(2892)
print(l1)

                                                              8.Tuple

In [42]:
tuple = (23,34,12,2)
print(type(tuple))

<class 'tuple'>

In [43]:
                                                  #Tuple count means counting the numbers
a = (23,8,23,123,12,1,233,122,8,34,23)
a.count(8)
   #Tuple index
b = (23,123,13,122,1,3,1)
b.index(123)

1

In [4]:
 #ps1
fruits = []
f1 = input("Enter the fruits name: ")
fruits.append(f1)
f2 = input("Enter the fruits name: ")
fruits.append(f2)
f3 = input("Enter the fruits name: ")
fruits.append(f3)
f4 = input("Enter the fruits name: ")
fruits.append(f4)
f5 = input("Enter the fruits name: ")
fruits.append(f5)
f6 = input("Enter the fruits name: ")
fruits.append(f6)
f7 = input("Enter the fruits name: ")
fruits.append(f7)
print(fruits)
   #ps2
marks = []
f1 = int(input("Enter here marks: "))
marks.append(f1)
f2 =  int(input("Enter here marks: "))
marks.append(f2)
f3 =  int(input("Enter here marks: "))
marks.append(f3)
f4 =  int(input("Enter here marks: "))
marks.append(f4)
f5 =  int(input("Enter here marks: "))
marks.append(f5)
f6 =  int(input("Enter here marks: "))
marks.append(f6)
marks.sort()
print(marks)

Enter the fruits name:  23
Enter the fruits name:  23
Enter the fruits name:  232
Enter the fruits name:  25
Enter the fruits name:  25
Enter the fruits name:  16
Enter the fruits name:  12

['23', '23', '232', '25', '25', '16', '12']

Enter here marks:  64
Enter here marks:  123
Enter here marks:  5
Enter here marks:  21
Enter here marks:  64
Enter here marks:  12

[5, 12, 21, 64, 64, 123]

                                                             9.Dictionary

In [39]:
                      #property of dict:it is unordered, it is mutable,it is indexed ,cannot contains duplicate keys 
#dictionary is a collection of key-value pairs
d ={}
print(type(d))

fruits = {
   #keys   #values
   "mango" : 20,
   "orange" : 10,
    "watermelon" : 0
}
#print(mark(type))
print(fruits["mango"])

                         #Dict methodes 
fruits = {
    "cherry" : 200,
    "pineapple" : 20,
    "mango" : 30
}
print(fruits.items())#items methods
print(fruits.keys())#keys method
print(fruits.values())#values method
fruits.update({"mango": 200,"cherry" : 100})# update method
print(fruits.get("mango"))#get method
#print(fruits("mango")) giving error

<class 'dict'>
20
dict_items([('cherry', 200), ('pineapple', 20), ('mango', 30)])
dict_keys(['cherry', 'pineapple', 'mango'])
dict_values([200, 20, 30])
200
<class 'set'>
{9, 10, 23}
{'bhai', 2, 99, 233, 7, 9}
{89, 12, 23}
{1, 2, 3, 4, 5, 90, 91, 92, 93}
{2, 3, 4}

                                                                10.Set

In [53]:
#set is a collection of non-repetative element
my_set = {23,12}
print(type(my_set))

e = set()
set = {23,9,12,9,10,23,829,12,10} #In set repeated number print only one time
print(set)

<class 'set'>
{23, 9, 10, 12, 829}

                                                             Set methods

In [67]:
                              #property of sets
#sets are unordered
#sets are unindexed
#there is no way to change value of sets
#sets can not contain duplicate value


s = {23,34,90,"hello"}
print(s,type(s))
s.add(233)
print(s)
                                                  #operation on sets

                #remove methods in sets
s = {23,24,90,1.23,20}
s.remove(1.23)
print(s)
                #clear methods in sets
s = {23,24,29}
s.clear
                #union methods in sets print all they numbers
s1 = {1,2,3,9}
s2 = {90,10,39}
print(s1.union(s2))
                #intersection methods in sets same values are print
s1 = {1,2,3,4,5}
s2 = {90,91,1,3,2,5,4}
print(s1.intersection(s2))

{34, 'hello', 90, 23} <class 'set'>
{34, 233, 'hello', 23, 90}
{20, 23, 24, 90}
{1, 2, 3, 10, 39, 9, 90}
{1, 2, 3, 4, 5}

                                                        11.Conditional Expressions

In [116]:
"""if else and elif statements are a multiway decisions 
taken by our program due to certains condtions in our code"""
 
    #if-else statement
a = int(input("Enter the number of age: "))

if(a>=18):
    print("you are entering the above of age")#starting space in indentation space

else:
    print("you are entering the below of age")

print("good for you")

Enter the number of age:  21

you are entering the above of age
good for you

                                                     if-elif-else ladder

In [7]:
a = int(input("Enter the number of age:"))
if(a>=18):
    print("You are entering the above of age")
    print("good for you")

elif(a<0):
    print("You are entering the invalid age")

elif(a==0):
    print("You are entering the 0 which is not valid for you")

else:
    print("You are entering the below of age")

print("End of programming")

Enter the number of age: -23

You are entering the invalid age
End of programming

                                                            Quiz

In [4]:
a = int(input("Enter the number of age: "))
if(a>=18):
    print("yes")

else:
    print("no")

Enter the number of age:  23

yes

                                                       multiple-if-statement

In [13]:
a = int = int(input("Enter the number of age:"))
                 #if-statement no.1
if(a%2==0):
    print("a is even")

                #if-statement no.1 end

                            #if-statement no.2
if(a>=18):
    print("you are entering the above age")
    print("good for you")

elif(a<0):
    print("you are entering the invalid negative age")
    
else:
    print("you are entering the below age")

print("end of programming")
                        #if-statement no.2 end

Enter the number of age: 2

a is even
you are entering the below age
end of programming

                                                        12.loops in python

                                                          for loops

In [32]:
"""some times we want to repeat a set of statment in our program
for instance: print 1 to 1000 loops make easy for a program to tell the computer
which set of intraction to repeat and how!"""

for i in range(0,6):)#for loop also use in list,tuple,string 
    print(i)#start,stop,step

0
1
2
3
4
5

                                                           while loops

In [40]:
i = 0

while i < 6:
    print("harry")
    i = i + 1

harry
harry
harry
harry
harry
harry

                                                      loops using : list,string,if-else

In [41]:
                  #list using while loop
l = ["awez","rayyan"]
i = 0

while i<len(l):
    print(l[i])
    i = i + 1
        #list to using for loop
l = ["asif","mohsin","nabil"]
for i in l:
    print(i)
                #string for using for loop
s = "hello"
for i in s:
    print(i)
                #for loop also use in if else

l = [23,56]
for i in l:
    print(i)

else:
    print("done")#this is printed when  the loop is exhausts!

awez
rayyan
asif
mohsin
nabil
h
e
l
l
o
23
56
done

                                                       Break,continue,pass statement

In [2]:
for i in range(10):
    print(i)
    if i == 5:
        break # exit the loop
    #continue
for i in range(5):
    print(i)
    if i == 3:
        break # skip the iteration
    #pass
for i in range(5):
    print(i)
    if i == 2:
        pass #pass the all value

0
1
2
3
4
5
0
1
2
3
0
1
2
3
4

                                                          13.Function and recursion

In [17]:
'''A function is a group of statement performing  a specific task, 
a function can be reused by the programing in a given program any number of'''

#function defination
def avg():
    a = int(input("Enter the number of a: "))
    b = int(input("Enter the number of b: "))
    c = int(input("Enter the number of c: "))
    average = (a+ b + c)/3
    print(average)

avg() #function call
avg()
print("this is right")

 #Quiz
def goodday():
    print("Good day")

goodday()

Enter the number of a:  2
Enter the number of b:  2
Enter the number of c:  2

2.0

Enter the number of a:  2
Enter the number of b:  2
Enter the number of c:  2

2.0
this is right
Good day
Good day,Masir
thank you
Good day,rohan
thank u
Good day,nabil
thanks
Good day,Masir
Done
Good day Masir
thanxs
Good day rohan
thnkyou

                                                       There are two function

In [49]:
#  1.built in function is len(),print(),range()etc. (already present in python)
#  2.user define function is called Function Defination & Function Call(defined by the user)

                #function with argument
def goodday(name,end):
    print("Good day, "+ name)
    print(end)
    
goodday("haryy","Thank you")
goodday("Rohan","Thank U")
goodday("Nabil","Thanks")

                  #function return

def goodday(name,end):
    print("Good day",name)
    print(end)
    return "Done"

a = goodday("harry","thank You")
print(a)


             #default argument:we can have as default as default argument in a function 

def goodday(name,ending = "thank you"):
            print(f"Good day,{name}")
            print(ending)

goodday("Haryy","thanks")
goodday("Golu")

Good day, haryy
Thank you
Good day, Rohan
Thank U
Good day, Nabil
Thanks
Good day harry
thank You
Done
Good day,Haryy
thanks
Good day,Golu
thank you

                                                             Recursion

In [67]:
#recursion is a function which is calls itself it is used to directly 
#use a methematical formulaas a function 

'''
factorial(0) = 1
factorial(1) = 1
factorial(2) = 2*1*0
factorial(3) = 3*2*1*0
factorial(4) = 4*3*2*1*0
factorial(5) = 5*4*3*2*1*0

factorial(n) = n * factorial(n-1)
'''

def factorial(n):
    if(n == 1 or n == 0):
        return 1
    return n* factorial(n-1)

n = int(input("Ener a number :"))
print(f"the nfactorial of this number is{factorial(n)}")

Ener a number : 3

the nfactorial of this number is6

                                                                   14.file I/O

In [26]:
'''
a = "a is very long string with emails"
emails[]
3 seconds
'''

#f = open("file.txt","r")
#data = f.read()
#print(data)
#f.close()

'\na = "a is very long string with emails"\nemails[]\n3 seconds\n'

                                                   15.OBJECT OREINTED PROGRAMMING(OOP)

In [98]:
#A class is blueprint of an object atrribute

           #first syntax of oops
#--------------------------------------------------#
class employee():
    name= "rohan"
    language = "py"
    salary = 12000

harry = employee()
print(harry.name,harry.language,harry.salary)
#-----------------------------------------------------#

class employee(): #This is an class attribute
    language = "python"
    salary = 130000

harry = employee() 
harry.name = "Nabil" #this is an instance attribute
harry.salary = 14000
print(harry.name,harry.language,harry.salary)

rohan = employee()
rohan.name = "Masir" 
rohan.language = "C++"
print(rohan.name,rohan.language,rohan.salary) #is attribute present in instance print instance or not in they print class

rohan py 12000
Nabil python 14000
Masir C++ 130000
 hello ,i am shaikh masir and my 120000
good morning

                                                               elf parameter

In [ ]:

class employee:
    name = "shaikh masir"
    salary = 120000

    def getinfo(self):
        print(f" hello ,i am {self.name} and my {self.salary}")

    @staticmethod
    def greet():
        print("good morning")
        
harry = employee()
harry.getinfo()
harry.greet()

                                                            Init contructor method

In [60]:
class empolyee():
    language = "py"
    salary = 120000

    def __inti__(self):
        print("i am creating an object")

harry = employee()
harry.name = harry
print(harry.name,harry.salary)

<__main__.employee object at 0x000002828D43AA80> 120000

                                                     16.Inheritance and more on oops

In [48]:
#inheritence is a way of creating a new class from the existing class
                       #Single inheritence:base class to derived class
                       #Multiple inheritence:parent 1 class parent 1 class to chlid class
                       #Multilevel inheritence:parent class to chlid 1 or chlid 2

class Employee:
    company = "ITC ford" # bas class is chlid class
    name = "future"
    def show(self):
        print(f"the name of my company is {self.company} this is very usefull to our {self.name}")

class coder:       #base class is child class
    language="Java"
    def printlanguage(self):
        print(f"the {self.language} is very easy to read and write")

class programming(Employee,coder): #derived class is parent class
    company = "coding"
    def print(self):
        print(f"the name of {self.language} and he is good for {self.company}")


a = Employee()
b = programming()

b.show()
b.printlanguage()
b.print()

the name of my company is coding this is very usefull to our future
the Java is very easy to read and write
the name of Java and he is good for coding

                                                       Multilevel inheritence

In [49]:
class employee:
    a = 1

class programming(employee):
    b = 2

class manager(programming):
    c = 3

p = employee()
print(p.a)

p = programming()
print(p.a,p.b)

p = manager()
print(p.a,p.b,p.c)

1
1 2
1 2 3

                                                        super()methods

In [47]:
class employee:
    def __init__(self):
        print("constructor of employee")
    a = 1

class programmming(employee):
    def __init__(self):
        print("constructor of programming")
    
    b = 2

class manager(programming):
    def __init__(self):
        super().__init__()
        print("constructor of manager")
    c = 3

p = employee()
print(p.a)

p = manager()
print(p.a,p.b,p.b)

NameError: name 'programming' is not defined